<link rel="icon" type="image/ico" href="http://tattek.com/minimal/assets/images/favicon.ico" />
 <!-- Bootstrap -->
<!-- <link href="__PUBLIC__/Theme/Fashion/assets/css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet"> -->
<link href="__PUBLIC__/Home/css/bootstrap.min.css" rel="stylesheet">
<!-- font-awesome3.0 -->
<!-- <link href="__PUBLIC__/Theme/Fashion/assets/css/font-awesome.min.css" rel="stylesheet"> -->
<link href="__PUBLIC__/Home/css/font-awesome.css" rel="stylesheet">
<link href="__PUBLIC__/Theme/Fashion/assets/css/haihanAdd.css" rel="stylesheet">
<link rel="stylesheet" href="__PUBLIC__/Theme/Fashion/assets/css/vendor/animate/animate.min.css">
<link type="text/css" rel="stylesheet" media="all" href="__PUBLIC__/Theme/Fashion/assets/js/vendor/mmenu/css/jquery.mmenu.all.css" />
<link rel="stylesheet" href="__PUBLIC__/Theme/Fashion/assets/js/vendor/videobackground/css/jquery.videobackground.css">
<link rel="stylesheet" href="__PUBLIC__/Theme/Fashion/assets/css/vendor/bootstrap-checkbox.css">
<link rel="stylesheet" href="__PUBLIC__/Theme/Fashion/assets/js/vendor/jgrowl/css/jquery.jgrowl.min.css">
<link rel="stylesheet" href="__PUBLIC__/Theme/Fashion/assets/js/vendor/chosen/css/chosen.min.css">
<link rel="stylesheet" href="__PUBLIC__/Theme/Fashion/assets/js/vendor/chosen/css/chosen-bootstrap.css">
<link rel="stylesheet" href="__PUBLIC__/Theme/Fashion/assets/js/vendor/typeahead/css/typeahead.js-bootstrap.css">
<!-- <link rel="stylesheet" href="__PUBLIC__/Theme/Fashion/assets/js/vendor/datepicker/css/bootstrap-datetimepicker.css"> -->
<link rel="stylesheet" href="__PUBLIC__/Theme/Fashion/assets/js/vendor/datetimepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="__PUBLIC__/Theme/Fashion/assets/js/vendor/no-ui-slider/css/jquery.nouislider.min.css">
<link rel="stylesheet" href="__PUBLIC__/Theme/Fashion/assets/js/vendor/tabdrop/css/tabdrop.css">
<link href="__PUBLIC__/Theme/Fashion/assets/css/minimal.css" rel="stylesheet">
<link rel="stylesheet" href="__PUBLIC__/Theme/Fashion/assets/js/vendor/tabdrop/css/fairsoform.css">
<link rel="stylesheet" type="text/css" href="__CSS__/webuploader.css">
<link rel="stylesheet" type="text/css" href="__CSS__/diyUpload.css">


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]--><SCRIPT Language=VBScript><!--

//--></SCRIPT>