<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__PUBLIC__/Theme/Fashion/assets/js/jquery.min.js"></script>
<script class="fairsoformJS" src="__PUBLIC__/Theme/Fashion/assets/js/ZeroClipboard.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="__PUBLIC__/Theme/Fashion/assets/js/vendor/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Theme/Fashion/assets/js/vendor/mmenu/js/jquery.mmenu.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Theme/Fashion/assets/js/vendor/sparkline/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Theme/Fashion/assets/js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Theme/Fashion/assets/js/vendor/animate-numbers/jquery.animateNumbers.js"></script>
<script type="text/javascript" src="__PUBLIC__/Theme/Fashion/assets/js/vendor/videobackground/jquery.videobackground.js"></script>
<script type="text/javascript" src="__PUBLIC__/Theme/Fashion/assets/js/vendor/blockui/jquery.blockUI.js"></script>

<script src="__PUBLIC__/Theme/Fashion/assets/js/vendor/jgrowl/jquery.jgrowl.min.js"></script>
<script src="__PUBLIC__/Theme/Fashion/assets/js/vendor/typeahead/typeahead.min.js"></script>
<script src="__PUBLIC__/Theme/Fashion/assets/js/vendor/momentjs/moment-with-langs.min.js"></script>
<!-- <script src="__PUBLIC__/Theme/Fashion/assets/js/vendor/datepicker/bootstrap-datetimepicker.min.js"></script> -->
<script src="__PUBLIC__/Theme/Fashion/assets/js/vendor/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<!-- <script src="__PUBLIC__/Theme/Fashion/assets/js/vendor/datetimepicker/bootstrap-datetimepicker.js"></script> -->
<script src="__PUBLIC__/Theme/Fashion/assets/js/vendor/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="__PUBLIC__/Theme/Fashion/assets/js/vendor/chosen/chosen.jquery.min.js"></script>

<script src="__PUBLIC__/Theme/Fashion/assets/js/vendor/no-ui-slider/jquery.nouislider.min.js"></script>
<script src="__PUBLIC__/Theme/Fashion/assets/js/vendor/tabdrop/bootstrap-tabdrop.min.js"></script>


<script src="__PUBLIC__/Theme/Fashion/assets/js/minimal.min.js"></script>
<!-- 加载自定义JS -->
<script src="__PUBLIC__/Theme/Fashion/assets/js/custom/date/dateyearmonth.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=N3rmOlNnq9iDPO26CUfVUGD7"></script>

<script type="text/javascript" charset="utf-8" src="__PLUG__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PLUG__/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="__PLUG__/ueditor/ueditor.parse.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script language="javascript" class='printjs' src="__JS__/jquery.jqprint-0.3.js"></script>
<script type="text/javascript" charset="utf-8" src="__PLUG__/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="__JS__/webuploader.html5only.min.js"></script>
<script type="text/javascript" src="__JS__/diyUpload.js?time=1468910451"></script>


<!-- 表单校验类 -->
<script>
	//var WEBURL = '__WEBURL__';
	var WEBURL = '__URL__/index.php';
	var URLS = '__URL__/admin.php';
	var URL = '__URL__';
	var PLUGS = '__PLUGS__';
//alert(URLS)	
</script>

<script src="__PUBLIC__/Theme/Fashion/assets/js/jquery.form.js"></script>
<script class="fairsoformJS" src="__PUBLIC__/Theme/Fashion/assets/js/fairsoformg.js"></script>
