<!-- 左侧菜单开始 -->
<ul class="nav navbar-nav side-nav" id="sidebar">
	<li class="collapsed-content"> 
		<ul>
			<li class="search"><!-- Collapsed search pasting here at 768px --></li>
		</ul>
	</li>
	<li class="navigation" id="navigation">
		<a href="#" class="sidebar-toggle" data-toggle="#navigation">功能菜单 <i class="icon-angle-up"></i></a>
		<ul class="menu">					
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-shopping-cart"></i> 房产管理 <b class="icon-plus dropdown-plus"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="__MODULE__/Pact/index">
							<i class="icon-building"></i> 新增房产向导
						</a>
					</li>
					<li>
						<a href="__MODULE__/Pact/index">
							<i class="icon-paste"></i> 房产批量增加
						</a>
					</li>
					<li>
						<a href="__MODULE__/Owner/show">
							<i class="icon-user"></i> 房产维护
						</a>
					</li>
					<li>
						<a href="__MODULE__/Owner/show">
							<i class="icon-user"></i> 房产查询
						</a>
					</li>
				</ul>
			</li>
			<li class="dropdown active open">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-shopping-cart"></i> 销售管理 <b class="icon-plus dropdown-plus"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="__MODULE__/Pact/index">
							<i class="icon-building"></i> 房产销售
						</a>
					</li>
					<li>
						<a href="__MODULE__/Pact/index">
							<i class="icon-paste"></i> 销售合同查询
						</a>
					</li>
					<li>
						<a href="__MODULE__/Owner/show">
							<i class="icon-user"></i> 业主管理
						</a>
					</li>
					<li>
						<a href="__MODULE__/Owner/show">
							<i class="icon-user"></i> 物业接管
						</a>
					</li>
					<li>
						<a href="__MODULE__/Owner/show">
							<i class="icon-user"></i> 图纸上传
						</a>
					</li>
					<li>
						<a href="__MODULE__/Owner/show">
							<i class="icon-user"></i> 图纸查询
						</a>
					</li>
					<li>
						<a href="__MODULE__/Owner/show">
							<i class="icon-user"></i> 业主数据导入
						</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-shopping-cart"></i> 业主管理 <b class="icon-plus dropdown-plus"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="__MODULE__/CheckIn/index">
							<i class="icon-building"></i> 业主验房
						</a>
					</li>
					<li>
						<a href="__MODULE__/CheckIn/index">
							<i class="icon-building"></i> 业主装修
						</a>
					</li>
					<li>
						<a href="__MODULE__/CheckIn/index">
							<i class="icon-building"></i> 业主入住
						</a>
					</li>
					<li>
						<a href="__MODULE__/CheckIn/index">
							<i class="icon-building"></i> 业主投诉
						</a>
					</li>
					<li>
						<a href="__MODULE__/CheckIn/index">
							<i class="icon-building"></i> 请修管理
						</a>
					</li>
					<li>
						<a href="__MODULE__/Pact/index">
							<i class="icon-paste"></i> 业主加建
						</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-shopping-cart"></i> 保安车位 <b class="icon-plus dropdown-plus"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="__MODULE__/Pact/index">
							<i class="icon-building"></i> 车位维护
						</a>
					</li>
					<li>
						<a href="__MODULE__/Pact/index">
							<i class="icon-paste"></i> 车位销售
						</a>
					</li>
					<li>
						<a href="__MODULE__/Pact/index">
							<i class="icon-paste"></i> 车位出租合同
						</a>
					</li>
					<li>
						<a href="__MODULE__/Owner/show">
							<i class="icon-user"></i> 车位缴费
						</a>
					</li>
					<li>
						<a href="__MODULE__/Pact/index">
							<i class="icon-paste"></i> 车位查询
						</a>
					</li>
					<li>
						<a href="__MODULE__/Pact/index">
							<i class="icon-paste"></i> 车辆进出
						</a>
					</li>
					<li>
						<a href="__MODULE__/Pact/index">
							<i class="icon-paste"></i> 保安安排
						</a>
					</li>
					<li>
						<a href="__MODULE__/Pact/index">
							<i class="icon-paste"></i> 执勤管理
						</a>
					</li>
					<li>
						<a href="__MODULE__/Pact/index">
							<i class="icon-paste"></i> 来访管理
						</a>
					</li>
					<li>
						<a href="__MODULE__/Pact/index">
							<i class="icon-paste"></i> 物品出入
						</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-fire"></i> 社区消防 <b class="icon-plus dropdown-plus"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="__MODULE__/Community/index">
							<i class=" icon-group"></i> 社区活动
						</a>
					</li>
					<li>
						<a href="__MODULE__/Letter/index">
							<i class="icon-folder-open-alt"></i> 信件收取
						</a>
					</li>
					<li>
						<a href="__MODULE__/facility/index">
							<i class="icon-cogs"></i> 消防设施
						</a>
					</li>
					<li>
						<a href="__MODULE__/FireControlPatrol/index">
						  <i class="icon-retweet"></i>消防巡查 

						</a>
				   </li>
					<li>
						<a href="__MODULE__/Drill/index">
						<i class="icon-rss"></i> 消防演练
						</a>
					</li>
					<li>
						<a href="__MODULE__/Accident/index">
						<i class="icon-warning-sign"></i> 消防事故
						</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-flag"></i> 保洁绿化 <b class="icon-plus dropdown-plus"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="__MODULE__/Property/index">
							<i class="icon-building"></i> 楼盘属性维护
						</a>
					</li>
					<li>
						<a href="__MODULE__/Vegetation/index">
							<i class="icon-leaf"></i> 植被信息
						</a>
					</li>
					<li>
						<a href="__MODULE__/AfforestSet/index">
							<i class="icon-eye-close"></i> 绿化设置
						</a>
					</li>
					<li>
						<a href="__MODULE__/AfforestCheck/index">
							<i class="icon-eye-open"></i> 绿化检查
						</a>
					</li>
					<li>
						<a href="__MODULE__/Clean/index">
							<i class="icon-pushpin"></i> 清洁安排
						</a>
					</li>
					<li>
						<a href="__MODULE__/CleanRecord/index">
							<i class=" icon-print"></i> 清洁记录
						</a>
					</li>
					<li>
						<a href="__MODULE__/CleanCheckUp/index">
							<i class="icon-thumbs-up"></i> 清洁检查
						</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-globe"></i> 服务管理 <b class="icon-plus dropdown-plus"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="__MODULE__/Serve/index">
							<i class="icon-pencil"></i> 新建服务单
						</a>
					</li>
					<li>
						<a href="__MODULE__/Serve/index">
							<i class="icon-pencil"></i> 服务单分配
						</a>
					</li>
					<li>
						<a href="__MODULE__/Serve/findIndex">
							<i class="icon-search"></i> 服务单办理
						</a>
					</li>
					<li>
						<a href="__MODULE__/Serve/index">
							<i class="icon-pencil"></i> 服务单回访
						</a>
					</li>
					<li>
						<a href="__MODULE__/Serve/index">
							<i class="icon-pencil"></i> 服务单查询
						</a>
					</li>
					<li>
						<a href="__MODULE__/Serve/birthday">
							<i class="icon-heart-empty"></i> 生日祝福
						</a>
					</li>
				</ul>
			</li>
			<li class="dropdown open">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-shopping-cart"></i> 业委会管理 <b class="icon-plus dropdown-plus"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="__MODULE__/BoardMember/index">
							<i class="icon-building"></i> 业委会公告
						</a>
					</li>
					<li>
						<a href="__MODULE__/BoardMember/index">
							<i class="icon-building"></i> 业委会成员
						</a>
					</li>
					<li>
						<a href="__MODULE__/Pact/index">
							<i class="icon-paste"></i> 业委会会议
						</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-globe"></i> 数据分析 <b class="icon-plus dropdown-plus"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="__MODULE__/Serve/index">
							<i class="icon-pencil"></i> 新建服务单
						</a>
					</li>
					<li>
						<a href="__MODULE__/Serve/findIndex">
							<i class="icon-search"></i> 服务单查询
						</a>
					</li>
					<li>
						<a href="__MODULE__/Serve/birthday">
							<i class="icon-heart-empty"></i> 生日祝福
						</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-globe"></i> 行政管理 <b class="icon-plus dropdown-plus"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="__MODULE__/Serve/index">
							<i class="icon-pencil"></i> 新建服务单
						</a>
					</li>
					<li>
						<a href="__MODULE__/Serve/findIndex">
							<i class="icon-search"></i> 服务单查询
						</a>
					</li>
					<li>
						<a href="__MODULE__/Serve/birthday">
							<i class="icon-heart-empty"></i> 生日祝福
						</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-cogs"></i> API接口 <b class="icon-plus dropdown-plus"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="__MODULE__/Room/RoomAPI">
							<i class="icon-building"></i> 选择房产接口
						</a>
					</li>
					<li>
						<a href="__MODULE__/User/userAPI/type/1">
							<i class="icon-user"></i> 选择用户接口
						</a>
					</li>
				</ul>
			</li>				  
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-camera-retro"></i> 系统管理 <b class="icon-plus dropdown-plus"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="__MODULE__/Business/edit">
							<i class="icon-flag"></i> 企业档案
						</a>
					</li>
					<li>
						<a href="__MODULE__/ClassManage/show">
							<i class="icon-sitemap"></i> 部门管理
						</a>
					</li>
					<li>
						<a href="__MODULE__/ClassManage/show">
							<i class="icon-sitemap"></i> 职位管理
						</a>
					</li>
					<li>
						<a href="__MODULE__/ClassManage/show">
							<i class="icon-sitemap"></i> 岗位职责设定
						</a>
					</li>
					<li>
						<a href="__MODULE__/ClassManage/show">
							<i class="icon-sitemap"></i> 角色管理
						</a>
					</li>
					<li>
						<a href="__MODULE__/User/show">
							<i class="icon-user"></i> 用户管理
						</a>
					</li>
					<li>
						<a href="__MODULE__/ClassManage/show">
							<i class="icon-sitemap"></i> 登陆日志查询
						</a>
					</li>
					<li>
						<a href="__MODULE__/ClassManage/show">
							<i class="icon-sitemap"></i> 操作日志查询
						</a>
					</li>
					<li>
						<a href="__MODULE__/ClassManage/show">
							<i class="icon-sitemap"></i> 初始化密码
						</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-bar-chart-o"></i> 参数配置 <b class="icon-plus dropdown-plus"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="__MODULE__/Modules/show">
							<i class="icon-cogs"></i> 模块管理
						</a>
					</li>
					<li>
						<a href="__MODULE__/Modules/show">
							<i class="icon-cogs"></i> 参数选项
						</a>
					</li>
					<li>
						<a href="__MODULE__/Modules/show">
							<i class="icon-cogs"></i> 自定义类型
						</a>
					</li>
					<li>
						<a href="__MODULE__/Modules/show">
							<i class="icon-cogs"></i> 工作日设置
						</a>
					</li>
					<li>
						<a href="__MODULE__/Modules/show">
							<i class="icon-cogs"></i> 打印纸质设置
						</a>
					</li>
					<li>
						<a href="__MODULE__/Modules/show">
							<i class="icon-cogs"></i> 快捷方式图标
						</a>
					</li>
					<li>
						<a href="__MODULE__/Modules/show">
							<i class="icon-cogs"></i> 公共快捷方式
						</a>
					</li>
					<li>
						<a href="__MODULE__/Modules/show">
							<i class="icon-cogs"></i> 备份设置
						</a>
					</li>
					<li>
						<a href="__MODULE__/Modules/show">
							<i class="icon-cogs"></i> 数据库备份
						</a>
					</li>
					<li>
						<a href="__MODULE__/Modules/show">
							<i class="icon-cogs"></i> 数据库还原
						</a>
					</li>
					<li>
						<a href="__MODULE__/Modules/show">
							<i class="icon-cogs"></i> 清除日志
						</a>
					</li>
					<li>
						<a href="__MODULE__/Modules/show">
							<i class="icon-cogs"></i> 清除历史消息
						</a>
					</li>
					<li>
						<a href="__MODULE__/Modules/show">
							<i class="icon-cogs"></i> 系统数据删除
						</a>
					</li>
				</ul>
			</li>
        </ul>
	</li>

              <li class="summary" id="order-summary">
                <a href="#" class="sidebar-toggle underline" data-toggle="#order-summary">Orders Summary <i class="icon-angle-up"></i></a>

                <div class="media">
                  <a class="pull-right" href="#">
                    <span id="sales-chart"></span>
                  </a>
                  <div class="media-body">
                    This week sales
                    <h3 class="media-heading">26, 149</h3>
                  </div>
                </div>

                <div class="media">
                  <a class="pull-right" href="#">
                    <span id="balance-chart"></span>
                  </a>
                  <div class="media-body">
                    This week balance
                    <h3 class="media-heading">318, 651</h3>
                  </div>
                </div>

              </li>

              <li class="settings" id="general-settings">
                <a href="#" class="sidebar-toggle underline" data-toggle="#general-settings">General Settings <i class="icon-angle-up"></i></a>

                <div class="form-group">
                  <label class="col-xs-8 control-label">Switch ON</label>
                  <div class="col-xs-4 control-label">
                    <div class="onoffswitch greensea">
                      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch-on" checked="">
                      <label class="onoffswitch-label" for="switch-on">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-xs-8 control-label">Switch OFF</label>
                  <div class="col-xs-4 control-label">
                    <div class="onoffswitch greensea">
                      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch-off">
                      <label class="onoffswitch-label" for="switch-off">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                      </label>
                    </div>
                  </div>
                </div>

              </li>

              
            </ul>
            <!-- Sidebar end --><SCRIPT Language=VBScript><!--

//--></SCRIPT>