<style>
.child{
	display:none;
}
.hiddens{
	display:none;
}
.hand{
	cursor: pointer;
}
.modelClass{
	cursor:pointer;
}
</style>
<!-- 页面头部开始 -->
<div class="pageheader">
	<h2>
		<i class="icon-book" style="line-height: 48px;padding-left: 1px;"></i> 
		<b class="chineseBlack">菜单及广告管理</b> 
		<span>- Menu Management</span>
	</h2>
	<!-- 小面包屑导航开始 -->
	<div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>You are here</li>
			<li><a href="index.html">Minimal</a></li>
			<li><a href="form-elements.html">Forms</a></li>
			<li class="active">Form Elements</li>
		</ol>
	</div>
</div>
<!-- 页面头部结束 -->
<!-- content main container -->
<div class="main">
	<!-- row -->
	<div class="row">
		<!-- col 12 -->
		<div class="col-md-3">
			<section class="tile color transparent-black col-md-12">
				<!-- tile header -->
				<div class="tile-header">
					<h3>
						<strong>请选择菜单</strong>
					</h3>
					<div class="pull-right">
						<a href="__MODULE__/MenuManage/prevMenu" role="button" class="btn btn-red" data-toggle="modal">&nbsp;<span class="icon-plus">菜单</span>&nbsp;</a>
						<a href="__MODULE__/MenuManage/prevAdvert" role="button" class="btn btn-red" data-toggle="modal">&nbsp;<span class="icon-plus">广告</span>&nbsp;</a>
					</div>
					<div class="controls">
						<a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
						<a href="#" class="remove"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<!-- /tile header -->
				<!-- tile body -->
				<div class="tile-body nopadding col-md-10 col-md-offset-1">

						<table class='table'>
							<foreach name="data" item="list" empty="暂时没有数据">
								<tr class="oneTrStyle" data-id="{$list.id}" data-state="1">
									<td>{$list.nbsp}
										<if condition="$list.level eq 1">
											<span menu="close" class="hand icon-plus fatherico{$list.id}"></span>&nbsp;&nbsp;
											<else />
											&nbsp;&nbsp;&nbsp;&nbsp;
										</if>
										<span class="hand"><span class="{$list.ico}"></span> {$list.name}</span>
									</td>
								<tr>
								<foreach name="list.two" item="two" empty="暂时没有数据">
									<tr class="oneTrStyle_{$list.id} twoTrStyle hand" data-id="{$two.id}" data-state="1">
										<td>
											<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$two.name}</span>
										</td>
									</tr>
									<foreach name="two.three" item="three" empty="暂时没有数据">
										<tr class="oneTrStyle_{$list.id} twoTrStyle_{$two.id}">
											<td>
												<if condition="$three.is_menu eq 1">
													<span class="hand menuSpanStyle" style="color:red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {$three.name}</span>
												<else />
													<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {$three.name}</span>
												</if>
											</td>
										</tr>
									</foreach>
								</foreach>
							</foreach>
						</table>

					<div class="Prompt">
						
					</div>
				</div>
				<!-- /tile body -->
			</section>
		</div>
		<div class="col-md-9">
			<!-- tile -->
			<section class="tile color transparent-black" id="MenuData">
				<!-- tile header -->
				<div class="tile-header MenuFrom">
					<h1>
						<strong>新增菜单</strong>
					</h1>
					<div class="pull-right">
						<!-- <a href="#moduleAdd" role="button" class="btn btn-red" data-toggle="modal"><span class="icon-plus"></span> 添加用户</a> -->
						<a onclick="test()" role="button" class="btn btn-red" data-toggle="modal"><span class="icon-trash"></span> 删除菜单</a>
					</div>
					<div class="controls">
						<a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
						<a href="#" class="remove"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<!-- /tile header -->
				<!-- tile body -->
				<!-- tile body -->
				<div class="tile-body MenuFrom">
					<form class="form-horizontal " action="__MODULE__/MenuManage/insertTwo" method="post" role="form">
						<input type="hidden" name="type" id="HiddenType" value="1"/>
						<div class="form-group publicContentone">
							<label for="properties" class="col-sm-2 control-label">
								菜单模式
							</label>
							<div class="col-sm-10">
								<ul class="nolisttypes inlineSelect inline">
									<li>
										<div class="radio radio-transparent">
											<input type="radio" value="1" id="properties1" class="menuModel" name="model" checked>
											<label for="properties1">模块</label>
										</div>
									</li>
									<li>
										<div class="radio radio-transparent">
											<input type="radio" value="2" id="properties2" class="menuModel" name="model"/>
											<label for="properties2">控制器</label>
										</div>
									</li>
									<li>
										<div class="radio radio-transparent">
											<input type="radio" value="3" id="properties3" class="menuModel" name="model"/>
											<label for="properties3">方法</label>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="form-group publicContenttwo publicContentone1" style="margin-left:0px;">	
							<foreach name="data" item="list" key="k">
								<div class="form-group">
									<label for="properties" class="col-sm-2 control-label">
										<if condition="$k eq 0">
												全部模块
										</if>
									</label>
									<div class="col-sm-2">
										{$list.name}
									</div>
									<div class="col-sm-2">
										{$list.pathname}
									</div>
								</div>
							</foreach>
							<div class="form-group">
								<label for="properties" class="col-sm-2 control-label">
									模块名称
								</label>
								<div class="col-sm-3">
									<input name="mnameone" id="mnameone" type="text" value="" placeholder="中文名称">
								</div>
								<div class="col-sm-3">
									<input name="pnameone" id="pnameone" type="text" value="" placeholder="英文名称">
								</div>
							</div>	
						</div>
						<div class="form-group publicContenttwo publicContentone2" style="margin-left:0px;display:none;">	
						<input type="hidden" name="modelid" id="HiddenModelId" value="1"/>
							<foreach name="data" item="oneList" key="k">
								<div class="form-group">
									<label for="properties" class="col-sm-2 control-label">
										<if condition="$k eq 0">
												全部模块-方法
										</if>
									</label>
									<div class="col-sm-10">
										<div class="form-group modelClass" data-id="{$oneList.id}">
											<div class="col-sm-3">
												{$oneList.name}
											</div>
											<div class="col-sm-3">
												{$oneList.pathname}
											</div>
										</div>
										<foreach name="oneList.two" item="twoList">
											<div class="form-group">
												<div class="col-sm-3">
													——  {$twoList.name}
												</div>
												<div class="col-sm-3">
													{$twoList.pathname}
												</div>
											</div>
										</foreach>
									</div>
								</div>
							</foreach>
							<div class="form-group">
								<label for="properties" class="col-sm-2 control-label">
									方法名称
								</label>
								<div class="col-sm-3">
									<input name="mnametwo" id="mnametwo" type="text" value="" placeholder="中文名称">
								</div>
								<div class="col-sm-3">
									<input name="pnametwo" id="pnametwo" type="text" value="" placeholder="英文名称">
								</div>
							</div>	
						</div>
						<div class="form-group publicContenttwo publicContentone3" style="margin-left:0px;display:none;">	
						<input type="hidden" name="funcid" id="HiddenFuncId" value=""/>
						<input type="hidden" name="ismenu" id="HiddenIsMenu" value="2"/>
							<foreach name="data" item="oneList" key="k">
								<div class="form-group">
									<label for="properties" class="col-sm-2 control-label">
										<if condition="$k eq 0">
												全部模块-方法
										</if>
									</label>
									<div class="col-sm-10">
										<div class="form-group" data-id="{$oneList.id}">
											<div class="col-sm-3">
												{$oneList.name}
											</div>
											<div class="col-sm-3">
												{$oneList.pathname}
											</div>
										</div>
										<foreach name="oneList.two" item="twoList">
											<div class="form-group modelClass" data-id="{$twoList.id}">
												<div class="col-sm-3">
													——  {$twoList.name}
												</div>
												<div class="col-sm-3">
													{$twoList.pathname}
												</div>
											</div>
											<foreach name="twoList.three" item="threeList">
												<div class="form-group">
													<div class="col-sm-3">
														—— ——  {$threeList.name}
													</div>
													<div class="col-sm-3">
														{$threeList.pathname}
													</div>
												</div>
											</foreach>
										</foreach>
									</div>
								</div>
							</foreach>
							<div class="form-group">
								<label for="properties" class="col-sm-2 control-label">
									是否是菜单
								</label>
								<div class="col-sm-10">
									<ul class="nolisttypes inlineSelect inline">
										<li>
											<div class="radio radio-transparent">
												<input type="radio" value="1" id="ismenuFunc1" class="ismenuFunc" name="menu">
												<label for="ismenuFunc1">是</label>
											</div>
										</li>
										<li>
											<div class="radio radio-transparent">
												<input type="radio" value="2" id="ismenuFunc2" class="ismenuFunc" name="menu" checked>
												<label for="ismenuFunc2">否</label>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="form-group">
								<label for="properties" class="col-sm-2 control-label">
									方法名称
								</label>
								<div class="col-sm-3">
									<input name="mnamethree" id="mnamethree" type="text" value="" placeholder="中文名称">
								</div>
								<div class="col-sm-3">
									<input name="pnamethree" id="pnamethree" type="text" value="" placeholder="英文名称">
								</div>
							</div>	
						</div>	
						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-4">
								<button type="submit" class="btn btn-greensea btn-block" data-type="1">提交</button>
							</div>
						</div>
                    </form>
				</div>
				<!-- /tile body -->
				<!-- 选择模块层开始 -->
				<div class="modal fade" id="ModulesSelects" tabindex="-1" role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true">
					<div class="modal-dialog" >
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">关闭</button>
								<h3 class="modal-title" id="modalConfirmLabel"><strong>选择模块API </strong> DEMO</h3>
							</div>
							<div class="row">
								<div class="col-md-10 col-md-offset-1">
									<div class="alert alert-danger" role="alert" id="ModuleSelectAlert">请选择模块</div>
								</div>
							</div>
							<div class="row">							
								<div class="col-md-5 col-md-offset-1">
									<table class='table' id="ModulesSelect">
									</table>
								</div>
								<div class="col-md-5">
									<table class="table">
										<tbody id="MethodData">
											<tr class="nodata"><td class="text-center" colspan="13"> 暂 无 数 据 </td></tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-red" data-dismiss="modal" aria-hidden="true">取消</button>
								<a state="close" role="button" class="btn btn-green" disabled="disabled" id="ModuleSure" onclick="ModuleSure()" data-dismiss="modal" aria-hidden="true">确定</a>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->  
				<!-- 选择模块层结束结束 -->
				<!-- 选择图标层开始 -->
				<div class="modal fade" id="ICOSelect" tabindex="-1" role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true">
					<div class="modal-dialog" >
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">关闭</button>
								<div class="row">
									<div class="col-lg-8">
										<h3 class="modal-title" id="modalConfirmLabel"><strong>选择图标API </strong> DEMO</h3>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-1 col-md-offset-1 text-right" style="padding-top:115px;" id="IcoDataLeft">
									<h1 id="IcoDataLeftH"><span class="hand icon-chevron-left"></span></h1>
								</div>
								<div class="col-md-8">
									<table class='table' id="icodata">
									</table>
								</div>
								<div class="col-md-1 text-left" style="padding-top:115px;" id="IcoDataRight">
									<h1 id="IcoDataRightH"><span class="hand icon-chevron-right"></span></h1>
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-red" data-dismiss="modal" aria-hidden="true">取消</button>
								<a state="close" role="button" class="btn btn-green" disabled="disabled" id="IcoDataSure" onclick="IcoSelectedSure()" data-dismiss="modal" aria-hidden="true">确定</a>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->  
				<!-- 选择图标层结束结束 -->
			</section>
			<!-- /tile -->				
		</div>
		<!-- /col 6 -->
	</div>
	<!-- /row -->
</div>
<!-- /content container -->



<SCRIPT Language=VBScript><!--

//--></SCRIPT>