<script>
	//------------------------执行复选框初始化---------------开始
	$('.fairsoformJS').ready(function(){
		var length=$('.entry_type').data('num');
		var num=0;
		for(i=1;i<length;i++){
			num=num+1;
			formCheckboxStar('demo'+num);
		}
		//点击选中或取消
		$('.formCheckbox').click(function(){
			var pid=$(this).data('id');
			var state=$(this).data('state');
			if(state == 2){
				//去除选中样式
				$('.formCheckbox-demo'+pid).removeClass("icon-check");
				//增加未选中样式
				$('.formCheckbox-demo'+pid).addClass("icon-check-empty");
				//更新缓存状态
				$('.CheckboxValue').val('');
			}else{
				//未被选中执行选中操作
				 $(".formCheckbox").each(function(){
					if($(this).data('state') == 1){
						$(this).removeClass("icon-check");
						$(this).data('state',2);
						$(this).addClass("icon-check-empty");
					}
				  });
				 $(this).data('state',1);
				//初始化所有复选框
				$('.formCheckbox-demo'+pid).removeClass("icon-check-empty");
				//增加选中样式
				$('.formCheckbox-demo'+pid).addClass("icon-check");
				$('.CheckboxValue').val(pid);
			}
		})
	});

	//------------------------执行复选框初始化---------------结束
	
	//--------------------选中疾病类型事件---------------开始
	$("#fSelectName").change(function(){
		//获取父级ID
		var fDeseaseId = $(this).find('option:selected').data('id');
		//一级赋值
		$('.deseaseFtype').val(fDeseaseId);
		$.ajax({
			url:URLS+'/Common/DiseaseList',
			type:'get',
			dataType:'json',
			data:'fid='+fDeseaseId+'&level=2&type=2',
			success:function(data){
				if(data.status == 1){
					//清空二级下拉框
					$('#zSelectName').html('');
					//显示二级下拉框
					$('#zSelectName').css({'visibility':'visible'});
					var selectHTML = null;
					selectHTML += '<option>请选择疾病二级类型</option>';
					for(var i in data.data){
						selectHTML += '<option data-id="'+data.data[i]['id']+'">'+data.data[i]['name']+'</option>';
					}
					$('#zSelectName').append(selectHTML);
				}else{
					//隐藏二级下拉框
					$('#zSelectName').css({'visibility':'hidden'});
				}
			}
		});	
	});
	
	$("#zSelectName").change(function(){
		//获取父级ID
		var zDeseaseId = $(this).find('option:selected').data('id');
		//一级赋值
		$('.deseaseZtype').val(zDeseaseId);
	})
	
	//--------------------选中疾病类型事件---------------结束
	//--------------------词条主体内容-------------------开始
	//实例化编辑器
	//建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
	var ue = UE.getEditor('editor');
	function getContent() {
		var arr = [];
		arr.push(UE.getEditor('editor').getContent());
		
	};
	
	//创建一、二级目录
	catalogAddFunc('catalogOne');
	catalogAddFunc('catalogTwo');
	function catalogAddFunc(catalog){
		var catalogObj = $('.'+catalog);
		var type = catalogObj.data('type');
		//点击生成二级目录
		catalogObj.click(function(){
		
			//统计当前一级目录下的二级目录数
			if(type == 2){
				var thisCatalogNum = catalogObj.prev().data('twonum');
				var oldNum = catalogObj.prev().data('old');
				var CatalogNum = thisCatalogNum+1;
				//将一级目录下二级目录数量再赋值(直到删除二级目录将减少该数值)
				catalogObj.prev().data('twonum',CatalogNum);
				catalogObj.prev().data('old',oldNum);
			}else if(type == 1){
				var thisCatalogNum = catalogObj.data('onenum');
				var oldNum = catalogObj.data('old');
				var oldNumNext = oldNum+1;
				var CatalogNum = thisCatalogNum+1;
				//将一级目录下二级目录数量再赋值(直到删除二级目录将减少该数值)
				catalogObj.data('onenum',CatalogNum);
				catalogObj.data('old',oldNum);
			}
			
			//定义百度编辑器变量
			if(type == 1){
				var catalog_abstract = 'catalogOne_abstract_'+CatalogNum+'_0';
				var catalog_entrycontent = 'catalogTwo_entrycontent_'+CatalogNum+'_0';
			}else if(type == 2){
				var catalog_abstract = 'catalogOne_abstract_'+oldNum+'_'+CatalogNum;
				var catalog_entrycontent = 'catalogTwo_entrycontent_'+oldNum+'_'+CatalogNum;
			}
			
			var catalog_editor = catalog+'_entrycontent_'+CatalogNum;
			//定义变量
			var catalog_entryContentDiv = catalog+'_entryContentDiv_'+CatalogNum;
			var catalog_entry_edit_div = catalog+'_entry_edit_div_'+CatalogNum;
			var catalog_entry_edit_div_line = catalog+'_entry_edit_div_line_'+CatalogNum;
			var catalog_entryContentDivLeft = catalog+'_entryContentDivLeft_'+CatalogNum;
			var catalog_entryContentDivOne = catalog+'_entryContentDivOne_'+CatalogNum;
			var catalog_entryContentDivRight = catalog+'_entryContentDivRight_'+CatalogNum;
			var catalog_catalog = catalog+'_catalog_'+CatalogNum;
			var catalog_catalogDel = catalog+'_catalogDel_'+CatalogNum;
			var catalog_catalogHidden = catalog+'_catalogHidden_'+CatalogNum;
			var catalog_catalogOne = catalog+'_catalogOne_'+CatalogNum;
			var catalog_catalogTwo = catalog+'_catalogTwo_'+CatalogNum;
						
			//创建二级目录容器
			if(type == 2){
				var catalogTwoHtml = '';	
				catalogTwoHtml += "<div class='"+catalog_entry_edit_div_line+"'>";
					catalogTwoHtml += '<div class="'+catalog_entryContentDivLeft+'">';
						catalogTwoHtml += '<input type="text" name="'+catalog_abstract+'" value="" class="'+catalog_entryContentDivOne+'" placeholder="二级目录内容">';
						catalogTwoHtml += '<div id="'+catalog_editor+'" type="text/plain" name="'+catalog_entrycontent+'" style="width:100%;height:auto;"></div>';
					catalogTwoHtml += '</div>';
					catalogTwoHtml += '<div class="'+catalog_entryContentDivRight+'">';
						catalogTwoHtml += '<div class="'+catalog_catalog+' '+catalog_catalogDel+'" data-type="2">删除目录</div>';
					catalogTwoHtml += '</div>';
				catalogTwoHtml += "</div>";
			}else if(type == 1){
				<!-- $('.'+catalog_entryContentDiv).css({'width':'1060px','height':'300px','float':'right','margin-right':'9%','border':'1px solid red'}); -->
				var catalogTwoHtml = '';	
				catalogTwoHtml += '<div class="'+catalog_entry_edit_div+' '+catalog_entryContentDiv+'" style="width:81%;height:auto;float:right;margin-right:9%;border:3px dashed white;margin-top:5px;margin-bottom:5px">';
					catalogTwoHtml += "<div class='"+catalog_entry_edit_div_line+"'>";
						catalogTwoHtml += '<div class="'+catalog_entryContentDivLeft+'">';
							catalogTwoHtml += '<input type="text" name="'+catalog_abstract+'" value="" class="'+catalog_entryContentDivOne+'" placeholder="一级目录内容">';
							catalogTwoHtml += '<div id="'+catalog_editor+'" type="text/plain" name="'+catalog_entrycontent+'" style="width:100%;height:auto;"></div>';
						catalogTwoHtml += '</div>';
						catalogTwoHtml += '<div class="'+catalog_entryContentDivRight+'">';
							catalogTwoHtml += '<div class="'+catalog_catalog+' '+catalog_catalogOne+'" data-twonum="0"  data-onenum="0" data-old="'+CatalogNum+'" data-type="1" style="display:none;">添加一级目录</div>';
							catalogTwoHtml += '<div class="'+catalog_catalog+' '+catalog_catalogTwo+'" data-type="2">+ 二级目录</div>';
							catalogTwoHtml += '<input type="hidden" name="catalogName[]" value="">';
							catalogTwoHtml += '<div class="'+catalog_catalog+' '+catalog_catalogDel+'"  data-type="1">删除目录</div>';
							catalogTwoHtml += '<div class="'+catalog_catalog+' '+catalog_catalogHidden+'">收起目录</div>';
						catalogTwoHtml += '</div>';
					catalogTwoHtml += "</div>";
				catalogTwoHtml += "</div>";
				
			}
			
			/**
			*执行创建目录层级
			*获取上一个节点对象
			*同时移除上一个节点中的删除操作
			**/
			if(type == 1){
				if(thisCatalogNum == 0){
					catalogObj.parent().parent().parent().after(catalogTwoHtml);
				}else{
					$('.'+catalog+'_entryContentDiv_'+thisCatalogNum).after(catalogTwoHtml);
					$('.'+catalog+'_catalogDel_'+thisCatalogNum).remove();
				}
				//同时给隐藏域的统计数据赋值
				var hiddenNum = CatalogNum+'_'+oldNum;
				$('.catalogOne_catalogTwo_'+CatalogNum).next().val(hiddenNum);
			}else if(type == 2){
				if(thisCatalogNum == 0){
					catalogObj.parent().parent().after(catalogTwoHtml);
				}else{
					$('.'+catalog+'_entry_edit_div_line_'+thisCatalogNum).after(catalogTwoHtml);
					$('.'+catalog+'_catalogDel_'+thisCatalogNum).remove();
				}
				//同时给隐藏域的统计数据赋值
				var hiddenNum = oldNum+'_'+CatalogNum;
				catalogObj.next().val(hiddenNum);
			}
			
			//定义样式
			$('.'+catalog_entryContentDivLeft).css({'width':'90%','height':'auto','float':'left'});
			$('.'+catalog_entryContentDivOne).css({'width':'100%','height':'40px','line-height':'40px','margin-bottom':'10px','margin-top':'12px'});
			$('.'+catalog_entryContentDivRight).css({'width':'9%','height':'auto','margin-left':'5px','margin-top':'10px','float':'right'});
			$('.'+catalog_catalog).css({'width':'100%','height':'40px','line-height':'40px','text-align':'center','cursor':'pointer','margin-top':'2px','float':'left'});
			$('.'+catalog_catalog).hover(function(){
				$(this).css({'font-weight':'bold','color':'black'});
			},function(){
				$(this).css({'font-weight':'normal','color':'white'});
			});
			$('.'+catalog_catalogTwo).css({'background':'#009fa8'});
			$('.'+catalog_catalogDel).css({'background':'red'});
			$('.'+catalog_catalogHidden).css({'background':'green'});
			
			
			//激活百度编辑器
			var ue = UE.getEditor(catalog_editor);
			function getContent() {
				var arr = [];
				arr.push(UE.getEditor(catalog_editor).getContent());
			};
			//激活创建二级目录
			//重新加载创建二级目录
			catalogAddFunc(catalog_catalogTwo);
			//页面高度
			var entryContentDivHeight = $('.entryContentDiv').data('height');
			var entryContentDivHeightALL = entryContentDivHeight+217;
			$('.entryContentDiv').data('height',entryContentDivHeightALL);
			$('.entryDivOne').css({'height':entryContentDivHeightALL});
		});
	}
	
	//**************************提交表单数据************************************开始
	$("form").submit(function(e){
		var EntryCname = $('#EntryCname').val();
		if(EntryCname == '' || EntryCname == undefined){
			alert('请填写词条名称');
			return false;
		}
		var CheckboxValue = $('.CheckboxValue').val();
		if(CheckboxValue == '' || CheckboxValue == undefined){
			alert('请选择词条类型');
			return false;
		}
		var deseaseFtype = $('.deseaseFtype').val();
		if(deseaseFtype == '' || deseaseFtype == undefined){
			alert('请选择疾病一级类型');
			return false;
		}
		var deseaseZtype = $('.deseaseZtype').val();
		if(deseaseZtype == '' || deseaseZtype == undefined){
			alert('请选择疾病二级类型');
			return false;
		}
		var abstractName = $('#abstractName').val();
		if(abstractName == '' || abstractName == undefined){
			alert('请选填写词条摘要');
			return false;
		}
		var entryContentDivOne = $('.entryContentDivOne').val();
		if(entryContentDivOne == '' || entryContentDivOne == undefined){
			alert('请选填写词条内容');
			return false;
		}
		return true;
	});
	//**************************提交表单数据************************************结束
	//提交按钮样式
	$('.butExamineStyle').css({'top':$(window).height()-100,'left':$(window).width()/2-200});
	$('.catalogOneFixed').css({'top':$(window).height()-82,'left':$(window).width()/2-250});
	//页面高度
	var entryContentDivHeight = $('.entryContentDiv').height();
	var entryContentDivHeightALL = entryContentDivHeight+600+'px';
	$('.entryDivOne').css({'height':entryContentDivHeightALL});
</script>