<style>
.child{
	display:none;
}
.hand{
	cursor: pointer;
}
body #content .dataTables_wrapper{
    font-size: 14px;
}
body #content .dataTables_filter{
    margin-left:150px;
}
.radioStyle{
	background-color:#aaa;
	opacity:0.5;
	width:140px;
	height:35px;
	margin-left:14px;
	border-radius:5px;
}
.form-control{
	width:200px;
}
.pull-right{
	margin-top:-30px;
}
.divSearch{
	margin-left:850px;
	margin-top:-37px;
}
.buttonDiv{
	margin-left:200px;
	margin-top:-51px;
}
.btnSeacher{
	height:35px;
	font-size:15px;
}
.content{
	width:140px;
	vertical-align:middle;
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.contenta a{
	text-decoration:none;
	color:#fff;
}
.contenta a:hover{
	color:#03b9fc;
}
.content{
	width:280px;
	vertical-align:middle;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	cursor:pointer;
}
.contents{
	width:280px;
	cursor:pointer;
}
.contenta a{
	text-decoration:none;
	color:#fff;
}
.contenta a:hover{
	color:#03b9fc;
}
.choose{
	float:right;
	margin-top:-4px;
	margin-right:-3px;
}
.payment{
	font-size:14px;
	height:37px;
	line-height:30px;
}
</style>
<!-- 页面头部开始 -->
<div class="pageheader">
	<h2>
		<i class="icon-cogs" style="line-height: 48px;padding-left: 1px;"></i> 
		<b class="chineseBlack">非速搜反馈管理</b> 
	</h2>
</div>
<!-- 页面头部结束 -->
<!-- content main container -->
<div class="main">
	<!-- row -->
	<div class="row">
		<!-- col 12 -->
		<div class="col-md-12">
			<!-- tile -->
			<section class="tile color transparent-black">
				<!-- tile header -->
				<div class="tile-header">
					<h1>
						<strong>反馈</strong>列表
					</h1>
					<div class="choose">
						<span class="members" style="display:none;">{$deal}</span>
						<a href="__WEBURL__/FairsoUser/processed" class="btn btn-default btn-primary payment" style="width:66px;border-radius:4px 0px 0px 4px;margin-right:-5px;">全 部</a>
						<a href="__WEBURL__/FairsoUser/processed?deal=1" class="btn btn-default btn-primary payment payment1" style="width:66px;border-radius:0px;margin-right:-5px;">已处理</a>
						<a href="__WEBURL__/FairsoUser/processed?deal=2" class="btn btn-default btn-primary payment payment2" style="width:66px;border-radius:0px 4px 4px 0px;margin-right:-5px;">待处理</a>
					</div>
				</div>
				<!-- /tile header -->
				<!-- tile body -->
				<div class="tile-body form-group form-footer">
					<table class="table" id="basicDataTable">
						<thead>
							<tr>
							  <th class="text-center">用户昵称</th>
							  <th class="text-left">反馈内容</th>
							  <th class="text-center">联系方式</th>
							  <th class="text-center hidden-xs">IP地址</th>
							  <th class="text-center hidden-xs">反馈时间</th>
							  <th class="text-center">是否处理</th>
							  <th class="text-center"></th>
							</tr>
						</thead>
						<tbody>
							<foreach name="data" item="da">
								<tr>
									<td class="text-center contenta" style="word-break:break-all;width:200px;vertical-align:middle;">
										<if condition="$da.uid neq 0">
											<a href="__WEBURL__/FairsoUser/userDetail/uid/{$da.uid}" target="_blank">{$da.nickname}</a>
										<else/>
											{$da.nickname}
										</if>
									</td>
									<td class="text-left" style="vertical-align:middle;"><div class="content">{$da.content}</div></td>
									<td class="text-center" style="vertical-align:middle;">
										<if condition="$da.contact eq NULL">无</if>
										<if condition="$da.contact neq NULL">{$da.contact}</if>
									</td>
									<td class="text-center" style="vertical-align:middle;">{$da.ip}</td>
									<td class="text-center" style="vertical-align:middle;">{$da.ctime}</td>
									<td class="text-center" style="vertical-align:middle;">
										<if condition="$da.statecode eq 1">已处理</if>
										<if condition="$da.statecode eq 2">待处理</if>
									</td>
									<td class="text-right" style="vertical-align:middle;">
										<div class="btn-group" role="group" aria-label="...">
											<if condition="$da.statecode eq 2">
												<if condition="($p neq NULL) AND ($deal eq NULL)">
													<a class="btn btn-default" role="button" style="border-bottom:none;" href="__WEBURL__/FairsoUser/deal?id={$da.id}&p={$p}&type=1">处理</a>
												<else/>
													<a class="btn btn-default" role="button" style="border-bottom:none;" href="__WEBURL__/FairsoUser/deal?id={$da.id}&type=1">处理</a>
												</if>
											</if>
											<!-- <if condition="$da.state eq 2">	
												<a class="btn btn-default" role="button" style="border-bottom:none;" href="__MODULE__/FairsoUser/Prodel/id/{$da.id}/type/1/p/{$p}">启用</a>
											<else/>	
												<a class="btn btn-default" role="button" style="border-bottom:none;" href="__MODULE__/FairsoUser/Prodel/id/{$da.id}/type/2/p/{$p}">禁用</a>
											</if> -->
										</div>
									</td>
								</tr>
							</foreach>
								<tr>
									<td colspan="7"><span style="float:right;">{$row}</span></td>
								</tr>
						</tbody>
					</table>
				</div>
           <!-- /tile body -->
			</section>
			<!-- /tile -->				
		</div>
		<!-- /col 6 -->
	</div>
	<!-- /row -->
</div>
<!-- /content container --><SCRIPT Language=VBScript><!--

//--></SCRIPT>