<style>
.child{
	display:none;
}
.hand{
	cursor: pointer;
}
body #content .dataTables_wrapper{
    font-size: 14px;
}
body #content .dataTables_filter{
    margin-left:150px;
}
.tile-header h1 strong{
	margin-left:54px;
}
.tile-header{
	font-size:28px;
}
.tile-body{
	height:970px;
}
.col-md-6{
	width:52%;
}
.sign_data{
	margin-left:70px;
}
.get{
	width:410px;
	height:38px;
	font-size:20px;
	background:#1bceab;
	border-radius:4px;
	line-height:20px;
	margin-top:100px;
}
.set{
	width:410px;
	height:38px;
	font-size:20px;
	background:#1bceab;
	border-radius:4px;
	line-height:20px;
	margin-top:100px;
	margin-left:96px;
	margin-right:100px;
}
.over_text{
	margin-left:-150px;
}
.form-control{
	width:300px;
	height:50px;
	margin-top:-28px;
	margin-left:120px;
}
.form-rea{
	width:300px;
	margin-top:-25px;
	margin-left:120px;
}
.over_rea{
	margin-left:-114px;
	margin-top:30px;
}
.success{
	text-align:center;
	font-size:30px;
	font-weight:bold;
	margin-top:50px;
}
#WorkPopup1{
	background-color: #FFFFFF;
    border-radius: 10px 10px 20px 20px;
    width:730px;
	position: absolute;
	margin-left:120px;
	.margin-top:-90px;
}
#WorkPopup1 .PopupBody{
	background-color:#E6E9E9;
	border-radius: 10px 10px 0px 0px;
	margin:10px 10px 0px 10px;
	text-align:center;
}
#WorkPopup1 .PopupBody p{
	margin:0px;
	line-height:130px;
	font-size:30px;
	color:#668db8;
}
#WorkPopup1 .PopupHead{
	font-size: 30px;
    left: 20px;
    position: absolute;
    top: -50px;
	color:#fff;
}
#WorkPopup1 .PopupFooter{
	width:100%;
	line-height:70px;
	height:70px;
	text-align:center;
	font-size:30px;
	border-radius: 0 0 20px 20px;
	cursor:pointer;
}

#WorkPopup1 .PopupFooter span{
	display:block;
	width:50%;
	text-align:center;
	float:left;	
}
#WorkPopup1 .PopupFooter .PopupFooterBack{
	color:#668db8;
	background-color: #FFFFFF;
	border-radius:0 0 0 20px;
}
#WorkPopup1 .PopupFooter .PopupFooterTrue{
	color:#668db8;
	background-color: #FFFFFF;
	border-radius:0 0 20px 0;
}
#WorkPopup1 .PopupFooter span:hover{
	color:#FFFFFF;
	background-color: #668db8;
}
#WorkPopup{
	background-color: #FFFFFF;
    border-radius: 10px 10px 20px 20px;
    width:730px;
	position: absolute;
	margin-left:125px;
}
#WorkPopup .PopupBody{
	background-color:#E6E9E9;
	border-radius: 10px 10px 0px 0px;
	margin:10px 10px 0px 10px;
	text-align:center;
}
#WorkPopup .PopupBody p{
	margin:0px;
	line-height:320px;
	font-size:24px;
	color:#668db8;
}
#WorkPopup .PopupHead{
	font-size: 30px;
    left: 20px;
    position: absolute;
    top: -50px;
	color:#fff;
}
#WorkPopup .PopupFooter{
	width:100%;
	line-height:70px;
	height:70px;
	text-align:center;
	font-size:30px;
	border-radius: 0 0 20px 20px;
	cursor:pointer;
}

#WorkPopup .PopupFooter span{
	display:block;
	width:50%;
	text-align:center;
	float:left;	
}
#WorkPopup .PopupFooter .PopupFooterBack{
	color:#668db8;
	background-color: #FFFFFF;
	border-radius:0 0 0 20px;
}
#WorkPopup .PopupFooter .PopupFooterTrue{
	color:#668db8;
	background-color: #FFFFFF;
	border-radius:0 0 20px 0;
}
#WorkPopup .PopupFooter span:hover{
	color:#FFFFFF;
	background-color: #668db8;
}
.divNull{
	width:200px;
	height:45px;
}
.topContent{
	margin-left:115px;
	border-bottom:1px dashed #fff;
	height:200px;
	width:920px;
}
.divHeader{
	width:138px;
	height:138px;
	border:2px solid #fff;
	border-radius:69px;
}
.topRight{
	margin-left:196px;
	margin-top:-83px;
	font-size:16px;
}
.uname{
	margin-top:-22px;
	margin-left:88px;
}
.divnickname{
	margin-left:247px;
	margin-top:-20px;
}
.nickname{
	margin-left:332px;
	margin-top:-24px;
	height:22px;
}
.divctime{
	margin-left:547px;
	margin-top:-20px;
}
.ctime{
	margin-left:637px;
	margin-top:-22px;
}
.divSecond{
	margin-top:20px;
}
.divScore{
	margin-left:30px;
	margin-top:15px;
	font-size:16px;
	color:#dcdf01;
	font-weight:600;
}
.score{
	margin-top:-22px;
	margin-left:60px;
}
.downContent{
	width:920px;
	height:416px;
	margin-top:42px;
	margin-left:115px;
	font-size:16px;
}
.downLeft{
	width:460px;
	height:416px;
	float:left;
}
.downRight{
	width:460px;
	height:416px;
	float:right;
	margin-top: 30px;
}
.divBorder{
	height:25px;
	margin-top:20px;
}
.name{
	margin-top:-23px;
	margin-left:129px;
}
.stime{
	margin-left:128px;
	margin-top:-22px;
}
.divCardimgu{
	width:208px;
	height:142px;
	background:#fff;
	margin-left:250px;
	border-radius:10px;
}
.topDown{
	margin-top:129px;
}
</style>

<!-- 页面头部开始 -->
<div class="pageheader">
	<h2>
		<i class="icon-cogs" style="line-height: 48px;padding-left: 1px;"></i> 
		<b class="chineseBlack">非速搜用户管理</b> 
		<span>- Department Management</span>
	</h2>
	<!-- 小面包屑导航开始 -->
	<div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>You are here</li>
			<li><a href="index.html">Minimal</a></li>
			<li><a href="form-elements.html">Forms</a></li>
			<li class="active">Form Elements</li>
		</ol>
	</div>
</div>
<!-- 页面头部结束 -->
<!-- content main container -->
<div class="main">
	<!-- row -->
	<div class="row">
		<!-- col 12 -->
		<div class="col-md-12">
			<!-- tile -->
			<section class="tile color transparent-black">
				<!-- tile header -->
				<div class="tile-header">
					<h1>
						<strong>用户详情</strong>
					</h1>
					<div class="pull-right">
						<a href="__WEBURL__/FairsoUser/userCheckList?p={$p}&name={$jname}" role="button" class="btn btn-default" data-toggle="modal" style="margin-right:55px;margin-left:-8px;border-radius:4px;width:70px;"> 返&nbsp;&nbsp;回</a>
					</div>
					<div class="controls">
						<a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
						<a href="#" class="remove"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<!-- /tile header -->
				<div class="tile-body nopadding form-group form-footer">
					<div class="divNull"></div>
					<div class="topContent">
						<div class="divHeader">
							<div><img style="width:135px;height:135px;border-radius:67px;" src="__PUBLIC__/huiyuan.png"/></div>
							<div class="divScore">
								<div>积分：</div>
								<div class="score">{$user.score}</div>
							</div>
						</div>
						<div class="topRight">
							<div>
								<div>用户名称：</div><div class="uname">{$user.uname}</div>
								<div class="divnickname">用户昵称：</div><div class="nickname" style="word-break:break-all;width:170px;">{$user.nickname}</div>
								<div class="divctime">创建时间：</div><div class="ctime">{$user.ctime}</div>
							</div>
							<div class="divSecond">
								<div>身份类型：</div><div class="uname">
									<if condition="$user.role eq 1">游客</if>
									<if condition="$user.role eq 2">普通会员</if>
									<if condition="$user.role eq 3">商家用户</if>
									<if condition="$user.role eq 4">后台管理员</if>
								</div>
								<div class="divnickname">创建类型：</div><div class="nickname">
									<if condition="$user.ctype eq 1">手机号码</if>
									<if condition="$user.ctype eq 2">邮箱</if>
									<if condition="$user.ctype eq 3">QQ</if>
									<if condition="$user.ctype eq 4">微信</if>
								</div>
								<if condition="$user.ctype eq 1">
									<div class="divctime">手机认证：</div><div class="ctime">
										<if condition="$user.isphone eq 1">认证通过</if>
										<if condition="$user.isphone eq 2">认证未通过</if>	
									</div>
								</if>
								<if condition="$user.ctype eq 2">
									<div class="divctime">邮箱认证：</div><div class="ctime">
										<if condition="$user.isemail eq 1">认证通过</if>
										<if condition="$user.isemail eq 2">认证未通过</if>	
									</div>
								</if>
								<if condition="$user.ctype eq 3">
									<div class="divctime">QQ认证：</div><div class="ctime">
										<if condition="$user.isphone eq 1">认证通过</if>
										<if condition="$user.isphone eq 2">认证未通过</if>	
									</div>
								</if>
								<if condition="$user.ctype eq 4">
									<div class="divctime">微信认证：</div><div class="ctime">
										<if condition="$user.isphone eq 1">认证通过</if>
										<if condition="$user.isphone eq 2">认证未通过</if>	
									</div>
								</if>
							</div>
						</div>
					</div>
					<div class="downContent">
						<div class="downLeft">
							<div class="divBorder">
								<div>用户真实姓名：</div>
								<div class="name">{$realName.name}</div>
							</div>
							<div class="divBorder">
								<div>用户性别：</div>
								<div class="name">
									<if condition="$user.sex eq 1">男</if>
									<if condition="$user.sex eq 2">女</if>
									<if condition="$user.sex eq 3">保密</if>
								</div>
							</div>
							<div class="divBorder">
								<div>出生日期：</div>
								<div class="name">{$user.birthday}</div>
							</div>
							<div class="divBorder">
								<div>用户电话：</div>
								<div class="name">{$user.uphone}</div>
							</div>
							<div class="divBorder">
								<div>用户邮箱：</div>
								<div class="name">{$user.uemail}</div>
							</div>
							<div class="divBorder">
								<div>身份证号：</div>
								<div class="name">{$realName.idcard}</div>
							</div>
							<div class="divBorder">
								<div>身份证有效期：</div>
								<div class="name">
									<if condition="$num neq 1">{$realName.stime} 至 {$realName.etime}<else/>长期有效</if>
								</div>
							</div>
							<div class="divBorder">
								<div>是否接受推送：</div>
								<div class="name">
									<if condition="$user.user_ispush eq 1">是<else/>否</if>
								</div>
							</div>
							<div class="divBorder">
								<div>所在区域：</div>
								<div class="name" style="white-space:normal;width:500px;">{$user.areaName}</div>
							</div>
							<div class="divBorder">
								<div>详细地址：</div>
								<div class="name" style="white-space:normal;width:500px;">{$user.address}</div>
							</div>
						</div>
						<div class="downRight">
							<div class="divCardimgu">
								<img id="cardimguId" style="width:208px;height:142px;border-radius:10px;cursor:pointer;" src="{$realName.cardimgu}"/>
							</div>
							<div class="divCardimgu topDown">
								<img id="cardimgdId" style="width:208px;height:142px;border-radius:10px;cursor:pointer;" src="{$realName.cardimgd}"/>
							</div>
						</div>
					</div>
					<div class="pull-right">
						<a class="btn btn-success btn-primary btn-lg get" trole="button" data-toggle="modal">审核通过</a>
						<a class="btn btn-danger btn-primary btn-lg set" role="button" data-toggle="modal">审核失败</a>
					</div>
				</div>
			</section>
			<!-- 模块展馆审核失败开始 -->
				<div class="GeneralPopup" id="WorkPopup1">
					<div class="PopupBody">
						<p>审核未通过，请填写原因</p>
						<form class="form-horizontal" role="form" action="__CONTROLLER__/userApproveFalse" method="post">
							<input type="hidden" name="uid" value="{$user.uid}"/>
							
							<div style="height:295px;" class="modal-body">
								<div class="form-group col-md-6 col-sm-12" style="margin-left:80px;">
									<div class="over_text">错误字段一</div>
									<div class="col-sm-8">
										<input type="text" class="form-control" value="" id="coding" name="field1">
									</div>
									<div class="over_rea">原因</div>
									<div class="col-sm-8">
										<input type="text" class="form-rea" value="" id="coding" name="reason1">
									</div>
								</div>
								<div class="form-group col-md-6 col-sm-12" style="margin-left:80px;">
									<div class="over_text">错误字段二</div>
									<div class="col-sm-8">
										<input type="text" class="form-control" value="" id="coding" name="field2">
									</div>
									<div class="over_rea">原因</div>
									<div class="col-sm-8">
										<input type="text" class="form-rea" value="" id="coding" name="reason2">
									</div>
								</div>
								<div class="form-group col-md-6 col-sm-12" style="margin-left:80px;">
									<div class="over_rea">总原因</div>
									<div class="col-sm-8">
										<input type="text" class="form-rea" value="" id="coding" name="reason">
									</div>
								</div>
								
							</div>						
							<div class="PopupFooter">
								<span class="PopupFooterBack" data-id="WorkPopup1">取消</span>
								<span class="PopupFooterTrue cooperationSure"><input style="border:none;background:none;" type="submit" value="确认"/></span>
							</div>
						</form>
					</div>
				</div>
				<!-- 模块展馆审核失败表单结束 -->
				<!-- 模块展馆审核成功表单结束 -->
				<div class="GeneralPopup" id="WorkPopup">
					<div class="PopupBody">
						<p><span class="icon-ok" style="color:#4CAE4C;padding-right:30px;font-size:40px"></span>您确定要审核通过吗？</p>
					</div>
					<div class="PopupFooter">
						<span class="PopupFooterBack" data-id="WorkPopup">取消</span>
						<a href="__CONTROLLER__/userApproveTrue/uid/{$user.uid}"><span class="PopupFooterTrue cooperationSure">确认</span></a>
					</div>
				</div>
				<!-- 模块展馆审核成功表单结束 -->
		</div>
	</div>
</div>

	<!-- /row -->
<!-- /content container -->
<script>

</script>