<script type="text/javascript">
$('.fairsoformJS').ready(function(){
	popupLayer('WorkPopup');
});
$('.get').click(function(){
	popupLayerShow('WorkPopup');
});
$('.fairsoformJS').ready(function(){
	popupLayer('WorkPopup1');
});
$('.set').click(function(){
	popupLayerShow('WorkPopup1');
});

//图片弹层
$("#cardimguId").click(function(){
	popupLayerIMG($(this).attr('src'));
})
$("#cardimgdId").click(function(){
	popupLayerIMG($(this).attr('src'));
})

//======================================================
</script>