<style>
	/*footer*/
	.footerBox{
		width:100%;
		height:240px;
		background:#333;
		padding-top:64px;
	}
	.footer{
		width:812px;
		height:69px;
		margin:0 auto;
		text-align:center;
	}
	.footer *{
		color:#f4f4f4;
	}
	.footer2{
		margin:15px 0;
	}
</style>
<div class="footerBox">
	<div class="footer">
		<div class="footer1">关于我们 | 联系我们 | 招聘信息 | 合作伙伴 | 法律声明 | 服务协议 | 隐私条款 | 意见与建议</div>
		<div class="footer2">Copyright©2017 超级医生百科网 京ICP证 110448号 京卫网审[2011] 第0473号 京公网安备 11010202003110号</div>
		<div class="footer3">互联网药品信息服务资格证书 (京)-经营性-2016-0022</div>
	</div>
</div>