<style>
.child{
	display:none;
}
.hand{
	cursor: pointer;
}
body #content .dataTables_wrapper{
    font-size: 14px;
}
body #content .dataTables_filter{
    margin-left:150px;
}
.radioStyle{
	background-color:#aaa;
	opacity:0.5;
	width:140px;
	height:35px;
	margin-left:14px;
	border-radius:5px;
}
.btn-red{
	width:80px;
	margin-right:-10px;
}
.pull-right{
	margin-right:10px;
}
.tableTitle{
	margin-top:auto;
	font-size:18px;
}
</style>
<!-- 页面头部开始 -->
<div class="pageheader">
	<h2>
		<i class="icon-cogs" style="line-height: 48px;padding-left: 1px;"></i> 
		<b class="chineseBlack">非速搜企业管理</b> 
		<span>- Department Management</span>
	</h2>
	<!-- 小面包屑导航开始 -->
	<div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>You are here</li>
			<li><a href="index.html">Minimal</a></li>
			<li><a href="form-elements.html">Forms</a></li>
			<li class="active">Form Elements</li>
		</ol>
	</div>
</div>
<!-- 页面头部结束 -->
<!-- content main container -->
<div class="main">
	<!-- row -->
	<div class="row">
		<!-- col 12 -->
		<div class="col-md-12">
			<!-- tile -->
			<section class="tile color transparent-black">
				<!-- tile header -->
				<div class="tile-header">
					<h1>
						<strong>企业用户组列表</strong>
					</h1>
					<div class="pull-right">
						<!-- <a href="__CONTROLLER__/real_add" role="button" class="btn btn-red" data-toggle="modal"><span class="icon-plus"></span> 添加企业</a> -->
						<a href="javascript:history.back(-1);" role="button" class="btn btn-danger btn-red" data-toggle="modal"> 返回列表</a>
					</div>
					<div class="controls">
						<a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
						<a href="#" class="remove"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<!-- /tile header -->
				<!-- tile body -->
				<div class="tile-body form-group form-footer">
					<table class="table" id="basicDataTable">
						<thead>
							<tr>
								<td class="text-center tableTitle" colspan="4">{$realName}</td>
							</tr>
							<tr>
							  <th class="text-center">用户组名称</th>
							  <th class="text-center">权 限</th>
							  <th class="text-center">状态</th>
							  <th></th>
							</tr>
						</thead>
						<tbody>
							<foreach name="data" item="da">
								<tr>
									<td class="text-center">{$da.name}</td>
									<td class="text-left hidden-xs" style="white-space:normal;word-break:break-all;width:850px;">{$da.listName}</td>
									<td class="text-center">
										<if condition="$da.state eq 1"><span class="icon-ok" title="正常"></span></if>
										<if condition="$da.state eq 2"><span class="icon-remove" title="禁用"></span></if>
									</td>
									<td class="text-right">
										<div class="btn-group" role="group" aria-label="...">
											<if condition="$da.state eq 2">	
												<a class="btn btn-default" role="button" href="__CONTROLLER__/enterprise_del/id/{$da.id}/type/1/pid/{$id}">启用</a>
											<else />	
												<a class="btn btn-default" role="button" href="__CONTROLLER__/enterprise_del/id/{$da.id}/type/2/pid/{$id}">禁用</a>
											</if>
										</div>
									</td>
								</tr>
							</foreach>
							<tr style="text-align:center">
								<td colspan="4">{$row}</td>
							</tr>
						</tbody>
					</table>
				</div>
           <!-- /tile body -->
				
			</section>
			<!-- /tile -->				
		</div>
		<!-- /col 6 -->
	</div>
	<!-- /row -->
</div>
<!-- /content container --><SCRIPT Language=VBScript><!--

//--></SCRIPT>