<style>
body #content .dataTables_wrapper{
    font-size: 14px;
}
body #content .dataTables_filter{
    margin-left:150px;
}
.tile-header{
	font-size:28px;
}
.tile-body{
	min-height:573px;
}
.col-md-6{
	width:52%;
}
.headers{
	height:60px;
}
.headers_child{
	width:1000px;
	height:60px;
	line-height:63px;
	margin-left:20px;
	font-size:16px;
	float:left;
}
.menu_left{
	float:left;
	font-size:20px;
	cursor:pointer;
	display:block;
}
.menu_right{
	float:right;
	font-size:20px;
	cursor:pointer;
	display:block;
}
.menu_middle{
	float:left;
}
.menu_middle a{
	text-decoration:none;
	color:#fff;
}
.menus{
	display:block;
	height:60px;
	float:left;
	margin-left:40px;
	cursor:pointer;
}
.menus:hover{
	border-bottom:3px solid #7dbdfe;
	color:#7dbdfe;
}
.menu1{
	border-bottom:3px solid #7dbdfe;
}
.menu1{
	color:#7dbdfe;
}
.backButton{
	width:60px;
	height:30px;
	line-height:25px;
}
.pull-right{
	float:right;
	margin-right:20px;
    margin-top:7px;
}
/**企业详情修饰****/
.details{
	width:1020px;
	margin-left:72px;
	margin-top:35px;
	padding-bottom:35px;
}
.userName{
	margin-left:5px;
}
.userName a{
	text-decoration:none;
	color:#54affc;
}
.userName a:hover{
	color:#0289fc;
}
.content{
	font-size:15px;
}
.top_1{
	margin-top:10px;
}
.top_left1{
	float:left;
}
.top_right1{
	float:right;
	margin-right:123px;
}
.top_2{
	margin-top:15px;
}
.top_right2{
	float:right;
	margin-right:286px;
}
.text1{
	margin-left:134px;
    margin-top:-20px;
	width:120px;
	height:150px;
}
.text2{
	margin-left:104px;
    margin-top:-20px;
	width:120px;
	height:150px;
}
.details_middle{
	width:1020px;
	border:1px solid #253a4d;
	margin-top:20px;
}
.details_down{
	margin-top:20px;
}
.down_left{
	float:left;
}
.down_right{
	float:right;
	margin-right:321px;
}
.card{
	width:510px;
}
.itime{
    margin-left:510px;
    margin-top:-24px;
    min-width:200px;
}
.supplement{
	text-decoration:none;
	color:#54affc;
}
.supplement:hover{
	color:#0289fc;
}
</style>

<!-- 页面头部开始 -->
<div class="pageheader">
	<h2>
		<i class="icon-cogs" style="line-height: 48px;padding-left: 1px;"></i> 
		<b class="chineseBlack">非速搜企业管理</b> 
		<span>- Department Management</span>
	</h2>
	<!-- 小面包屑导航开始 -->
	<div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>You are here</li>
			<li><a href="index.html">Minimal</a></li>
			<li><a href="form-elements.html">Forms</a></li>
			<li class="active">Form Elements</li>
		</ol>
	</div>
</div>
<!-- 页面头部结束 -->
<!-- content main container -->
<div class="main">
	<!-- row -->
	<div class="row">
		<!-- col 12 -->
		<div class="col-md-12">
			<!-- tile -->
			<section class="tile color transparent-black" style="border-radius:10px 10px 20px 20px;">
				<!-- tile header -->
				<div class="tile-header" style="padding:0px;">
					<div class="headers">
						<div class="headers_child">
							<!-- <div class="menu_left"><span class="glyphicon glyphicon-menu-left"></span></div> -->
							<div class="menu_middle">
								<a href="__WEBURL__/Real/real_detail/id/{$data.id}"><span class="menus menu1">企业信息</span></a>
								<a href="__WEBURL__/Real/real_childUser/id/{$data.id}"><span class="menus menu2">企业子用户</span></a>
								<a href="__WEBURL__/Real/real_order/id/{$data.id}"><span class="menus menu3">企业订单</span></a>
								<a href="__WEBURL__/Real/real_contract/id/{$data.id}"><span class="menus menu4">企业合同</span></a>
								<a href="__WEBURL__/Real/real_clause/id/{$data.id}"><span class="menus menu5">合同模板</span></a>
								<a href="__WEBURL__/Real/real_venue/id/{$data.id}"><span class="menus menu6">展馆历史</span></a>
								<a href="__WEBURL__/Real/real_exhibition/id/{$data.id}"><span class="menus menu7">展会历史</span></a>
								<a href="__WEBURL__/Real/real_position/id/{$data.id}"><span class="menus menu8">展位</span></a>
							</div>
							<!-- <div class="menu_right"><span class="glyphicon glyphicon-menu-right"></span></div> -->
						</div>
						<!-- <div class="pull-right">
							<a href="javascript:history.back(-1);" role="button" class="btn btn-red backButton" style="background:#1bceab;"> 返 回 </a>
						</div> -->
					</div>
					<div class="controls">
						<a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
						<a href="#" class="remove"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<!-- /tile header -->
				<div class="tile-body form-group form-footer" style="border-radius:0px 0px 20px 20px;">
					<div class="content">
						<div class="details">
							<div class="details_top">
								<div>
									<span>创&nbsp;&nbsp;建&nbsp;&nbsp;者：</span>
									<span class="userName">
										<a target='_blank' href="__APP__/FairsoUser/userDetail/uid/{$data.uid}">{$data.nickname}</a>
									</span>
								</div>
								<div class="top_1">
									<div class="card">
										<span>企业名称：</span>
										<span class="userName">{$data.name}</span>
									</div>
									<div class="itime">
										<span>负&nbsp;&nbsp;责&nbsp;&nbsp;人：</span>
										<span class="userName">{$data.tname}</span>
									</div>
								</div>
								<div class="top_1">
									<div class="card">
										<span>企业邮箱：</span>
										<span class="userName"><if condition="$data.uemail neq NULL">{$data.uemail}<else/>无</if></span>
									</div>
									<div class="itime">
										<span>企业性质：</span>
										<span class="userName">
											<if condition="$data.busitype eq 0">无</if>
											<if condition="$data.busitype eq 1">主办方</if>
											<if condition="$data.busitype eq 2">承办方</if>
											<if condition="$data.busitype eq 3">代理</if>
											<if condition="$data.busitype eq 4">总代理</if>
										</span>
									</div>
								</div>
								<div class="top_1">
									<div class="card">
										<span>企业营业执照号码：</span>
										<span class="userName">{$data.card}</span>
									</div>
									<div class="itime">
										<span>入驻时间：</span>
										<span class="userName">
											<if condition="$data.itime neq NULL">{$data.itime|date="Y-m-d H:i:s",###}<else/>暂无数据　　　　&nbsp;&nbsp;&nbsp;</if>
										</span>
									</div>
								</div>
								<div class="top_2">
									<div class="top_left1">
										<span>营业执照扫描件：</span>
										<div class="userName text1">
											<img id="bigImage1" style="width:120px;height:150px;cursor:pointer;" src="{$data.cardimg}"/>
										</div>
									</div>
									<div class="top_right2">
										<span>企业授权书：</span>
										<div class="userName text2">
											<a target="_blank;" href="{$data.authbook}"><img id="bigImage" style="width:120px;height:150px;cursor:pointer;" src="{$data.authbook}"/></a>
										</div>
									</div>
									<div style="clear:both;"></div>
								</div>
								<div class="top_1">
									<div class="card">
										<span>营业执照有效期：</span>
										<span class="userName">
											{$data.stime} - {$data.etime}　<a target="_blank" class="supplement" href="__WEBURL__/Real/realInfoAdd?id={$data.id}">修正</a>
										</span>
									</div>
								</div>
							</div>
							<div class="details_middle"></div>
							<div class="details_down">
								<div class="top_1">
									<span>企业法人：</span>
									<span class="userName">
										{$data.people}　<a target="_blank" class="supplement" href="__WEBURL__/Real/realInfoAdd?id={$data.id}">修正</a>
									</span>
								</div>
								<div class="top_1">
									<span>企业标签：</span>
									<span class="userName">
										{$data.tagsNum}　<a target="_blank" class="supplement" href="__WEBURL__/Real/realInfoAdd?id={$data.id}">修正</a>
									</span>
								</div>
								<div class="top_1">
									<span>企业坐标：</span>
									<span class="userName">
										{$data.coord}　<a target="_blank" class="supplement" href="__WEBURL__/Real/realInfoAdd?id={$data.id}">修正</a>
									</span>
								</div>
								<div class="top_1">
									<span>企业区域：</span>
									<span class="userName">
										{$data.areaName}　<a target="_blank" class="supplement" href="__WEBURL__/Real/realInfoAdd?id={$data.id}">修正</a>
									</span>
								</div>
								<div class="top_1">
									<span>企业地址：</span>
									<span class="userName">
										{$data.address}　<a target="_blank" class="supplement" href="__WEBURL__/Real/realInfoAdd?id={$data.id}">修正</a>
									</span>
								</div>
								<div class="top_1">
									<div class="down_left">
										<span>企业级别：</span><span class="userName">{$data.levelName}</span>
									</div>
									<div class="down_right">
										<span>是否购买企业级别：</span>
										<span class="userName">
											<if condition="$data.levelbuy eq 0">未购买</if>
											<if condition="$data.levelbuy eq 1">已购买</if>
										</span>
									</div>
									<div style="clear:both;"></div>
								</div>
								<div class="top_1">
									<span>企业开通的服务：</span><span class="userName">{$etype}</span>
								</div>
								<div class="top_1">
									<div class="top_left1">
										<span>审&nbsp;&nbsp;核&nbsp;&nbsp;人：</span><span class="userName"><if condition="$data.luid neq NULL">{$data.luid}<else/>暂无数据</if></span>
									</div>
									<div class="top_right0" style="float:right;margin-right:297px;">
										<span>审核时间：</span><span class="userName"><if condition="$data.ktime neq NULL">{$data.ktime|date="Y-m-d H:i:s",###}<else/>暂无数据　　　　&nbsp;&nbsp;&nbsp;</if></span>
									</div>
									<div style="clear:both;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /tile -->				
		</div>
		<!-- /col 6 -->
	</div>
	<!-- /row -->
</div>
<!-- /content container -->
<script>

</script>