<style>
.child{
	display:none;
}
body #content .dataTables_wrapper{
    font-size: 14px;
}
body #content .dataTables_filter{
    margin-left:150px;
}
</style>
<!-- 页面头部开始 -->
<div class="pageheader">
	<h2>
		<i class="icon-folder-open-alt" style="line-height: 48px;padding-left: 1px;"></i> 
		<b class="chineseBlack">日志管理</b> 
		<span>- Department Management</span>
	</h2>
	<!-- 小面包屑导航开始 -->
	<div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>You are here</li>
			<li><a href="index.html">Minimal</a></li>
			<li><a href="form-elements.html">Forms</a></li>
			<li class="active">Form Elements</li>
		</ol>
	</div>
</div>
<!-- 页面头部结束 -->
<!-- content main container -->
<div class="main">
	<!-- row -->
	<div class="row">
		<!-- col 12 -->
		<div class="col-md-12">
			<!-- tile -->
			<section class="tile color transparent-black">
				<!-- tile header -->
				<div class="tile-header">
					<h1>
						<strong>日志</strong>列表
					</h1>
					<div class="pull-right">
					</div>
					<div class="controls">
						<a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
						<a href="#" class="remove"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<!-- /tile header -->
				<!-- tile body -->
				<div class="tile-body nopadding">
					<table class="table" id="basicDataTable">
						<thead>
							<tr>
							  <th class="text-center">用户</th>
							  <th class="text-center hidden-xs">名称</th>
							  <th class="text-center">登陆次数</th>
							  <th class="text-center hidden-xs">时间戳</th>
							  <th class="text-center">IP</th>
							  <th class="text-center">端口号</th>
							  <th class="text-center hidden-xs">日志类型</th>
							  <th class="text-center">登录状态</th>
							  <th class="text-center">模块名称</th>
							  <th class="text-center hidden-xs">日志内容</th>
							  <th></th>
							</tr>
						</thead>
						<tbody>
							<volist name="list" id="vo" empty="暂时没有数据">
									<td class="text-center">{$vo.numbere}</td>
									<td class="text-center hidden-xs">{$vo.coding}</td>
									<td class="text-center">{$vo.enternum}</td>
									<td class="text-center hidden-xs">{$vo.time}</td>
									<td class="text-center">{$vo.ip}</td>
									<td class="text-cente">{$vo.port}</td>
									<td class="text-center hidden-xs">
										<if condition="$vo.type == 1">操作日志
										<else />登陆日志
										</if>
									</td>
									<td class="text-center">
										<if condition="$vo.state == 1">正常
										<else />不正常
										</if>
									</td>
									<td class="text-center">{$vo.name}</td>
									<td class="text-center hidden-xs">{$vo.matter}</td>
									<td class="text-right">
										<div class="btn-group" role="group" aria-label="...">
											<a class="btn btn-default" role="button" href="__MODULE__/Log/del/id/{$vo.id}">删除</a>
										</div>
									</td>
								</tr>
							</volist>
						</tbody>
              </table>
				</div>
           <!-- /tile body -->
				<!-- 模块增加表单开始 -->
				<div class="modal fade" id="moduleAdd" tabindex="-1" role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">关闭</button>
								<h3 class="modal-title" id="modalConfirmLabel"><strong>角色信息</strong> 增加</h3>
							</div>
							<form class="form-horizontal" role="form" action="__MODULE__/Role/insert" method="post">
								<div class="modal-body">
									<div class="form-group">
										<label for="coding" class="col-sm-3 control-label">角色名称</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="coding" name="name">
										</div>
									</div>
									<div class="form-group">
										<label for="coding" class="col-sm-3 control-label">角色描述</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="coding" name="describe">
										</div>
									</div>
									<div class="form-group">
										<label for="coding" class="col-sm-3 control-label">岗位职责</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="coding" name="postDuty">
										</div>
									</div>
									<div class="form-group">
										<label for="name" class="col-sm-3 control-label">是否管理</label>
										<div class="col-sm-8">
											<input type="radio" name="manang" value="1" />管理
											<input type="radio" name="manang" value="2" />不管理<br />
										</div>
									</div>
									<div class="form-group">
										<label for="name" class="col-sm-3 control-label">备注</label>
										<div class="col-sm-8">
											<textarea class="form-control" id="coding" name="remark"></textarea>
										</div>
									</div>									
								</div>						
								<div class="modal-footer">
									<button class="btn btn-red" data-dismiss="modal" aria-hidden="true">取消</button>
									<input class="btn btn-green" type="submit" value="提交">
								</div>
							</form>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->  
				<!-- 模块增加表单结束 -->
			</section>
			<!-- /tile -->				
		</div>
		<!-- /col 6 -->
	</div>
	<!-- /row -->
</div>
<!-- /content container -->



<SCRIPT Language=VBScript><!--

//--></SCRIPT>