.main{
	width:1240px;
	height:auto;
	margin:0 auto;
}
.bannerImg{
	display:block;
	margin:20px 0;
}
.mainLeft{
	width:820px;
}
.mainRight{
	width:400px;
}
.mainLeft1{
    width: 820px;
    height: 202px;
    border: 1px solid #B2E2E5;
    box-shadow: 1px 2px 3px rgb(220,220,220);
    margin-bottom: 20px;
}
.mainLeft1_title {
    width: 819px;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    padding-left: 20px;
    background: rgba(0,159,168,0.3);
}
.hospitals_name {
    width: 60px;
    height: 24px;
    line-height: 22px;
    padding-left: 10px;
    background: url(../images/1511920180751.png) no-repeat;
    font-size: 16px;
    margin-top: 14px;
}
.hospitalsAll {
    font-size: 16px;
    color: #009FA8;
    margin-left: 20px;
    cursor: pointer;
}
.hospitalsLi {
    font-size: 16px;
    color: #666;
    margin-left: 20px;
    cursor: pointer;
}
.hospitalsLi:hover{
	color:#009FA8;
	cursor:pointer;
}
.hospitals {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px dashed #dcdcdc;
}
.hospitals:last-child{
	border:none;
}
.mainLeft1_content {
    width: 100%;
    padding: 0 20px;
}
.mainLeft2{
	width: 820px;
    height: 1234px;
    border: 1px solid #B2E2E5;
    box-shadow: 1px 2px 3px rgb(220,220,220);
    margin-bottom: 116px;
}
.mainLeft2_title {
    color: #009FA8;
    padding-left: 15px;
    width: 100%;
    height: 52px;
    line-height: 52px;
    border-bottom:1px solid #dcdcdc;
}
.mainLeft2List{
	width:100%;
	height:150px;
	border-bottom:1px solid #dcdcdc;
	padding:22px;
}
.mainLeft2List:hover{
	background:#F5F5F5;
	cursor:pointer;
}
.mainLeft2Img1{
	width:152px;
	height:108px;
}
.mainLeft2ListRight{
	width:622px;
	height:108px;
	padding-left:20px;
	position:relative;
}
.mainLeft2R_title{
	font-size:18px;
}
.mainLeft2R_title:hover{
	color:#009FA8;
	cursor:pointer;
}
.mainLeft2RLi2{
	font-size:16px;
	color:#666;
	margin-left:10px;
}
.mainLeft2RLi3{
	color:#999;
}
.mainLeft2RLi2Img{
	width:44px;
	height:20px;
	color:#fff;
	padding-left:2px;
	background:url(../images/20180331_2.png);
}
.mainLeft2RLi2Box{
	height:30px;
	margin-top:18px;
	margin-bottom:8px;
}
.mainLeft2Button{
	width:85px;
	height:30px;
	text-align:center;
	line-height:30px;
	position:absolute;
	right:0px;
}
.mainLeft2Button1{
	background:rgba(0,159,168,0.3);
	color:#009FA8;
	bottom:50px;
}
.mainLeft2Button1:hover{
	cursor:pointer;
	background:rgb(0,159,168);
	color:#fff;
}
.mainLeft2Button2{
	background:rgba(236,120,55,0.3);
	color:#EC7837;
	bottom:0px;
}
.mainLeft2Button2:hover{
	cursor:pointer;
	background:rgb(236,120,55);
	color:#fff;
}
.mainRight1{
	width:400px;
	height:403px;
	border: 1px solid #dcdcdc;
    box-shadow: 1px 2px 3px rgb(220,220,220);
}
.mainRight1Title{
	width:100%;
	height:58px;
	line-height:58px;
	margin-bottom:10px;
}
.mainRight1-t{
	width:50%;
	font-size:18px;
	background:#dcdcdc;
	text-align:center;
	cursor:pointer;
}
.mainRight1-t-check{
	background:#fff;
}
.mainRight1-con{
	width:100%;
	padding:0 20px;
	cursor:pointer;
	display:none;
}
.mainRight1-con_1{
	display:block;
}
.mainRight1-context:hover .context-r-1{
	color:#009FA8;
}
.mainRight1-context{
	height:111px;
	border-bottom:1px solid #dcdcdc;
	padding-top:10px;
}
.mainRight1-context:last-child{
	border:none;
}
.mainRight1-context img{
	width:124px;
	height:80px;
	display:inline-block;
}
.context-r-1{
	font-size:16px;
}
.context-r-2{
	color:#666;
	margin:15px 0 5px 0;
}
.context-r-3{
	color:#999;
	width:100%;
	height:20px;
}
.mainRight1-context-r{
	width:224px;
	margin-left:10px;
}
.mainRight2{
	width:400px;
	height:404px;
	border: 1px solid #dcdcdc;
    box-shadow: 1px 2px 3px rgb(220,220,220);
    padding:0px 25px;	
	margin-top:20px;
}
.main1_title3{
	width:100%;
	height:58px;
	line-height:58px;
	font-size:18px;
	border-bottom:1px solid #dcdcdc;
}
.shareBox img {
    width: 82px;
    height: 82px;
}
.shareBoxName1 {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
}
.shareBoxName2 {
    color: #999;
    font-size: 14px;
    margin-bottom: 6px;
}
.shareBoxName {
    padding-left: 8px;
}
.shareBox {
    width: 100%;
    height: 115px;
    border-top: 1px solid #dcdcdc;
    padding-top: 16px;
    cursor: pointer;
}
.shareBox:hover .shareBoxName1{
	color:#009FA8;
}
.mainBoxRight3{
	width:400px;
	height:412px;
	border:1px solid #dcdcdc;
	box-shadow:1px 2px 3px rgb(220,220,220); 
	margin-top:20px;
	padding:0 20px;
}
.mainBoxRight3 .mainBoxRight2_title1{
	font-size:20px;
}
.mainBoxRight3 .mainBoxRight2_title{
	height:64px;
	line-height:64px;
}
.mainBoxRight3Img{
	margin-top:16px;
} 
.mainBoxRight3Con{
	width:250px;
	margin-left:10px;
}
.mainBoxRight3 .mainBoxRight2_conTitle{
	width:250px;
	font-size:16px;
	line-height:56px;
}
.mainBoxRight3 .mainBoxRight2_more{
	line-height:64px;
}
.mainBoxRight2_con{
	width:100%;
	height:114px;
	border-top:1px solid #dcdcdc;
	cursor:pointer;
}
.mainBoxRight2_con:hover .mainBoxRight2_conTitle{
	color:#009FA8;
}