/* 公共样式 */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
  border: 0 none;
  font-family: tahoma,arial,"Hiragino Sans GB","宋体",sans-serif;
  font-feature-settings: inherit;
  font-kerning: inherit;
  font-language-override: inherit;
  font-size: inherit;
  font-size-adjust: inherit;
  font-stretch: inherit;
  font-style: inherit;
  font-synthesis: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
ul li{
	list-style:none;
}
.box{
	width:100%;
	background:#ececec;
}
/* 头部 */
.header{
	width:100%;
	background:#fff;
}
.headerContent{
	width:1200px;
	height:70px;
	margin:0px auto;
}
.headerLogo{
	width:190px;
	height:42px;
	margin-top:14px;
	float:left;
	
}

.headerText{
	height:70px;
	float:right;
	cursor:default;
}

.headerTextContent{
	line-height:70px;
	font-size:14px;
	float:left;
	color:#2c3a5d;
}
.headerTextContent.fsit{
	margin-right:60px;
}
.headerTextContent.second{
	margin-right:20px;
}

/* 主体 */
.main_body{
	width:1200px;
	margin:0px auto;
}

.main_bodyHead{
	width:1200px;
	height:160px;
	margin-top:90px;
	background:#3b6276;
}
.main_bodyHeadPic{
	width:165px;
	height:160px;
	float:left;
	margin-top:-62px;
}
.headPic{
	width:122px;
	height:122px;
	border-radius:50%;
	border:4px solid #fff;
	margin-left:30px;
}
.headPicText{
	float:left;
	margin-top:-40px;
	margin-left:-15px;
	font-size:18px;
	color:#2c3a5d;
	cursor:default;
}
.headPicTextPic{
	margin-left:10px;
	width:18px;
}
/* 图标样式 */
.main_bodynavContent{
	width:980px;
	height:160px;
	float:left;
}
.main_bodynavContentPic{
	width:140px;
	float:left;
	margin-top:40px;
}

.main_bodynavContentText{
	margin-top:25px;
	text-align:center;
	font-size:18px;
	color:#fff;
	cursor:pointer;
}
.main_bodynavContentText.index{
	color:#c5e0fe;
}
.btnPics{
	width:20px;
	height:160px;
	float:left;
	margin-top:8px;
}
.buttonPic{
	width:20px;
	display:block;
	margin-top:40px;
}

/* 订单详情样式 */
/* 外面总的样式 */
.main_bodyBottom{
	width:1200px;
	height:700px;
	margin-top:18px;
}

/* 左边样式 */
.main_bodyBottomLeft{
	width:200px;
	height:700px;
	background:#fff;
	float:left;
}
.main_bodyBottomLeft a:hover{
	text-decoration:none;
}
.main_bodyBottomLeftone{
	width:200px;
	height:50px;
	background:#3b6276;
	font-size:18px;
	text-align:center;
	line-height:50px;
	color:#fff;
	cursor:default;
}
.main_bodyBottomLeftcontent{
	width:100%;
	height:100px;
	line-height:100px;
	font-size:18px;
	text-align:center;
	color:#2c3a5d;
	text-align:center;
}
/* 文字鼠标样式 */
.main_bodyBottomLeftcontent.two a{
	color:#1094e4;
}
.main_bodyBottomLeftcontent a{
	color:#2c3a5d;
	text-decoration:none;
}
.main_bodyBottomLeftcontent a:hover{
	color:#5dc1fe;
}
/* 右边样式 */
/*  整体 */
.main_bodyBottomRightContent{
	width:962px;
	height:140px;
	margin-top:20px;
	border-radius:10px;
	box-shadow:0px 1px 5px 1px rgba(59,98,118,0.8);
	float:left;
	margin-left:38px;
	float:left;
	background:#fff;
}  
.main_bodyBottomRightContent.Distinguish{
	margin-top:38px;
}
/* 右边上面 */
.main_bodyBottomRightContentTitle{
	width:962px;
	height:40px;
	border-bottom:1px dashed #5384a0;
	padding-left:40px;
	line-height:40px;
	font-size:14px;
	color:#2c3a5d;
	cursor:default;
}
.main_bodyBottomRightContentTitleR{
	margin-left:720px;
}
/* 右边下面 */
/* 整体样式 */
.main_bodyBottomRightContentBottom{
	width:962px;
	height:100px;
	float:left;
	
}
.main_bodyBottomRightContentBottomC{
	margin-left:40px;
	float:left;
	font-size:14px;
	color:#2c3a5d;
	margin-top:15px;
	cursor:default;
}
.main_bodyBottomRightContentBottomC.two{
	margin-left:180px;
}
.main_bodyBottomRightContentBottomC.pic{
	margin-left:298px;
	cursor:pointer;
}
/* 右边下面内容样式 */
.main_bodyBottomRightContentBottomCoT{
	margin-top:8px;
}
/* 分页 */
.paging{
	width:408px;
	height:85px;
	float:right;
	line-height:85px;
	padding-left:20px;
	font-size:18px;
	color:#2c3a5d;
}

.pagingTextO{
	float:left;
	cursor:pointer;
}
/* 鼠标指向的样式 1的样式 */
.pagingTextO:hover{
	color:#5dc1fe;
}

.pagingText{
	margin-left:40px;
	float:left;
	cursor:pointer;
}
/* 鼠标指向的样式 2的样式 */
.pagingText.two:hover{
	color:#5dc1fe;
}

/* 鼠标指向的样式 3的样式 */
.pagingText.three:hover{
	color:#5dc1fe;
}
/* 鼠标指向的样式 4的样式 */
.pagingText.four:hover{
	color:#5dc1fe;
}
.pagingTextOne:hover{
	color:#5dc1fe;
}
.pagingTextOneInput{
	width:40px;
	height:30px;
	margin-left:40px;
	padding-left:5px;
}
.btnPic{
	width:17px;
	height:33px;
	margin-left:80px;
	cursor:pointer;
}

.btnPic1{
	width:17px;
	height:33px;
	cursor:pointer;
}

/* 底部 */
.footerDiv{
	width:100%;
	height:150px;
	background:#e5e8ea;
}
.footer{
	width:1200px;
	height:150px;
	background:#e5e8ea;
	margin:0px auto;
}
.footerLeft{
	width:60px;
	margin-top:40px;
	float:left;
}
.footerLeftPic{
	width:60px;
	height:53px;
}
.footerPic{
	width:60px;
}
.footerLeftMiddle{
	width:400px;
	height:150px;
	margin-left:30px;
	float:left;
}
.footerLeftText{
	margin-top:25px;
	font-size:10px;
	cursor:default;
}
.footerLeftTextLiFist{
	font-size:12px;
}
.footerLeftTextLi{
	margin-top:10px;
	color:#aaa;
}
.footerRightMiddle{
	float:right;
	margin-right:30px;
	line-height:20px;
	font-size:12px;
	margin-top:45px;
	color:#aaa;
	text-align:right;
	cursor:default;
}
.footerRightMiddleUlfist{
	font-size:10px;
}

.footerRightPic{
	float:right;
	margin-top:35px;
}
.weixinPic{
	width:80px;
	height:80px;
}


.footerRightMiddlePic{
	float:right;
}

.footerRightMiddlePic ul li{
	width:36px;
	float:right;
}
.footerRightMiddlePicli{
		margin-right:10px;
}
.DivStyle{
	background:#ececec;
	width:100%;
	height:100px;
	line-height:100px;
	font-size:18px;
	text-align:center;
	color:#2c3a5d;
	text-align:center;
}