.main{
	background:#f5f5f5;
}
.mainBox{
	width:1240px;
	height:auto;
	margin:0 auto;
	padding:20px 0 108px 0;
}
.mainBoxLeft{
	width:820px;
	background:#fff;
	border:1px solid #dcdcdc;
	box-shadow:1px 2px 3px rgb(220,220,220); 
	padding-bottom:62px;
}
.mainBoxRight{
	width:400px;
	background:#fff;
	box-shadow:1px 2px 3px rgb(220,220,220);
}
.mainleft-list{
	width:100%;
	height:127px;
	border-bottom:1px solid #dcdcdc;
	padding:20px;
}
.mainleft-list-title{
	margin-bottom:16px;
}
.mainleft-list-title .title{
	color:#009FA8;
	font-size:18px;
	cursor:pointer;
}
.mainleft-list-title .title:hover{
	color:#EC7837;
	cursor:pointer;
}
.titlebox:hover{
	color:#EC7837;
	cursor:pointer;
}
.titlebox:hover .title{
	color:#EC7837;
	cursor:pointer;
}
.mainleft-list-title .tip{
	color:#2D6C9F;
	font-size:12px;
	margin-left:80px;
}
.mainleft-list-title .tip span{
	color:#2D6C9F;
	font-size:12px;
	margin:0 3px;
	cursor:pointer;
}
.mainleft-list-title .tip span:hover{
	color:#EC7837;
}
.mainleft-list-con{
	color:#666;
	line-height:22px;
}
.mainleft-list-con .title{
	color:#009FA8;
}
.mainleft-list-con .tip{
	color:#2D6C9F;
	cursor:pointer;
}
.mainleft-list-title .fr{
	color:#999;
	font-size:12px;
	line-height:28px;
}
.titlebox{
	font-size:18px;
}
.mainleft-list-con img{
	width:64px;
	margin-top:-7px;
}
.mainleft-list-con-r{
	width:680px;
	margin-left:16px;
	margin-top:-5px;
}
.mainBox3Right2 {
    width: 400px;
    height: 250px;
    padding: 0 20px;
    border: 1px solid #dcdcdc;
    box-shadow: 1px 2px 5px rgb(238,238,238);
}
.mainBox3Right1Tilte {
	font-size:16px;
    line-height: 49px;
}
.questions {
    width: 360px;
    height: 176px;
    background: #f5f5f5;
    padding: 15px 20px;
    position: relative;
}
.questions textarea {
    width: 100%;
    height: 115px;
    line-height: 24px;
    border: none;
    resize: none;
    font-size: 16px;
    color: #999;
    background: none;
}
.questionsTip {
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    padding-left: 130px;
}
.questionsTip span {
    color: #999;
    font-size: 14px;
}
.questionsTip button {
    width: 76px;
    height: 30px;
    line-height: 30px;
    background: #009FA8;
    border: none;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 5px;
}