<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>超级医生-案例详情页</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" href="__CSS__/public.css">
	<link rel="stylesheet" href="__CSS__/idangerous.swiper.css">
	<link rel="stylesheet" href="__CSS__/expertDetails.css">
	<link rel="stylesheet" href="__CSS__/caseDetails.css">
	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/idangerous.swiper.min.js"></script>
</head>
<body>
	<div class="box">
		<a name="top" id="top"></a>
		<!-- header -->
		<include file="Public/cjysHeader" />
		<div class="main">
			<div class="mainBox">
				<div class="mainBox1">
					<div class="mainBox1Intro fl">
						<div class="introName">胃癌肺转移患者赴美寻希望——肿瘤免疫治疗创奇迹！</div>
						<div class="introText">
							<img src="__IMG__/20180406_10.png" alt="" class="fl mainBox1-img">
							<div class="mainBox1-con fl">
								<div class="mainBox1Li"><span class="mainBox1-title">疾&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;病 ：</span>肝癌</div>
								<div class="mainBox1Li"><span class="mainBox1-title">就诊医院 ：</span>日本红十字会总医院</div>
								<div class="mainBox1Li"><span class="mainBox1-title">主治医生 ：</span>日本红十字会总医院院长</div>
								<div class="mainBox1Li"><span class="mainBox1-title">治疗方案 ：</span>普通外科手术</div>
								<div class="mainBox1Li-con">
									治疗效果：癌细胞呈撒种式扩散，心包膜附近肿瘤转移，经日本红十字会总医院院长16小时手术，成功切除剥离癌细胞。
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mainBox2">
					<div class="mainBox2Left fl">
						<div class="mainBox2LeftCon">
							<div class="mainBox2Title">
								<div class="mainBox2TitleCon">出国看病过程</div>
								<div class="mainBox2TitleLine"></div>
							</div>
							<div class="mainBox2-con">
								<div class="mainBox2-list">
									当地时间3月29日00:00，日本红十字会总医院手术室里，大家都长长地舒了一口气，一场长达近16个小时的“战斗”刚刚取得胜利。该院的第十七代院长，一位年近七旬的老人，亲自执刀，成功挽救了中国一位肝癌复发的患者。
								</div>
								<div class="mainBox2-list">肝癌二次复发 求医迫在眉睫</div>
								<div class="mainBox2-list">这位患者2013年确诊肝癌，接受手术后仅两年时间已经复发了两次。在第二次复发时，因癌细胞转移速度过快，范围过于分散，患者辗转国内多家医院，医生都表示手术风险太大，治疗难度非常大，能否做手术切除掉还是个未知数。</div>
								<div class="mainBox2-list mainBox2-list-top">△患者2013年的病理检查报告</div>
								<div class="mainBox2-list">病情还在恶化，时间就是生命。患者的家人通过与厚朴诺亚健康管理(北京)有限公司(以下简称：厚朴方舟)咨询赴日治疗的过程中，了解到可以联系世界顶级肝胆胰专家见诊治疗后，与专家通话了两次，家人便坚定了带患者去日本治疗的心。专家成为患者生命得以延续的最后希望。</div>
								<div class="mainBox2-list">情况不容乐观 迅速确定方案</div>
								<div class="mainBox2-list">2016年3月14日，是患者一家第一次正式见到专家的日子。这个被欧洲肝胆外科学会主席誉为当世肝胆胰外科手术第一人的院长，却没有丝毫的架子，不仅亲自看了患者带来的最新影像资料，还分析病历做了初步诊断。他告诉患者，目前的情况确实不容乐观。</div>
								<div class="mainBox2-list">根据检查显示，肝右叶前区域、心包、腹膜和右横膈膜顶部有转移性肿瘤，腹腔里也有癌细胞的可能，严重怀疑有多处复发和转移。目前放疗化疗已经失效，不会有任何作用，即使家属能提供脏器，患者也不是合适的肝移植对象。目前最有效的治疗手段就是手术大范围切除，然后使用防癌剂注入腹腔杀死癌细胞。</div>
								<div class="mainBox2-list">惊心动魄的16小时 刀锋下的生命奇迹</div>
								<div class="mainBox2-list">东京时间3月29日8:30，更换好手术衣和压缩袜的患者边打点滴边步行进入8楼手术室。早已准备就绪候在那里的主刀医生，正是日本红十字会总医院院长。对于在过去的30多年里，已经成功做过500多例活体肝脏移植手术，挽救了近2000人生命的日本红十字会总医院院长而言，手术室就是他的主战场，今日的场景已不陌生。但几日前的PET-CT和造影CT显示，患者已出现癌细胞全身转移，再发病灶和淋巴结均发现癌细胞，呈撒种扩散，并且观察到已有腹水。在心包膜附近就有一处肿瘤转移，切除中稍有不慎即会伤及心脏，这也是国内医生最为顾忌的地方。手术的难度可想而知。</div>
								<div class="mainBox2-img">
									<img src="__IMG__/20180406_11.png" alt="">
									<span>△边打点滴边去手术室的患者</span>
								</div>
								<div class="mainBox2-list">“这如果都能手术，真是太震撼了。”陪同在患者及家人身边的厚朴方舟员工一直与北京总部保持联络实况转播，国内的医学专家听闻后不禁发出这样的感慨。</div>
								<div class="mainBox2-list">进入手术室前，患者坚定地面对家人笑了一笑。“我很有信心，必须有信心。只有勇敢面对生命的困难和挑战，才能战胜这一切。”</div>
								<div class="mainBox2-list">而对于等候在手术室外的家人，时间变得如此漫长。在手术中的十多个小时里，等候的人坐立不安，即便是身下的沙发，仿佛都忽然硬的让人无法安心坐下。准备好的饭食搁在一边，厚朴方舟的陪同人员在一旁耐心安慰。终于，在灌了铅般的表针指向21:00的时候，日本红十字会总医院院长出来为家属展示了刚刚切除的病变组织，做了简短说明后，便又转身回到了手术室。</div>
								<div class="mainBox2-notice">*本案例版权归厚朴方舟所有，未经授权请勿转载。</div>
								<div class="mainBox2-prompt">特别提示：为保护用户和医生隐私，文中姓名和图片都进行了隐私保护处理。本文经用户授权发布，版权归厚朴方舟健康管理(北京)有限公司和用户本人所有，未经厚朴方舟授权严禁转载，否则我们将保留追究法律责任的权利!</div>
							</div>
						</div>
						<div class="mainLeftShare">
							<span class="mainLeftShareText fl">分享到</span>
							<img src="__IMG__/20180316cjys43.png" alt="微信" class="fl" data-src="20180316cjys43" title="微信">
							<img src="__IMG__/20180316cjys41.png" alt="微博" class="fl" data-src="20180316cjys41" title="微博">
							<img src="__IMG__/20180316cjys26.png" alt="QQ" class="fl" data-src="20180316cjys26" title="QQ">
							<div class="cl"></div>
						</div>
						<div class="WeChat">
							<div class="WeChatLogo fl"><img src="__IMG__/20180316cjys30.png" alt=""></div>
							<div class="WeChatText fr">关注微信公众号，了解更多医疗信息</div>
						</div>
					</div>
					<div class="mainBox2Right fr">
						<div class="mainRight1">
							<div class="mainRight1_tip">
								<img src="__IMG__/20180406_12.png" alt="">
								<span>独家</span>
							</div>
							<div class="mainRight1_title">
								<span class="mainRight1_title1 fl">超级医生推荐</span>
							</div>
							<div class="mainRight1Banner swiper-container">
								<div class="swiper-wrapper">
						            <div class="swiper-slide">
						            	<div class="mainRight1BannerInner">
											<img src="__IMG__/20180406_13.png" alt="">
											<div class="mainRight1BannerName">鹤丸昌彦&nbsp;教授</div>
											<div class="mainRight1BannerText">日本消日本医科大学附属病院</div>
											<div class="mainRight1BannerText">脑神经外科部长</div>
											<div class="mainRight1-line"></div>
											<div class="mainRight1BannerText2">擅长：脑神经外科、头颅底肿瘤、脑血管异常</div>
											<div class="bannerConsultation">咨询预约</div>
										</div>
							        </div>
							        <div class="swiper-slide">
						            	<div class="mainRight1BannerInner">
											<img src="__IMG__/20180406_13.png" alt="">
											<div class="mainRight1BannerName">鹤丸昌彦&nbsp;教授</div>
											<div class="mainRight1BannerText">日本消日本医科大学附属病院</div>
											<div class="mainRight1BannerText">脑神经外科部长</div>
											<div class="mainRight1-line"></div>
											<div class="mainRight1BannerText2">擅长：脑神经外科、头颅底肿瘤、脑血管异常</div>
											<div class="bannerConsultation">咨询预约</div>
										</div>
							        </div>
							        <div class="swiper-slide">
						            	<div class="mainRight1BannerInner">
											<img src="__IMG__/20180406_13.png" alt="">
											<div class="mainRight1BannerName">鹤丸昌彦&nbsp;教授</div>
											<div class="mainRight1BannerText">日本消日本医科大学附属病院</div>
											<div class="mainRight1BannerText">脑神经外科部长</div>
											<div class="mainRight1-line"></div>
											<div class="mainRight1BannerText2">擅长：脑神经外科、头颅底肿瘤、脑血管异常</div>
											<div class="bannerConsultation">咨询预约</div>
										</div>
							        </div>
								</div>
								<div class="my-pagination"></div>
							</div>
							<script>
								var mySwiper2 = new Swiper('.mainRight1Banner',{
						            loop: true,
						            autoplay: 5000,
						            effect : 'fade',
						            pagination:'.my-pagination',
						            paginationClickable :true
						        });
							</script>
						</div>
						<div class="mainRight3">
							<div class="mainRight1_title">品牌医院推荐</div>
							<div class="mainRight1-con">
								<div class="mainRight1-context">
									<img src="__IMG__/20180406_1.png" alt="" class="fl">
									<div class="mainRight1-context-r fl">
										<div class="context-r-1">美国麻省总医院</div>
										<div class="context-r-2">三大美国最佳医院之一</div>
										<div class="context-r-3 over2">优势科室：癌症、消化系统疾病消化系统疾病</div>
									</div>
								</div>
								<div class="mainRight1-context">
									<img src="__IMG__/20180406_1.png" alt="" class="fl">
									<div class="mainRight1-context-r fl">
										<div class="context-r-1">美国麻省总医院</div>
										<div class="context-r-2">三大美国最佳医院之一</div>
										<div class="context-r-3 over2">优势科室：癌症、消化系统疾病消化系统疾病</div>
									</div>
								</div>
								<div class="mainRight1-context">
									<img src="__IMG__/20180406_1.png" alt="" class="fl">
									<div class="mainRight1-context-r fl">
										<div class="context-r-1">美国麻省总医院</div>
										<div class="context-r-2">三大美国最佳医院之一</div>
										<div class="context-r-3 over2">优势科室：癌症、消化系统疾病消化系统疾病</div>
									</div>
								</div>
							</div>
						</div>
						<div class="mainRight2">
							<div class="mainRight1_title">相关案例</div>
							<div class="moreHos">
								<div class="mainRight5Banner swiper-container">
									<div class="swiper-wrapper">
						                <div class="swiper-slide">
						                	<div class="caseBanner">
								                <img src="__IMG__/20180406_14.png" alt="">
								                <div class="caseBannerText"><span class="over2">胃癌Ⅳ期患者秦女士赴日就医得解答胃癌Ⅳ期患者秦女士赴日就医得解答</span></div>
							                </div>
						                </div>
						                <div class="swiper-slide">
						                 	<div class="caseBanner">
								                <img src="__IMG__/20180406_14.png" alt="">
								                <div class="caseBannerText"><span class="over2">胃癌Ⅳ期患者秦女士</span></div>
							                </div>
						                </div>
						                <div class="swiper-slide">
						                 	<div class="caseBanner">
								                <img src="__IMG__/20180406_14.png" alt="">
								                <div class="caseBannerText"><span class="over2">胃癌Ⅳ期患者秦女士赴日就医</span></div>
							                </div>
						                </div>
						            </div>
						            <div class="my-pagination2"></div>
								</div>
							    <script>
							        var mySwiper1 = new Swiper('.mainRight5Banner',{
							            loop: true,
							            autoplay: 5000,
							            pagination:'.my-pagination2',
						            	paginationClickable :true
							        });
							    </script>
							    <div class="caseList over2">肺癌早期患者赴癌研有明医院求医康复记</div>
							    <div class="caseList over2">肺癌早期患者赴癌研有明医院求医康复记</div>
							    <div class="caseList over2">肺癌早期患者赴癌研有明医院求医康复记</div>
							    <div class="caseList over2">肺癌早期患者赴癌研有明医院求医康复记肺癌早期患者赴</div>
							    <div class="caseList over2">肺癌早期患者赴癌研有明医院求医康复记</div>
							    <div class="caseList over2">肺癌早期患者赴癌研有明医院求医康复记</div>
							</div>
						</div>
						
						<div style="margin-top:180px">
							<a href="#top" target="_self">
								<img src="__IMG__/20180316cjys48.png" alt="" class="mainRight7Top" title="返回顶部">
							</a>
						</div>
					</div>
					<div class="cl"></div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<include file="Public/cjysFooter" />
	</div>
	<script>
		var IMG='__IMG__/';
		// 分享
		$('.mainLeftShare img').hover(function(){
			var src=$(this).data('src');
			$(this).attr('src',IMG+src+'a.png');
		},function(){
			var src=$(this).data('src');
			$(this).attr('src',IMG+src+'.png');
		});
	</script>
</body>
</html> 