<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>超级医生-案例列表</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" href="__CSS__/public.css">
	<link rel="stylesheet" href="__CSS__/idangerous.swiper.css">
	<link rel="stylesheet" href="__CSS__/pagination.css">
	<link rel="stylesheet" href="__CSS__/index.css">
	<link rel="stylesheet" href="__CSS__/caseList.css">
	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/idangerous.swiper.min.js"></script>
	<script src="__JS__/index.js"></script>
	<script src="__JS__/pagination.min.js"></script>
</head>
<body>
	<div class="box">
		<!-- header -->
		<include file="Public/cjysHeader" />
		<!-- keyword -->                                        
		<div class="caseMain">
			<div class="boxShow">
				<div class="keywordBox1">
					<span class="fl keyName">服务类别：</span>
					<div class="fl"><span class="keyAll fl">不限</span></div>
					<div class="fl keyContR1">
						<a href=""><span title="出国就诊" class="keywords">出国就诊</span></a>
						<a href=""><span title="远程会诊" class="keywords">远程会诊</span></a>
						<a href=""><span title="海外体检" class="keywords">海外体检</span></a>
					</div>
					<div class="cl"></div>
				</div>
				<div class="keywordBox1">
					<span class="fl keyName">国&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;家：</span>
					<div class="fl"><span class="keyAll fl">不限</span></div>
					<div class="fl keyContR1">
						<a href=""><span title="日本" class="keywords">日本</span></a>
						<a href=""><span title="美国" class="keywords">美国</span></a>
					</div>
					<div class="cl"></div>
				</div>
				<div class="keywordBox">
					<span class="fl keyName">疾病种类：</span>
					<div class="fl"><span class="keyAll fl">不限</span></div>
					<div class="keyContentB fl">
						<div class="keyContent">
							<span class="keyList fl">肿瘤</span>
							<span class="fl keyLine">|</span>
							<div class="keyContR fl">
								<a href=""><span title="肺癌" class="keywords">肺癌</span></a>
								<a href=""><span title="肝癌" class="keywords">肝癌</span></a>
								<a href=""><span title="肝癌" class="keywords">食道癌</span></a>
								<a href=""><span title="肝癌" class="keywords">胃癌</span></a>
								<a href=""><span title="肝癌" class="keywords">宫颈癌</span></a>
								<a href=""><span title="肝癌" class="keywords">结肠癌</span></a>
								<a href=""><span title="肝癌" class="keywords">直肠癌</span></a>
								<a href=""><span title="肝癌" class="keywords">脑瘤</span></a>
								<a href=""><span title="肝癌" class="keywords">乳腺癌</span></a>
								<a href=""><span title="肝癌" class="keywords">肾癌</span></a>
								<a href=""><span title="肝癌" class="keywords">肉瘤</span></a>
								<a href=""><span title="肝癌" class="keywords">胰腺癌</span></a>
								<a href=""><span title="肝癌" class="keywords">卵巢癌</span></a>
								<a href=""><span title="肝癌" class="keywords">骨肉瘤</span></a>
								<a href=""><span title="肝癌" class="keywords">子宫癌</span></a>
								<a href=""><span title="肝癌" class="keywords">喉癌</span></a>
								<a href=""><span title="肝癌" class="keywords">黑色素瘤</span></a>
								<a href=""><span title="肝癌" class="keywords">视网膜母细胞瘤</span></a>
								<a href=""><span title="肝癌" class="keywords">白血病</span></a>
								<a href=""><span title="肝癌" class="keywords">神经母细胞瘤</span></a>
								<a href=""><span title="肝癌" class="keywords">尤文氏肉瘤</span></a>
								<a href=""><span title="肝癌" class="keywords">PNET</span></a>
								<a href=""><span title="肝癌" class="keywords">淋巴瘤</span></a>
								<a href=""><span title="肝癌" class="keywords">前列腺癌</span></a>
								<a href=""><span title="肝癌" class="keywords">室管膜肿瘤</span></a>
								<a href=""><span title="肝癌" class="keywords">扁平上皮癌</span></a>
								<a href=""><span title="肝癌" class="keywords">鳞状上皮细胞癌</span></a>
								<a href=""><span title="肝癌" class="keywords">炎性肌纤维母细胞瘤</span></a>
								<a href=""><span title="肝癌" class="keywords">鼻咽癌</span></a>
							</div>
							<div class="cl"></div>
						</div>
						<div class="keyContent">
							<span class="keyList fl">肿瘤</span>
							<span class="fl keyLine">|</span>
							<div class="keyContR fl">
								<a href=""><span title="肺癌" class="keywords">肺癌</span></a>
								<a href=""><span title="肝癌" class="keywords">肝癌</span></a>
								<a href=""><span title="肝癌" class="keywords">食道癌</span></a>
								<a href=""><span title="肝癌" class="keywords">胃癌</span></a>
								<a href=""><span title="肝癌" class="keywords">宫颈癌</span></a>
								<a href=""><span title="肝癌" class="keywords">结肠癌</span></a>
								<a href=""><span title="肝癌" class="keywords">直肠癌</span></a>
								<a href=""><span title="肝癌" class="keywords">脑瘤</span></a>
								<a href=""><span title="肝癌" class="keywords">乳腺癌</span></a>
								<a href=""><span title="肝癌" class="keywords">肾癌</span></a>
								<a href=""><span title="肝癌" class="keywords">肉瘤</span></a>
								<a href=""><span title="肝癌" class="keywords">胰腺癌</span></a>
								<a href=""><span title="肝癌" class="keywords">卵巢癌</span></a>
								<a href=""><span title="肝癌" class="keywords">骨肉瘤</span></a>
								<a href=""><span title="肝癌" class="keywords">子宫癌</span></a>
								<a href=""><span title="肝癌" class="keywords">喉癌</span></a>
								<a href=""><span title="肝癌" class="keywords">黑色素瘤</span></a>
								<a href=""><span title="肝癌" class="keywords">视网膜母细胞瘤</span></a>
								<a href=""><span title="肝癌" class="keywords">白血病</span></a>
								<a href=""><span title="肝癌" class="keywords">神经母细胞瘤</span></a>
								<a href=""><span title="肝癌" class="keywords">尤文氏肉瘤</span></a>
								<a href=""><span title="肝癌" class="keywords">PNET</span></a>
								<a href=""><span title="肝癌" class="keywords">淋巴瘤</span></a>
								<a href=""><span title="肝癌" class="keywords">前列腺癌</span></a>
								<a href=""><span title="肝癌" class="keywords">室管膜肿瘤</span></a>
								<a href=""><span title="肝癌" class="keywords">扁平上皮癌</span></a>
								<a href=""><span title="肝癌" class="keywords">鳞状上皮细胞癌</span></a>
								<a href=""><span title="肝癌" class="keywords">炎性肌纤维母细胞瘤</span></a>
								<a href=""><span title="肝癌" class="keywords">鼻咽癌</span></a>
							</div>
							<div class="cl"></div>
						</div>
					</div>
					<div class="cl"></div>
				</div>
				<div class="moreKeys fr" data-n="1">
					<span class="fl">更多</span>
					<img src="__IMG__/20180316cjys3.png" alt="" class="fl">
				</div>
				<div class="cl"></div>
			</div>
			<div class="caseList">
				<div class="caseListLi">
					<img src="__IMG__/20180406_8.png" alt="" class="fl">
					<div class="caseListLi-r fl">
						<div class="caseListLi-title">厚朴方舟客户刘先生梭形细胞肉瘤赴日重粒子治疗记</div>
						<div class="caseListLi-tip">疾病：梭形细胞肉瘤</div>
						<div class="caseListLi-con">摘要：患者在国内进行了右侧盆腔臀部肿瘤切除手术，术后肿瘤残余部分需放射治疗，由于国内放疗副作用较大，医生推荐到日本接受重离子治疗，经过4周治疗大幅降低肺部转移概率（如果不治疗的话，转移几率近乎100%）......</div>
					</div>
				</div>
				<div class="caseListLi">
					<img src="__IMG__/20180406_8.png" alt="" class="fl">
					<div class="caseListLi-r fl">
						<div class="caseListLi-title">厚朴方舟客户刘先生梭形细胞肉瘤赴日重粒子治疗记</div>
						<div class="caseListLi-tip">疾病：梭形细胞肉瘤</div>
						<div class="caseListLi-con">摘要：患者在国内进行了右侧盆腔臀部肿瘤切除手术，术后肿瘤残余部分需放射治疗，由于国内放疗副作用较大，医生推荐到日本接受重离子治疗，经过4周治疗大幅降低肺部转移概率（如果不治疗的话，转移几率近乎100%）......</div>
					</div>
				</div>
				<div class="caseListLi">
					<img src="__IMG__/20180406_8.png" alt="" class="fl">
					<div class="caseListLi-r fl">
						<div class="caseListLi-title">厚朴方舟客户刘先生梭形细胞肉瘤赴日重粒子治疗记</div>
						<!-- <div class="caseListLi-tip">疾病：梭形细胞肉瘤</div> -->
						<div class="caseListLi-con">摘要：患者在国内进行了右侧盆腔臀部肿瘤切除手术，术后肿瘤残余部分需放射治疗，由于国内放疗副作用较大，医生推荐到日本接受重离子治疗，经过4周治疗大幅降低肺部转移概率（如果不治疗的话，转移几率近乎100%）......</div>
					</div>
				</div>
				<div class="caseListLi">
					.....
				</div>
			</div>
			<!-- 分页 -->
			<div id="pagination"></div>
		</div>
		<!-- footer -->
		<include file="Public/cjysFooter" />
	</div>
	<script>
		// ***分页***
	    $("#pagination").whjPaging({
		  	//设为true时，ajax里的success函数必须调用setPage方法，否则分页插件显示保持不变
		  	// isResetPage: true,
		  	css: 'css-1',
	        //可选，展示页码数量6条
				showPageNum: 6,
				// 总共18页
	        totalPage: 18,
	        //可选，是否展示每页N条下拉框，默认true
			isShowPageSizeOpt: false,
			//可选，是否展示跳到指定页数，默认true
			isShowSkip: false,
			//可选，是否展示刷新，默认true
			isShowRefresh: false,
			//可选，是否展示共{}页，默认true
			isShowTotalPage: false,
			// 返回参数：第一个参数为页码，第二个参数为每页显示N条
	        callBack: function (currPage, pageSize) {
	            console.log('currPage:' + currPage + '     pageSize:' + pageSize);
	        }
		});
		/*
		function loadData(currPage, pageSize) {
			$.ajax({
			    //其它参数选项请自填
			    success: function(res) {
				    
			    }
			});
		}
		loadData(1, 8);
		*/
	</script>
</body>
</html> 