<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>超级医生-资讯2</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" href="__CSS__/public.css">
	<link rel="stylesheet" href="__CSS__/idangerous.swiper.css">
	<link rel="stylesheet" href="__CSS__/consultation.css">
	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/idangerous.swiper.min.js"></script>
</head>
<body>
	<div class="box">
		<!-- header -->
		<include file="Public/cjysHeader" />
		<div class="mainBox">
			<div class="main">
				<img src="__IMG__/20180316cjys15.png" alt="" class="imgBanner">
				<div class="mainCont">
					<div class="mainLeft fl">
						<!-- banner -->
						<div class="mainLeft1 swiper-container">
							<div class="swiper-wrapper">
				                <div class="swiper-slide">
				                 	<img src="__IMG__/20180406_15.png" alt="" class="mainBox1BannerImg">
				                </div>
				                <div class="swiper-slide">
				                 	<img src="__IMG__/20180406_15.png" alt="" class="mainBox1BannerImg">
				                </div>
				                <div class="swiper-slide">
				                 	<img src="__IMG__/20180406_15.png" alt="" class="mainBox1BannerImg">
				                </div>
				            </div>
				            <div class="my-pagination"></div>
						</div>
						<script>
					        var mySwiper1 = new Swiper('.mainLeft1',{
					            loop: true,
					            autoplay: 5000,
					            pagination:'.my-pagination',
					            paginationClickable :true
					        });
					    </script>
					    <div class="mainLeft2">
					    	<div class="mainLeft2-title">最新案例</div>
					    	<div class="mainLeft2List">
					    		<div class="mainLeft2List-img" style="display:block">
					    			<img src="__IMG__/20180406_18.png" alt="" class="fl">
					    			<span class="fl">美国最新发布：筛查并不能降低卵巢癌死</span>
					    		</div>
					    		<li style="display:none"><div class="licircle fl"></div><div>美国最新发布：筛查并不能降低卵巢癌死</div></li>
					    	</div>
					    	<div class="mainLeft2List">
					    		<div class="mainLeft2List-img">
					    			<img src="__IMG__/20180406_18.png" alt="" class="fl">
					    			<span class="fl">美国最新发布：筛查并不能降低卵巢癌死</span>
					    		</div>
					    		<li><div class="licircle fl"></div><div>美国最新发布：筛查并不能降低卵巢癌死</div></li>
					    	</div>
					    	<div class="mainLeft2List">
					    		<div class="mainLeft2List-img">
					    			<img src="__IMG__/20180406_18.png" alt="" class="fl">
					    			<span class="fl">美国最新发布：筛查并不能降低卵巢癌死</span>
					    		</div>
					    		<li><div class="licircle fl"></div><div>美国最新发布：筛查并不能降低卵巢癌死</div></li>
					    	</div>
					    	<div class="mainLeft2List">
					    		<div class="mainLeft2List-img">
					    			<img src="__IMG__/20180406_18.png" alt="" class="fl">
					    			<span class="fl">美国最新发布：筛查并不能降低卵巢癌死</span>
					    		</div>
					    		<li><div class="licircle fl"></div><div>美国最新发布：筛查并不能降低卵巢癌死</div></li>
					    	</div>
					    	<div class="mainLeft2List">
					    		<div class="mainLeft2List-img">
					    			<img src="__IMG__/20180406_18.png" alt="" class="fl">
					    			<span class="fl">美国最新发布：筛查并不能降低卵巢癌死</span>
					    		</div>
					    		<li><div class="licircle fl"></div><div>美国最新发布：筛查并不能降低卵巢癌死</div></li>
					    	</div>
					    	<div class="mainLeft2List">
					    		<div class="mainLeft2List-img">
					    			<img src="__IMG__/20180406_18.png" alt="" class="fl">
					    			<span class="fl">美国最新发布：筛查并不能降低卵巢癌死</span>
					    		</div>
					    		<li><div class="licircle fl"></div><div>美国最新发布：筛查并不能降低卵巢癌死</div></li>
					    	</div>
					    </div>
					    <div class="mainLeft3">
					    	<div style="margin-bottom:16px">
					    		<span class="mainLeft3List">查疾病</span>
					    		<span class="mainLeft3List">查药品</span>
					    		<span class="mainLeft3List">找医生</span>
					    		<span class="mainLeft3List">问医生</span>
					    	</div>
					    	<div class="mainLeft3Disease">
					    		<span>黑色素瘤</span>
					    		<span>视网膜母细胞瘤</span>
					    		<span>白血病</span>
					    		<span>神经母细胞瘤</span>
					    		<span>黑色素瘤</span>
					    		<span>视网膜母细胞瘤</span>
					    		<span>白血病</span>
					    		<span>神经母细胞瘤</span>
					    		<span>黑色素瘤</span>
					    		<span>白血病</span>
					    		<span>神经母细胞瘤</span>
					    		<span>黑色素瘤</span>
					    		<span>视网膜母细胞瘤</span>
					    		<span>白血病</span>
					    		<span>神经母细胞瘤</span>
					    	</div>
					    </div>
					</div>
					<div class="mainMiddle fl">
						<div class="middleOne">
							<div class="newMessage">最新信息</div>
							<div class="newMessageLi">都说日本医院没人？看完才发现日本医疗厉害之处</div>
							<div class="newMessageLi">日本抗癌药品总结：哪些都具备奇效？</div>
							<div class="newMessageLi">日本防癌概念：8大饮食重点让你远离癌细胞</div>
							<div class="middleOneBottom">
								<li><div class="licircle fl"></div><div class="middleOneBottomLi">【到美国看病】看看美国如何培养全科医生</div></li>
								<li><div class="licircle fl"></div><div class="middleOneBottomLi">【到美国看病】看看美国如何培养全科医生</div></li>
								<li><div class="licircle fl"></div><div class="middleOneBottomLi">【到美国看病】看看美国如何培养全科医生</div></li>
								<li><div class="licircle fl"></div><div class="middleOneBottomLi">【到美国看病】看看美国如何培养全科医生</div></li>
							</div>
						</div>
						<div class="middleTwo">
							<div class="newMessage newMessage1 fl">世界大师中国行</div>
							<div class="newMessage newMessage2 fl">公益活动</div>
							<div class="cl"></div>
							<div class="middleTwoImgBox">
								<div class="middleTwoImg fl">
									<img src="__IMG__/20180316cjys12.png" alt="">
									<div class="middleTwoImg-text over2">日本肺癌外科第一人铃木健司： 肺日本肺癌外科第一人铃木健司： 肺</div>
								</div>
								<div class="middleTwoImg fr">
									<img src="__IMG__/20180316cjys12.png" alt="">
									<div class="middleTwoImg-text over2">日本肺癌外科第一人铃木健司： 肺</div>
								</div>
								<div class="cl"></div>
								<div class="middleOneBottom">
									<li>
										<div class="licircle fl"></div>
										<div class="middleOneBottomLi fl">【到美国看病】看看美国如何培养全科医生</div>
										<div class="time fr">2017-09-09</div>
									</li>
									<li>
										<div class="licircle fl"></div>
										<div class="middleOneBottomLi fl">【到美国看病】看看美国如何培养全科医生</div>
										<div class="time fr">2017-09-09</div>
									</li>
									<li>
										<div class="licircle fl"></div>
										<div class="middleOneBottomLi fl">【到美国看病】看看美国如何培养全科医生</div>
										<div class="time fr">2017-09-09</div>
									</li>
									<li>
										<div class="licircle fl"></div>
										<div class="middleOneBottomLi fl">【到美国看病】看看美国如何培养全科医生</div>
										<div class="time fr">2017-09-09</div>
									</li>
									<li>
										<div class="licircle fl"></div>
										<div class="middleOneBottomLi fl">【到美国看病】看看美国如何培养全科医生</div>
										<div class="time fr">2017-09-09</div>
									</li>
								</div>
							</div>
						</div>
						<div class="middleThree">
							<div class="middleThree-title">最新药物</div>
							<div class="middleThreeImg fl">
								<img src="__IMG__/20180406_19.png" alt="">
								<span>吗丁啉</span>
							</div>
							<div class="middleThreeImg fl">
								<img src="__IMG__/20180406_19.png" alt="">
								<span>吗丁啉</span>
							</div>
							<div class="middleThreeImg fl">
								<img src="__IMG__/20180406_19.png" alt="">
								<span>吗丁啉</span>
							</div>
							<div class="middleThreeImg fl">
								<img src="__IMG__/20180406_19.png" alt="">
								<span>吗丁啉</span>
							</div>
						</div>
					</div>
					<div class="mainRight fr">
						<div class="mainRight1">
							<div class="mainRight1-hot">
								<div class="hotImg fl">hot</div>
								最热信息
							</div>
							<div class="mainRight1Li"><span class="mainRight1Li-span">1</span>8大饮食重点让你远离癌细胞</div>
							<div class="mainRight1Li"><span class="mainRight1Li-span">2</span>8大饮食重点让你远离癌细胞</div>
							<div class="mainRight1Li"><span class="mainRight1Li-span">3</span>8大饮食重点让你远离癌细胞</div>
							<div class="mainRight1Li"><span>4</span>8大饮食重点让你远离癌细胞</div>
							<div class="mainRight1Li"><span>5</span>8大饮食重点让你远离癌细胞</div>
						</div>
						<div class="mainRight2">
							<div class="mainRight1Title">
								<div class="mainRight1-t mainRight1-t-check fl" data-n="1">权威医院</div>
								<div class="mainRight1-t fl" data-n="2">权威专家</div>
							</div>
							<div class="mainRight1-con mainRight1-con_1">
								<div class="mainRight1-context">
									<img src="__IMG__/20180406_1.png" alt="" class="fl">
									<div class="mainRight1-context-r fl">
										<div class="context-r-1">美国麻省总医院</div>
										<div class="context-r-2">三大美国最佳医院之一</div>
										<div class="context-r-3 over2">优势科室：癌症、消化系统疾病消化系统疾病</div>
									</div>
								</div>
								<div class="mainRight1-context">
									<img src="__IMG__/20180406_1.png" alt="" class="fl">
									<div class="mainRight1-context-r fl">
										<div class="context-r-1">美国麻省总医院</div>
										<div class="context-r-2">三大美国最佳医院之一</div>
										<div class="context-r-3 over2">优势科室：癌症、消化系统疾病消化系统疾病</div>
									</div>
								</div>
								<div class="mainRight1-context">
									<img src="__IMG__/20180406_1.png" alt="" class="fl">
									<div class="mainRight1-context-r fl">
										<div class="context-r-1">美国麻省总医院</div>
										<div class="context-r-2">三大美国最佳医院之一</div>
										<div class="context-r-3 over2">优势科室：癌症、消化系统疾病消化系统疾病</div>
									</div>
								</div>
							</div>
							<div class="mainRight1-con mainRight1-con_2">
								222
							</div>
						</div>
						<div class="mainRight3"><img src="__IMG__/20180406_16.png" alt=""></div>
						<div class="mainRight4">
							<div class="mainRight1-hot">
								问答
							</div>
							<div class="mainRight4-li over2">消化系统疾病都有哪些，怎么疾病都有哪些</div>
							<div class="mainRight4-li over2">消化系统疾病都有哪些，怎么疾病都有哪些</div>
							<div class="mainRight4-li over2">消化系统疾病都有哪些，怎么疾病都有哪些</div>
							<div class="mainRight4-li over2">消化系统疾病都有哪些，怎么疾病都有哪些</div>
						</div>
					</div>
					<div class="cl"></div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<include file="Public/cjysFooter" />
	</div>
	<script>
		var IMG="__IMG__/";
		// 最新案例
		$('.mainLeft2List li').hover(function(){
			$('.mainLeft2List-img').hide();
			$(this).prev('.mainLeft2List-img').show();
			$('.mainLeft2List li').show();
			$(this).hide();
		},function(){

		});
		
		//  权威医院
		$('body').on('click','.mainRight1-t',function(){
			var n=$(this).data('n');
			$('.mainRight1-t').removeClass('mainRight1-t-check');
			$(this).addClass('mainRight1-t-check');
			$('.mainRight1-con').hide();
			$('.mainRight1-con_'+n).show();
		});

	
	</script>
</body>
</html> 