<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>超级医生-医生列表</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" href="__CSS__/public.css">
	<link rel="stylesheet" href="__CSS__/idangerous.swiper.css">
	<link rel="stylesheet" href="__CSS__/pagination.css">
	<link rel="stylesheet" href="__CSS__/hospitalList.css">
	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/idangerous.swiper.min.js"></script>
	<script src="__JS__/pagination.min.js"></script>
</head>
<body>
	<div class="box">
		<!-- header -->
		<include file="Public/cjysHeader" />
		<div class="main">
			<img src="__IMG__/1511920180748.png" alt="" class="bannerImg">
			<div class="mainLeft fl">
				<div class="mainLeft1">
					<div class="mainLeft1_title">找医院</div>
					<div class="mainLeft1_content">
			    		<div class="hospitals">
			    			<div class="hospitals_name fl">国家</div>
			    			<span class="hospitalsAll">不限</span>
			    			<span class="hospitalsLi">日本</span>
			    			<span class="hospitalsLi">美国</span>
			    			<span class="hospitalsLi">中国</span>
			    		</div>
			    		<div class="hospitals">
			    			<div class="hospitals_name fl">级别</div>
			    			<span class="hospitalsAll">不限</span>
			    			<span class="hospitalsLi">综合医院</span>
			    			<span class="hospitalsLi">主任医师</span>
			    		</div>
			    		<div class="hospitals">
			    			<div class="hospitals_name fl">科室</div>
			    			<span class="hospitalsAll">不限</span>
			    			<span class="hospitalsLi">肿瘤科</span>
			    			<span class="hospitalsLi">肿瘤科</span>
			    			<span class="hospitalsLi">肿瘤科</span>
			    		</div>
		    		</div>
		    	</div>
		    	<div class="mainLeft2">
		    		<div class="mainLeft2_title">日本>肿瘤科>主任医师>头颈部</div>
		    		<div class="mainLeft2List">
		    			<img src="__IMG__/20180316cjys10.png" alt="" class="mainLeft2Img1 fl">
		    			<div class="mainLeft2ListRight fl">
		    				<li class="mainLeft2R_title">日本顺天堂大学附属顺天堂医院</li>
		    				<li class="mainLeft2RLi2Box"><div class="mainLeft2RLi2Img fl">排名</div><span class="mainLeft2RLi2 fl">日本综合排名权威医院</span></li>
		    				<li class="mainLeft2RLi3">优势科室：循环系统内科 食道·胃外科 消化系统内科 呼吸系统</li>
		    				<div class="mainLeft2Button mainLeft2Button1">推荐专家</div>
		    				<div class="mainLeft2Button mainLeft2Button2">咨询预约</div>
		    			</div>
		    		</div>
		    		<div class="mainLeft2List">
		    			<img src="__IMG__/20180316cjys10.png" alt="" class="mainLeft2Img1 fl">
		    			<div class="mainLeft2ListRight fl">
		    				<li class="mainLeft2R_title">日本顺天堂大学附属顺天堂医院</li>
		    				<li class="mainLeft2RLi2Box"><div class="mainLeft2RLi2Img fl">排名</div><span class="mainLeft2RLi2 fl">日本综合排名权威医院</span></li>
		    				<li class="mainLeft2RLi3">优势科室：循环系统内科 食道·胃外科 消化系统内科 呼吸系统</li>
		    				<div class="mainLeft2Button mainLeft2Button1">推荐专家</div>
		    				<div class="mainLeft2Button mainLeft2Button2">咨询预约</div>
		    			</div>
		    		</div>
		    		<div class="mainLeft2List">
		    			<img src="__IMG__/20180316cjys10.png" alt="" class="mainLeft2Img1 fl">
		    			<div class="mainLeft2ListRight fl">
		    				<li class="mainLeft2R_title">日本顺天堂大学附属顺天堂医院</li>
		    				<li class="mainLeft2RLi2Box"><div class="mainLeft2RLi2Img fl">排名</div><span class="mainLeft2RLi2 fl">日本综合排名权威医院</span></li>
		    				<li class="mainLeft2RLi3">优势科室：循环系统内科 食道·胃外科 消化系统内科 呼吸系统</li>
		    				<div class="mainLeft2Button mainLeft2Button1">推荐专家</div>
		    				<div class="mainLeft2Button mainLeft2Button2">咨询预约</div>
		    			</div>
		    		</div>
		    		<div class="mainLeft2List">
		    			<img src="__IMG__/20180316cjys10.png" alt="" class="mainLeft2Img1 fl">
		    			<div class="mainLeft2ListRight fl">
		    				<li class="mainLeft2R_title">日本顺天堂大学附属顺天堂医院</li>
		    				<li class="mainLeft2RLi2Box"><div class="mainLeft2RLi2Img fl">排名</div><span class="mainLeft2RLi2 fl">日本综合排名权威医院</span></li>
		    				<li class="mainLeft2RLi3">优势科室：循环系统内科 食道·胃外科 消化系统内科 呼吸系统</li>
		    				<div class="mainLeft2Button mainLeft2Button1">推荐专家</div>
		    				<div class="mainLeft2Button mainLeft2Button2">咨询预约</div>
		    			</div>
		    		</div>
		    		<div class="mainLeft2List">
		    			<img src="__IMG__/20180316cjys10.png" alt="" class="mainLeft2Img1 fl">
		    			<div class="mainLeft2ListRight fl">
		    				<li class="mainLeft2R_title">日本顺天堂大学附属顺天堂医院</li>
		    				<li class="mainLeft2RLi2Box"><div class="mainLeft2RLi2Img fl">排名</div><span class="mainLeft2RLi2 fl">日本综合排名权威医院</span></li>
		    				<li class="mainLeft2RLi3">优势科室：循环系统内科 食道·胃外科 消化系统内科 呼吸系统</li>
		    				<div class="mainLeft2Button mainLeft2Button1">推荐专家</div>
		    				<div class="mainLeft2Button mainLeft2Button2">咨询预约</div>
		    			</div>
		    		</div>
		    		<div class="mainLeft2List">
		    			<img src="__IMG__/20180316cjys10.png" alt="" class="mainLeft2Img1 fl">
		    			<div class="mainLeft2ListRight fl">
		    				<li class="mainLeft2R_title">日本顺天堂大学附属顺天堂医院</li>
		    				<li class="mainLeft2RLi2Box"><div class="mainLeft2RLi2Img fl">排名</div><span class="mainLeft2RLi2 fl">日本综合排名权威医院</span></li>
		    				<li class="mainLeft2RLi3">优势科室：循环系统内科 食道·胃外科 消化系统内科 呼吸系统</li>
		    				<div class="mainLeft2Button mainLeft2Button1">推荐专家</div>
		    				<div class="mainLeft2Button mainLeft2Button2">咨询预约</div>
		    			</div>
		    		</div>
		    		<div class="mainLeft2List">
		    			<img src="__IMG__/20180316cjys10.png" alt="" class="mainLeft2Img1 fl">
		    			<div class="mainLeft2ListRight fl">
		    				<li class="mainLeft2R_title">日本顺天堂大学附属顺天堂医院</li>
		    				<li class="mainLeft2RLi2Box"><div class="mainLeft2RLi2Img fl">排名</div><span class="mainLeft2RLi2 fl">日本综合排名权威医院</span></li>
		    				<li class="mainLeft2RLi3">优势科室：循环系统内科 食道·胃外科 消化系统内科 呼吸系统</li>
		    				<div class="mainLeft2Button mainLeft2Button1">推荐专家</div>
		    				<div class="mainLeft2Button mainLeft2Button2">咨询预约</div>
		    			</div>
		    		</div>
		    		<!-- 分页 -->
		    		<div id="pagination"></div>
		    	</div>
			</div>
			<div class="mainRight fr">
				<div class="mainRight1">
					<div class="mainRight1Title">
						<div class="mainRight1-t mainRight1-t-check fl" data-n="1">品牌医院推荐</div>
						<div class="mainRight1-t fl" data-n="2">最新加入医院</div>
					</div>
					<div class="mainRight1-con mainRight1-con_1">
						<div class="mainRight1-context">
							<img src="__IMG__/20180406_1.png" alt="" class="fl">
							<div class="mainRight1-context-r fl">
								<div class="context-r-1">美国麻省总医院</div>
								<div class="context-r-2">三大美国最佳医院之一</div>
								<div class="context-r-3 over2">优势科室：癌症、消化系统疾病消化系统疾病</div>
							</div>
						</div>
						<div class="mainRight1-context">
							<img src="__IMG__/20180406_1.png" alt="" class="fl">
							<div class="mainRight1-context-r fl">
								<div class="context-r-1">美国麻省总医院</div>
								<div class="context-r-2">三大美国最佳医院之一</div>
								<div class="context-r-3 over2">优势科室：癌症、消化系统疾病消化系统疾病</div>
							</div>
						</div>
						<div class="mainRight1-context">
							<img src="__IMG__/20180406_1.png" alt="" class="fl">
							<div class="mainRight1-context-r fl">
								<div class="context-r-1">美国麻省总医院</div>
								<div class="context-r-2">三大美国最佳医院之一</div>
								<div class="context-r-3 over2">优势科室：癌症、消化系统疾病消化系统疾病</div>
							</div>
						</div>
					</div>
					<div class="mainRight1-con mainRight1-con_2">
						222
					</div>
				</div>
				<div class="mainRight2">
					<div class="main1_title3" style="border:none">推荐医生</div>
					<div class="main4Doc1_3">
						<div class="shareBox">
							<img src="__IMG__/20180316cjys18.png" alt="" class="fl">
							<div class="shareBoxName fl">
								<li class="shareBoxName1">刘医生</li>
								<li class="shareBoxName2">北京协和医院</li>
								<li class="shareBoxName2">科室：消化科</li>
							</div>
						</div>
						<div class="shareBox">
							<img src="__IMG__/20180316cjys18.png" alt="" class="fl">
							<div class="shareBoxName fl">
								<li class="shareBoxName1">刘医生</li>
								<li class="shareBoxName2">北京协和医院</li>
								<li class="shareBoxName2">科室：消化科</li>
							</div>
						</div>
						<div class="shareBox">
							<img src="__IMG__/20180316cjys18.png" alt="" class="fl">
							<div class="shareBoxName fl">
								<li class="shareBoxName1">刘医生</li>
								<li class="shareBoxName2">北京协和医院</li>
								<li class="shareBoxName2">科室：消化科</li>
							</div>
						</div>
					</div>
				</div>
				<div class="mainBoxRight3">
					<div class="mainBoxRight2_title">
						<span class="mainBoxRight2_title1">医院相关报道</span>
					</div>
					<div class="mainBoxRight2_con">
						<img src="__IMG__/1511920180755.png" alt="" class="mainBoxRight3Img fl">
						<div class="mainBoxRight3Con fl">
							<div class="mainBoxRight2_conTitle over2">美国丹娜法伯非小细胞肺癌受试者招募？
							</div>
							<div class="mainBoxRight2_conInner">
								美国丹娜法伯非小细胞肺癌受试者招募美国丹娜法伯非小细胞肺癌受试者招募...
							</div>
						</div>
					</div>
					<div class="mainBoxRight2_con">
						<img src="__IMG__/1511920180755.png" alt="" class="mainBoxRight3Img fl">
						<div class="mainBoxRight3Con fl">
							<div class="mainBoxRight2_conTitle over2">美国丹娜法伯非小细胞肺癌受试者招募？
							</div>
							<div class="mainBoxRight2_conInner">
								美国丹娜法伯非小细胞肺癌受试者招募美国丹娜法伯非小细胞肺癌受试者招募...
							</div>
						</div>
					</div>
					<div class="mainBoxRight2_con">
						<img src="__IMG__/1511920180755.png" alt="" class="mainBoxRight3Img fl">
						<div class="mainBoxRight3Con fl">
							<div class="mainBoxRight2_conTitle over2">美国丹娜法伯非小细胞肺癌受试者招募？
							</div>
							<div class="mainBoxRight2_conInner">
								美国丹娜法伯非小细胞肺癌受试者招募美国丹娜法伯非小细胞肺癌受试者招募...
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cl"></div>
		</div>
		<!-- footer -->
		<include file="Public/cjysFooter" />
	</div>
	<script>
		// ***分页***
	    $("#pagination").whjPaging({
		  	//设为true时，ajax里的success函数必须调用setPage方法，否则分页插件显示保持不变
		  	// isResetPage: true,
		  	css: 'css-1',
	        //可选，展示页码数量6条
				showPageNum: 6,
				// 总共18页
	        totalPage: 18,
	        //可选，是否展示每页N条下拉框，默认true
			isShowPageSizeOpt: false,
			//可选，是否展示跳到指定页数，默认true
			isShowSkip: false,
			//可选，是否展示刷新，默认true
			isShowRefresh: false,
			//可选，是否展示共{}页，默认true
			isShowTotalPage: false,
			// 返回参数：第一个参数为页码，第二个参数为每页显示N条
	        callBack: function (currPage, pageSize) {
	            console.log('currPage:' + currPage + '     pageSize:' + pageSize);
	        }
		});
		/*
		function loadData(currPage, pageSize) {
			$.ajax({
			    //其它参数选项请自填
			    success: function(res) {
				    
			    }
			});
		}
		loadData(1, 8);
		*/

		//  品牌医院推荐
		$('body').on('click','.mainRight1-t',function(){
			var n=$(this).data('n');
			$('.mainRight1-t').removeClass('mainRight1-t-check');
			$(this).addClass('mainRight1-t-check');
			$('.mainRight1-con').hide();
			$('.mainRight1-con_'+n).show();
		});
	</script>
</body>
</html> 