<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>超级医生-医院详情页</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" href="__CSS__/public.css">
	<link rel="stylesheet" href="__CSS__/idangerous.swiper.css">
	<link rel="stylesheet" href="__CSS__/expertDetails.css">
	<link rel="stylesheet" href="__CSS__/hospitalDetails.css">
	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/idangerous.swiper.min.js"></script>
</head>
<body>
	<div class="box">
		<a name="top" id="top"></a>
		<!-- header -->
		<include file="Public/cjysHeader" />
		<div class="main">
			<div class="mainBox">
				<div class="mainBox1">
					<div class="mainBox1Intro fl">
						<div class="introName">北京协和医院</div>
						<div class="introText">
							<li>世界肝胆胰外科第一人，被多为业内人士评为肝胆胰外科之王。所领导的东京大学第二外科一直走在世界肝脏外科的最前沿。</li>
							<li>近代肝胆胰外科的奠基人之一，所著作的《幕内肝脏外科学》被翻译为多个版本并作为肝部外科手术临床教学书籍。</li>
							<li>幕内教授现任IASGO（国际外科、消化科、肿瘤科医师协会）主席，是欧洲医学会等多个学会的名誉会员，并曾担任日本外科学会会长，是《Lancet》、《Hepatology》等多个杂志的编委或审稿人。目前为止，发表英文论文850余篇，主编英文专著7部，参予编写英文专著66部。</li>
						</div>
						<div class="introCatalogTable">
							<table cellpadding="3" cellspacing="0">
								<tr>
									<td rowspan="2" id="introCatalog">目<br>录</td>
									<td class="talogThis"><a href="#brief1" target="_self">基本信息</a></td>
									<td class="talogThis"><a href="#brief2" target="_self">重点科室</a></td>
									<td class="talogThis"><a href="#brief3" target="_self">顶级专家</a></td>
								</tr>
								<tr>
									<td class="talogThis"><a href="#brief4" target="_self">简介</a></td>
									<td class="talogThis"><a href="#brief5" target="_self">荣誉</a></td>
									<td class="talogThis"><a href="#brief6" target="_self">科研</a></td>
								</tr>
							</table>
						</div>
					</div>
					<div class="mainBox1Pic fr">
						<img src="__IMG__/20180406_3.png" alt="">
					</div>
				</div>
				<div class="mainBox2">
					<div class="mainBox2Left fl">
						<div class="mainBox2LeftCon">
							<div class="mainBox2Title">
								<a name="brief1" id="brief1"></a>
								<div class="mainBox2TitleCon">基本信息</div>
								<div class="mainBox2TitleLine"></div>
							</div>
							<div class="docIntro">
								<div class="docIntroLi">
									<span class="docIntroLiSpan">名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</span>
									北京协和医院
								</div>
								<div class="docIntroLi">
									<span class="docIntroLiSpan">医院类型：</span>
									综合医院
								</div>
								<div class="docIntroLi">
									<span class="docIntroLiSpan">院&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;长：</span>
									赵玉沛
								</div>
								<div class="docIntroLi">
									<span class="docIntroLiSpan">医院排名：</span>
									中国最好的医院
								</div>
								<div class="docIntroLi">
									<span class="docIntroLiSpan">官&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;网：</span>
									www.pumch.cn
								</div>
								<div class="docIntroLi">
									<span class="docIntroLiSpan fl">医院地址：</span>
									<div class="docIntroLi-r">
										东院：北京市东城区帅府园1号
										<br>
                 						西院：北京市西城区大木仓胡同41号
									</div> 
								</div>
							</div>
						</div>
						<div class="mainBox2LeftCon">
							<div class="mainBox2Title">
								<a name="brief2" id="brief2"></a>
								<div class="mainBox2TitleCon">重点科室</div>
								<div class="mainBox2TitleLine"></div>
							</div>
							<div class="mainBox2LeftConInner">
								<div class="hospital-box2-title">【病理科-全国排名第二】</div>
								<div class="hospital-box2-con">北京协和医院病理科的前身是北京协和医学院（PUMC）病理系，是北京协和医学院建立最早的学系之一。病理科全科共有工作人员48人，现有院士1名，主任医师4名，研究员1名，副主任医师5名，主治医师9名，住院医师8名，主管技师8名，技师8名及技士1名，其他工作人员3名。其中具有博士学位的有12名。</div>
								<div class="hospital-box2-title">【耳鼻喉科-全国排名第三】</div>
								<div class="hospital-box2-con">北京协和医院病理科的前身是北京协和医学院（PUMC）病理系，是北京协和医学院建立最早的学系之一。病理科全科共有工作人员48人，现有院士1名，主任医师4名，研究员1名，副主任医师5名，主治医师9名，住院医师8名，主管技师8名，技师8名及技士1名，其他工作人员3名。其中具有博士学位的有12名。</div>
								<div class="hospital-box2-title">【放射科-全国排名第一】</div>
								<div class="hospital-box2-con">北京协和医院病理科的前身是北京协和医学院（PUMC）病理系，是北京协和医学院建立最早的学系之一。病理科全科共有工作人员48人，现有院士1名，主任医师4名，研究员1名，副主任医师5名，主治医师9名，住院医师8名，主管技师8名，技师8名及技士1名，其他工作人员3名。其中具有博士学位的有12名。</div>
							</div>
						</div>
						<div class="mainBox2LeftCon">
							<div class="mainBox2Title">
								<a name="brief6" id="brief6"></a>
								<div class="mainBox2TitleCon">超级医生</div>
								<div class="mainBox2TitleLine"></div>
							</div>
							<div class="mainBox2LeftConInner" style="margin-top:29px">
								<div class="docBox">
									<img src="__IMG__/20180406_4.png" alt="" class="fl">   
									<div class="docBoxName fl">
										<div class="docBoxNameCon"><span class="docBoxName-1">王任直</span>教授</div>
										<div class="docBoxNameCon">神经外科主任<br>主任医师<br>博士研究生导师</div>
									</div>  
									<div class="cl"></div>
								</div>
								<div class="docBox">
									<img src="__IMG__/20180406_4.png" alt="" class="fl">   
									<div class="docBoxName fl">
										<div class="docBoxNameCon"><span class="docBoxName-1">王任直</span>教授</div>
										<div class="docBoxNameCon">神经外科主任<br>主任医师<br>博士研究生导师</div>
									</div>  
									<div class="cl"></div>
								</div>
							</div>
						</div>
						<div class="mainBox2LeftCon">
							<div class="mainBox2Title">
								<a name="brief2" id="brief2"></a>
								<div class="mainBox2TitleCon">重点科室</div>
								<div class="mainBox2TitleLine"></div>
							</div>
							<div class="mainBox2LeftConInner">
								<div class="hospital-box2-title">【病理科-全国排名第二】</div>
								<div class="hospital-box2-con">北京协和医院病理科的前身是北京协和医学院（PUMC）病理系，是北京协和医学院建立最早的学系之一。病理科全科共有工作人员48人，现有院士1名，主任医师4名，研究员1名，副主任医师5名，主治医师9名，住院医师8名，主管技师8名，技师8名及技士1名，其他工作人员3名。其中具有博士学位的有12名。</div>
								<div class="hospital-box2-title">【耳鼻喉科-全国排名第三】</div>
								<div class="hospital-box2-con">北京协和医院病理科的前身是北京协和医学院（PUMC）病理系，是北京协和医学院建立最早的学系之一。病理科全科共有工作人员48人，现有院士1名，主任医师4名，研究员1名，副主任医师5名，主治医师9名，住院医师8名，主管技师8名，技师8名及技士1名，其他工作人员3名。其中具有博士学位的有12名。</div>
							</div>
						</div>
						<div class="mainLeftShare">
							<span class="mainLeftShareText fl">分享到</span>
							<img src="__IMG__/20180316cjys43.png" alt="微信" class="fl" data-src="20180316cjys43" title="微信">
							<img src="__IMG__/20180316cjys41.png" alt="微博" class="fl" data-src="20180316cjys41" title="微博">
							<img src="__IMG__/20180316cjys26.png" alt="QQ" class="fl" data-src="20180316cjys26" title="QQ">
							<div class="cl"></div>
						</div>
						<div class="WeChat">
							<div class="WeChatLogo fl"><img src="__IMG__/20180316cjys30.png" alt=""></div>
							<div class="WeChatText fr">关注微信公众号，了解更多医疗信息</div>
						</div>
					</div>
					<div class="mainBox2Right fr">
						<div class="mainRight1">
							<div class="mainRight1_title">医院问答</div>
							<div class="moreHos">
								<li class="main2TwoList">
									<span class="main2TwoList1 fl over2">墓内亚敏教授可以在国内手术吗?</span>
									<span class="main2TwoList2 fr">2回答</span>
								</li>
								<li class="main2TwoList">
									<span class="main2TwoList1 fl over2">肝癌手术幕内教授治疗药多少钱?</span>
									<span class="main2TwoList2 fr">2回答</span>
								</li>
								<li class="main2TwoList">
									<span class="main2TwoList1 fl over2">厚朴方舟独家签约墓内亚敏是真实?</span>
									<span class="main2TwoList2 fr">2回答</span>
								</li>
								<li class="main2TwoList">
									<span class="main2TwoList1 fl over2">胃癌能治好吗？胃癌能治好吗？胃癌能治好吗？</span>
									<span class="main2TwoList2 fr">2回答</span>
								</li>
							</div>
						</div>
						<div class="mainRight2">
							<div class="mainRight1_title">相关案例</div>
							<div class="moreHos">
								<div class="mainRight5Banner swiper-container">
									<div class="swiper-wrapper">
						                <div class="swiper-slide">
						                	<div class="caseBanner">
								                <img src="__IMG__/20180316cjys27.png" alt="">
								                <div class="caseBannerText">胃癌Ⅳ期患者秦女士赴日就医得解答</div>
							                </div>
						                </div>
						                <div class="swiper-slide">
						                 	<div class="caseBanner">
								                <img src="__IMG__/20180316cjys27.png" alt="">
								                <div class="caseBannerText">胃癌Ⅳ期患者秦女士赴日就医得解答</div>
							                </div>
						                </div>
						            </div>
								</div>
								<div class="lbcon">
								    <span class="lb_left"><img src="__IMG__/20180316cjys23.png" alt=""></span>
								    <span class="lb_right"><img src="__IMG__/20180316cjys24.png" alt=""></span>
							    </div>
							    <script>
							        var mySwiper1 = new Swiper('.mainRight5Banner',{
							            loop: true,
							            autoplay: 5000,
							        });
							        $('body').on('click','.lb_left',function(){
								      mySwiper1.swipePrev();
								      
								    })
								    $('body').on('click','.lb_right',function(){
								      mySwiper1.swipeNext();
								    })
							    </script>
							</div>
						</div>
						<div class="mainRight3">
							<div class="mainRight1_title">最新资讯</div>
							<li class="main2DocNewsList">
								<span class="main2DocNewsCircle fl"></span>
								<span class="main2DocNews1 over2 fl">墓内亚敏肝脏外科研讨会在墓内亚敏</span>  
							</li>
							<li class="main2DocNewsList">
								<span class="main2DocNewsCircle fl"></span>
								<span class="main2DocNews1 over2 fl">墓内亚敏肝脏外科研讨会在墓内亚敏</span>  
							</li>
							<li class="main2DocNewsList">
								<span class="main2DocNewsCircle fl"></span>
								<span class="main2DocNews1 over2 fl">墓内亚敏肝脏外科研讨会在墓内亚敏</span>  
							</li>
							<li class="main2DocNewsList">
								<span class="main2DocNewsCircle fl"></span>
								<span class="main2DocNews1 over2 fl">墓内亚敏肝脏外科研讨会在墓内亚敏</span>  
							</li>
							<li class="main2DocNewsList">
								<span class="main2DocNewsCircle fl"></span>
								<span class="main2DocNews1 over2 fl">墓内亚敏肝脏外科研讨会在墓内亚敏</span>  
							</li>
						</div>
						<div class="mainRight4">
							<div class="mainRight1_title">其它医院推荐</div>
							<div class="mainRight1-con">
								<div class="mainRight1-context">
									<img src="__IMG__/20180406_1.png" alt="" class="fl">
									<div class="mainRight1-context-r fl">
										<div class="context-r-1">美国麻省总医院</div>
										<div class="context-r-2">三大美国最佳医院之一</div>
										<div class="context-r-3 over2">优势科室：癌症、消化系统疾病消化系统疾病</div>
									</div>
								</div>
								<div class="mainRight1-context">
									<img src="__IMG__/20180406_1.png" alt="" class="fl">
									<div class="mainRight1-context-r fl">
										<div class="context-r-1">美国麻省总医院</div>
										<div class="context-r-2">三大美国最佳医院之一</div>
										<div class="context-r-3 over2">优势科室：癌症、消化系统疾病消化系统疾病</div>
									</div>
								</div>
								<div class="mainRight1-context">
									<img src="__IMG__/20180406_1.png" alt="" class="fl">
									<div class="mainRight1-context-r fl">
										<div class="context-r-1">美国麻省总医院</div>
										<div class="context-r-2">三大美国最佳医院之一</div>
										<div class="context-r-3 over2">优势科室：癌症、消化系统疾病消化系统疾病</div>
									</div>
								</div>
							</div>
						</div>
						<div style="margin-top:180px">
							<a href="#top" target="_self">
								<img src="__IMG__/20180316cjys48.png" alt="" class="mainRight7Top" title="返回顶部">
							</a>
						</div>
					</div>
					<div class="cl"></div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<include file="Public/cjysFooter" />
	</div>
	<script>
		var IMG='__IMG__/';
		// 分享
		$('.mainLeftShare img').hover(function(){
			var src=$(this).data('src');
			$(this).attr('src',IMG+src+'a.png');
		},function(){
			var src=$(this).data('src');
			$(this).attr('src',IMG+src+'.png');
		});
	</script>
</body>
</html> 