<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>超级医生-互动问答详情页</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" href="__CSS__/public.css">
	<link rel="stylesheet" href="__CSS__/idangerous.swiper.css">
	<link rel="stylesheet" href="__CSS__/interlocutionDetails.css">
	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/idangerous.swiper.min.js"></script>
</head>
<body>
	<div class="box">
		<!-- header -->
		<include file="Public/cjysHeader" />
		<div class="mainBox">
			<div class="main">
				<img src="__IMG__/20180316cjys15.png" alt="" class="imgBanner">
				<div class="mainLeft fl">
					<div class="mainLeft1">
						<div class="mainTitleBox">
							<img src="__IMG__/20180316cjys33.png" alt="" class="fl">
							<span class="mainTitle"><a href="">首页</a>><a href="">问答</a>><a href="">胃癌三期怎么治</a></span>
						</div>
						<div class="mainContent">
							<img src="__IMG__/20180316cjys62.png" alt="" class="iconQues fl">
							<span class="mainLeft1Title">胃癌三期怎么治</span>
							<div class="disease1">
								<span>女</span><span>73岁</span>
								<span>发病时间 ：不清楚</span>
							</div>
							<div class="disease2">哮喘，咳嗽，上不来气，痰多</div>
							<div class="disease3"><span>蘑菇爬过时光</span> | <span>2018-02-26</span></div>
							<div class="disease4">
								<span>肺癌</span>
								<span>肺癌</span>
								<span>肺癌</span>
							</div>
							<div class="asking">我要提问</div>
						</div>
					</div>
					<div class="mainLeft2">
						<div class="mainContent">
							<div>
								<img src="__IMG__/20180316cjys61.png" alt="" class="bestImg fl">
								<span class="bestAnswer">最佳答案</span>
								<span class="bestAnswer1">本回答由提问者推荐</span>
							</div>
							<div class="docIntro">
								<img src="__IMG__/20180316cjys60.png" alt="" class="fl">
								<div class="docContent fl">
									<li style="margin-top:8px">
										<span class="docName">福永哲</span>
										<span class="docTip">教授</span>
										<span class="docHos">某某医院</span>
									</li>
									<li class="docgood">擅长：某某疾病某某疾病</li>
								</div>
								<div class="docAsking fr">提问</div>
								<div class="cl"></div>
							</div>
							<div class="docIntro1">从症状描述上看像这种情况是支气管哮喘所致的痰多咳嗽哮喘的临床表现，患有支气管哮喘一般多见于是一种变态反应，是接触了过敏源所致的呼吸道过敏现象。建议用半夏露颗粒 氯雷他定 氨溴索口服液口服进一步观察，祝早日康复。</div>
						</div>
					</div>
					<div class="mainLeft3">
						<div class="mainContent">
							<div class="anotherAns">其它答案</div>
							<div class="anotherIntro">
								<div class="docIntro">
									<img src="__IMG__/20180316cjys60.png" alt="" class="fl">
									<div class="docContent fl">
										<li style="margin-top:8px">
											<span class="docName">福永哲</span>
											<span class="docTip">教授</span>
											<span class="docHos">某某医院</span>
										</li>
										<li class="docgood">擅长：某某疾病某某疾病</li>
									</div>
									<div class="docAsking fr">提问</div>
									<div class="cl"></div>
								</div>
								<div class="docIntro1">从症状描述上看像这种情况是支气管哮喘所致的痰多咳嗽哮喘的临床表现，患有支气管哮喘一般多见于是一种变态反应，是接触了过敏源所致的呼吸道过敏现象。建议用半夏露颗粒 氯雷他定 氨溴索口服液口服进一步观察，祝早日康复。</div>
							</div>
							<div class="anotherIntro">
								<div class="docIntro">
									<img src="__IMG__/20180316cjys60.png" alt="" class="fl">
									<div class="docContent fl">
										<li style="margin-top:8px">
											<span class="docName">福永哲</span>
											<span class="docTip">教授</span>
											<span class="docHos">某某医院</span>
										</li>
										<li class="docgood">擅长：某某疾病某某疾病</li>
									</div>
									<div class="docAsking fr">提问</div>
									<div class="cl"></div>
								</div>
								<div class="docIntro1">从症状描述上看像这种情况是支气管哮喘所致的痰多咳嗽哮喘的临床表现，患有支气管哮喘一般多见于是一种变态反应，是接触了过敏源所致的呼吸道过敏现象。建议用半夏露颗粒 氯雷他定 氨溴索口服液口服进一步观察，祝早日康复。</div>
							</div>
							<div class="anotherIntro">
								<div class="docIntro">
									<img src="__IMG__/20180316cjys60.png" alt="" class="fl">
									<div class="docContent fl">
										<li style="margin-top:8px">
											<span class="docName">福永哲</span>
											<span class="docTip">教授</span>
											<span class="docHos">某某医院</span>
										</li>
										<li class="docgood">擅长：某某疾病某某疾病</li>
									</div>
									<div class="docAsking fr">提问</div>
									<div class="cl"></div>
								</div>
								<div class="docIntro1">从症状描述上看像这种情况是支气管哮喘所致的痰多咳嗽哮喘的临床表现，患有支气管哮喘一般多见于是一种变态反应，是接触了过敏源所致的呼吸道过敏现象。建议用半夏露颗粒 氯雷他定 氨溴索口服液口服进一步观察，祝早日康复。</div>
							</div>
						</div>
					</div>
					<div class="mainLeft4">
						<div class="mainLeft4Title">我要回答</div>
						<div class="textareaBox">
							<textarea name="" id="" placeholder="请输入..."></textarea>
							<button class="fr">提交</button>
						</div>
					</div>
				</div>
				<div class="mainRight fr">
					<div class="mainRight1">
						<div class="main1_title3">胃癌有关问答</div>
						<div class="moreHos" style="padding-top:0">
							<li class="main2TwoList">
								<span class="main2TwoList1 fl over2">胃癌能治好吗？胃癌能治好吗？胃癌能治好吗？</span>
								<span class="main2TwoList2 fr">2回答</span>
							</li>
							<li class="main2TwoList">
								<span class="main2TwoList1 fl over2">胃癌能治好吗？</span>
								<span class="main2TwoList2 fr">2回答</span>
							</li>
							<li class="main2TwoList">
								<span class="main2TwoList1 fl over2">胃癌能治好吗？</span>
								<span class="main2TwoList2 fr">2回答</span>
							</li>
							<li class="main2TwoList">
								<span class="main2TwoList1 fl over2">胃癌能治好吗？</span>
								<span class="main2TwoList2 fr">2回答</span>
							</li>
						</div>
					</div>
					<div class="mainRight2">
						<div class="main1_title3" style="border:none">推荐医生</div>
						<div class="main4Doc1_3">
							<div class="shareBox">
								<img src="__IMG__/20180316cjys18.png" alt="" class="fl">
								<div class="shareBoxName fl">
									<li class="shareBoxName1">刘医生</li>
									<li class="shareBoxName2">北京协和医院</li>
									<li class="shareBoxName2">科室：消化科</li>
								</div>
							</div>
							<div class="shareBox">
								<img src="__IMG__/20180316cjys18.png" alt="" class="fl">
								<div class="shareBoxName fl">
									<li class="shareBoxName1">刘医生</li>
									<li class="shareBoxName2">北京协和医院</li>
									<li class="shareBoxName2">科室：消化科</li>
								</div>
							</div>
							<div class="shareBox">
								<img src="__IMG__/20180316cjys18.png" alt="" class="fl">
								<div class="shareBoxName fl">
									<li class="shareBoxName1">刘医生</li>
									<li class="shareBoxName2">北京协和医院</li>
									<li class="shareBoxName2">科室：消化科</li>
								</div>
							</div>
						</div>
					</div>
					<div class="mainRight3">
						<div class="main1_title3" style="border:none">推荐医院</div>
						<div class="mainRight3Box">
							<div class="mainRight3BoxCon">
								<img src="__IMG__/20180316cjys63.png" alt="" class="fl">
								<div class="mainRight3BoxR fl">
									<li class="mainRight3BoxRLi1">中国医学科学院肿瘤医院</li>
									<li class="mainRight3BoxRLi2">肿瘤专科排名第一的医院</li>
								</div>
							</div>
							<div class="mainRight3BoxCon">
								<img src="__IMG__/20180316cjys63.png" alt="" class="fl">
								<div class="mainRight3BoxR fl">
									<li class="mainRight3BoxRLi1">中国医学科学院肿瘤医院</li>
									<li class="mainRight3BoxRLi2">肿瘤专科排名第一的医院</li>
								</div>
							</div>
							<div class="mainRight3BoxCon">
								<img src="__IMG__/20180316cjys63.png" alt="" class="fl">
								<div class="mainRight3BoxR fl">
									<li class="mainRight3BoxRLi1">中国医学科学院肿瘤医院</li>
									<li class="mainRight3BoxRLi2">肿瘤专科排名第一的医院</li>
								</div>
							</div>
						</div>
					</div>
					<div class="mainRight4">
						<div class="main1_title3">治疗药物</div>
						<div class="moreHos">
							<div class="medicPic">
								<img src="__IMG__/20180316cjys20.png" alt="" class="fl medicPicImg medicPicImg_1">
								<img src="__IMG__/20180316cjys20.png" alt="" class="fl medicPicImg medicPicImg_2">
								<img src="__IMG__/20180316cjys20.png" alt="" class="fl medicPicImg medicPicImg_3">
								<img src="__IMG__/20180316cjys20.png" alt="" class="fl medicPicImg medicPicImg_4">
								<img src="__IMG__/20180316cjys20.png" alt="" class="fl medicPicImg medicPicImg_5">
								<div class="medicName fl">
									<li class="medicNameLi over2" data-n="1">卡莫氟片（孚贝）</li>
									<li class="medicNameLi over2" data-n="2">卡莫氟片（孚贝）</li>
									<li class="medicNameLi over2" data-n="3">卡莫氟片（孚贝）</li>
									<li class="medicNameLi over2" data-n="4">卡莫氟片孚贝卡莫氟片孚贝</li>
									<li class="medicNameLi over2" data-n="5">卡莫氟片孚贝卡莫氟片孚贝</li>
								</div>
							</div>
						</div>
					</div>
					<div class="mainRight5">
						<div class="main1_title3">治疗案例</div>
						<div class="moreHos">
							<div class="mainRight5Banner swiper-container">
								<div class="swiper-wrapper">
					                <div class="swiper-slide">
					                	<div class="caseBanner">
							                <img src="__IMG__/20180316cjys27.png" alt="">
							                <div class="caseBannerText">胃癌Ⅳ期患者秦女士赴日就医得解答</div>
						                </div>
					                </div>
					                <div class="swiper-slide">
					                 	<div class="caseBanner">
							                <img src="__IMG__/20180316cjys27.png" alt="">
							                <div class="caseBannerText">胃癌Ⅳ期患者秦女士赴日就医得解答</div>
						                </div>
					                </div>
					            </div>
							</div>
							<div class="lbcon">
							    <span class="lb_left"><img src="__IMG__/20180316cjys23.png" alt=""></span>
							    <span class="lb_right"><img src="__IMG__/20180316cjys24.png" alt=""></span>
						    </div>
						    <script>
						        var mySwiper1 = new Swiper('.mainRight5Banner',{
						            loop: true,
						            autoplay: 5000,
						        });
						        $('body').on('click','.lb_left',function(){
							      mySwiper1.swipePrev();
							      
							    })
							    $('body').on('click','.lb_right',function(){
							      mySwiper1.swipeNext();
							    })
						    </script>
					   </div>
					</div>
				</div>
				<div class="cl"></div>
			</div>
		</div>
		<!-- footer -->
		<include file="Public/cjysFooter" />
	</div>
	<script>
		// 胃癌治疗药物,切换图片
		$('body').on('click','.medicNameLi',function(){
			var n=$(this).data('n');
			$('.medicPicImg').hide();
			$('.medicPicImg_'+n).show();
		});
	

	
	</script>
</body>
</html> 