<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>超级医生-药物详情页</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" href="__CSS__/public.css">
	<link rel="stylesheet" href="__CSS__/idangerous.swiper.css">
	<link rel="stylesheet" href="__CSS__/expertDetails.css">
	<link rel="stylesheet" href="__CSS__/medicineDetails.css">
	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/idangerous.swiper.min.js"></script>
</head>
<body>
	<div class="box">
		<a name="top" id="top"></a>
		<!-- header -->
		<include file="Public/cjysHeader" />
		<div class="main">
			<div class="mainBox">
				<div class="mainBox1">
					<div class="mainBox1Intro fl">
						<div class="introName">Gemcitabine吉西他滨</div>
						<div class="introText">
							<li>世界肝胆胰外科第一人，被多为业内人士评为肝胆胰外科之王。所领导的东京大学第二外科一直走在世界肝脏外科的最前沿。</li>
							<li>近代肝胆胰外科的奠基人之一，所著作的《幕内肝脏外科学》被翻译为多个版本并作为肝部外科手术临床教学书籍。</li>
							<li>幕内教授现任IASGO（国际外科、消化科、肿瘤科医师协会）主席，是欧洲医学会等多个学会的名誉会员，并曾担任日本外科学会会长，是《Lancet》、《Hepatology》等多个杂志的编委或审稿人。目前为止，发表英文论文850余篇，主编英文专著7部，参予编写英文专著66部。</li>
						</div>
						<div class="introCatalogTable">
							<table cellpadding="3" cellspacing="0">
								<tr>
									<td rowspan="2" id="introCatalog">目<br>录</td>
									<td class="talogThis"><a href="#brief1" target="_self">主要用途</a></td>
									<td class="talogThis"><a href="#brief2" target="_self">简介</a></td>
									<td class="talogThis"><a href="#brief3" target="_self">详细信息</a></td>
								</tr>
								<tr>
									<td class="talogThis"><a href="#brief4" target="_self">使用说明</a></td>
									<td class="talogThis"><a href="#brief5" target="_self">副作用</a></td>
									<td class="talogThis"><a href="#brief6" target="_self">相关介绍</a></td>
								</tr>
							</table>
						</div>
					</div>
					<div class="mainBox1Pic fr">
						<img src="__IMG__/20180406_6.png" alt="">
					</div>
				</div>
				<div class="mainBox2">
					<div class="mainBox2Left fl">
						<div class="mainBox2LeftCon">
							<div class="mainBox2Title">
								<a name="brief1" id="brief1"></a>
								<div class="mainBox2TitleCon">主要用途</div>
								<div class="mainBox2TitleLine"></div>
							</div>
							<div class="mainBox2-con">
								Gemcitabine是一种破坏细胞复制的二氟核苷类抗代谢物抗癌药，是去氧胞苷的水溶性类似物，是核糖核苷酸还原酶的一种抑制性酶的替代物，这种酶在DNA合成和修复过程中，对脱氧核苷酸的生成是至关重要被用作单独用于胰腺癌的一线治疗，并且与顺铂一起用于晚期或转移性膀胱癌以及晚期或转移性非小细胞肺癌。它被用作与卡铂组合的用于卵巢癌的二线治疗，以及与紫杉醇一起用于转移或不能手术切除的乳腺癌。
								<br>它通常用于治疗胆管癌和其他胆道癌。
								<br>通过在化疗诊所的静脉注射给药
							</div>
						</div>
						<div class="mainBox2LeftCon">
							<div class="mainBox2Title">
								<a name="brief2" id="brief2"></a>
								<div class="mainBox2TitleCon">简介</div>
								<div class="mainBox2TitleLine"></div>
							</div>
							<div class="docIntro">
								<div class="docIntroLi">
									<span class="docIntroLiSpan">名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</span>
									吉西他滨Gemcitabine
								</div>
								<div class="docIntroLi">
									<span class="docIntroLiSpan">生产厂家：</span>
									礼来公司
								</div>
								<div class="docIntroLi">
									<span class="docIntroLiSpan">药物样式：</span>
									白色至浅黄色粉末
								</div>
								<div class="docIntroLi">
									<span class="docIntroLiSpan">是否处方：</span>
									处方药
								</div>
								<div class="docIntroLi">
									<span class="docIntroLiSpan">分  子 式：</span>
									C9H11F2N3O44
								</div>
								<div class="docIntroLi">
									<span class="docIntroLiSpan">国内上市：</span>
									已上市
								</div>
							</div>
						</div>
						<div class="mainBox2LeftCon">
							<div class="mainBox2Title">
								<a name="brief6" id="brief6"></a>
								<div class="mainBox2TitleCon">擅长疾病</div>
								<div class="mainBox2TitleLine"></div>
							</div>
							<div class="mainBox2LeftConInner">
								<span class="disease">肝癌</span>
								<span class="disease">肝移植</span>
								<span class="disease">胰腺癌</span>
								<span class="disease">胆囊癌</span>      
							</div>
						</div>
						<div class="mainBox2LeftCon">
							<div class="mainBox2Title">
								<a name="brief3" id="brief3"></a>
								<div class="mainBox2TitleCon">详细信息</div>
								<div class="mainBox2TitleLine"></div>
							</div>
							<div class="mainBox2LeftConInner achievement">
								<div class="detail-con">
									吉西他滨是合成的嘧啶 核苷 前体药物 - 其中脱氧胞苷的2'碳上的氢原子被氟原子取代的核苷类似物。
								</div>
								<div class="detail-con">
									以下所述的合成方法是礼来公司实验室所做的原始合成。合成以对映体纯的D-甘油醛（R）-2作为起始原料，其可以2-7个步骤由D-甘露糖醇制备。然后通过使用溴代乙酸乙酯的“积木”方法引入氟。然后，在标准条件下的重组甲烷反应将产生具有一种主要产物的3:1抗/顺式非对映异构体混合物。通过HPLC进行非对映异构体的分离，由此以65％的收率得到抗-3吉西他滨。[21] [22]不同的团体也已经开发了至少另外两种完整的合成方法。
								</div>
								<img src="__IMG__/20180406_5.png" alt="" class="detail-img">
							</div>
						</div>
						<div class="mainBox2LeftCon">
							<div class="mainBox2Title">
								<a name="brief4" id="brief4"></a>
								<div class="mainBox2TitleCon">使用说明</div>
								<div class="mainBox2TitleLine"></div>
							</div>
							<div class="mainBox2LeftConInner resume">
								<div class="detail-con">【规 格】1.0g/0.2g</div>
								<div class="detail-con">【功能主治】/【适应症】适用于治疗中、晚期非小细胞肺癌。</div>
								<div class="detail-con">【用法用量】成人推荐吉西他滨剂量为1000mg/m2静脉滴注30分钟，每周一次，连续三周，随后休息一周，每四周重复一次。依据病人的毒性反应相应减少剂量。高龄患者：65岁以上的高龄患者也能很好耐受。尽管年龄对吉西他滨的清除率和半衰期有影响，但并没有证据表明高龄患者需要调整剂量。</div>
							</div>
						</div>
						<div class="mainBox2LeftCon">
							<div class="mainBox2Title">
								<a name="brief5" id="brief5"></a>
								<div class="mainBox2TitleCon">副作用</div>
								<div class="mainBox2TitleLine"></div>
							</div>
							<div class="mainBox2LeftConInner resume">
								<div class="detail-con">
									吉西他滨是一种化疗药物，通过杀死任何正在分裂的细胞来起作用。[10]癌细胞快速分裂，吉西他滨的靶向性更高，但许多基本细胞也迅速分裂，包括皮肤细胞，头皮，胃壁和骨髓细胞，导致不良反应。[16]：265
								</div>
								<div class="detail-con">
									吉西他滨标签携带，它可以抑制骨髓造血功能，并导致警告的白血细胞的损失，血小板损失，以及红细胞的丢失，它应该在人的肝，肾或心血管病症谨慎使用，人们同时它不应该活疫苗，它可能会造成可逆性后部脑病综合征，它可能会引起毛细血管渗漏综合征，它可能会导致严重的肺部疾病像肺水肿，肺炎，和成人呼吸窘迫综合征，并且它可能会损害精子。[10] [17]
								</div>
								<div class="detail-con">
									很常见（超过10％的人发展他们）副作用包括呼吸困难，低白细胞和红细胞计数和低血小板计数，呕吐和恶心，转氨酶升高，皮疹发疹，皮肤脱发，血液和蛋白质，流感样症状和水肿。[10] [15]
								</div>
								<div class="detail-con">
									常见的不良反应包括发烧，食欲不振，头痛，睡眠困难，疲倦，咳嗽，流鼻涕，腹泻，口唇溃疡，出汗，背痛和肌肉疼痛。
								</div>
							</div>
						</div>
						<div class="mainLeftShare">
							<span class="mainLeftShareText fl">分享到</span>
							<img src="__IMG__/20180316cjys43.png" alt="微信" class="fl" data-src="20180316cjys43" title="微信">
							<img src="__IMG__/20180316cjys41.png" alt="微博" class="fl" data-src="20180316cjys41" title="微博">
							<img src="__IMG__/20180316cjys26.png" alt="QQ" class="fl" data-src="20180316cjys26" title="QQ">
							<div class="cl"></div>
						</div>
						<div class="WeChat">
							<div class="WeChatLogo fl"><img src="__IMG__/20180316cjys30.png" alt=""></div>
							<div class="WeChatText fr">关注微信公众号，了解更多医疗信息</div>
						</div>
					</div>
					<div class="mainBox2Right fr">
						<div class="mainRight1">
							<div class="mainRight1_title">药物相关问题</div>
							<div class="moreHos">
								<li class="main2TwoList">
									<span class="main2TwoList1 fl over2">墓内亚敏教授可以在国内手术吗?</span>
									<span class="main2TwoList2 fr">2回答</span>
								</li>
								<li class="main2TwoList">
									<span class="main2TwoList1 fl over2">肝癌手术幕内教授治疗药多少钱?</span>
									<span class="main2TwoList2 fr">2回答</span>
								</li>
								<li class="main2TwoList">
									<span class="main2TwoList1 fl over2">厚朴方舟独家签约墓内亚敏是真实?</span>
									<span class="main2TwoList2 fr">2回答</span>
								</li>
								<li class="main2TwoList">
									<span class="main2TwoList1 fl over2">胃癌能治好吗？胃癌能治好吗？胃癌能治好吗？</span>
									<span class="main2TwoList2 fr">2回答</span>
								</li>
							</div>
						</div>
						<div class="mainRight2">
							<div class="mainRight1_title">相关药品</div>
							<div class="medicine-box">
								<img src="__IMG__/20180406_7.png" alt="">
								<div class="medicine-name over2">某某某药品某某某药品</div>
							</div>
							<div class="medicine-box">
								<img src="__IMG__/20180406_7.png" alt="">
								<div class="medicine-name over2">某某药品</div>
							</div>
							<div class="medicine-box">
								<img src="__IMG__/20180406_7.png" alt="">
								<div class="medicine-name over2">某某某药品某某某药品</div>
							</div>
							<div class="medicine-box">
								<img src="__IMG__/20180406_7.png" alt="">
								<div class="medicine-name over2">药品</div>
							</div>
							<div class="medicine-box">
								<img src="__IMG__/20180406_7.png" alt="">
								<div class="medicine-name over2">药品</div>
							</div>
							<div class="medicine-box">
								<img src="__IMG__/20180406_7.png" alt="">
								<div class="medicine-name over2">药品</div>
							</div>
						</div>
						<div style="margin-top:180px">
							<a href="#top" target="_self">
								<img src="__IMG__/20180316cjys48.png" alt="" class="mainRight7Top" title="返回顶部">
							</a>
						</div>
					</div>
					<div class="cl"></div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<include file="Public/cjysFooter" />
	</div>
	<script>
		var IMG='__IMG__/';
		// 分享
		$('.mainLeftShare img').hover(function(){
			var src=$(this).data('src');
			$(this).attr('src',IMG+src+'a.png');
		},function(){
			var src=$(this).data('src');
			$(this).attr('src',IMG+src+'.png');
		});
	</script>
</body>
</html> 