<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>超级医生-个人中心-我的问题</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" href="__CSS__/public.css">
	<link rel="stylesheet" href="__CSS__/idangerous.swiper.css">
	<link rel="stylesheet" href="__CSS__/personalCenter_question.css">
	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/idangerous.swiper.min.js"></script>
</head>
<body>
	<div class="box">
		<!-- header -->
		<include file="Public/cjysHeader" />
		<div class="main">
			<div class="mainBox">
				<div class="mainBox1">
					<img src="__IMG__/20180501_1.png" alt="" class="face fl">
					<div class="faceDetail fl">
						<div class="faceName">会员号8re793y0ug</div>
						<div class="faceData">个人资料<img src="__IMG__/20180501_2.png" alt=""></div>
					</div>
					<div class="expert_certification fl">专家认证</div>
				</div>
				<div class="mainBox2">
					<div class="mainBox2Left fl">
						<div class="mainBox2Left1">
							<img src="" alt="" class="fl">
							<span class="fl news">最新公告</span>
							<div class="fl newsList">
							    <ul>
							      <li><a href="#" target="_blank"><div class="circle"></div>日本防癌概念：8大饮食重点让你远离癌细胞</a></li>
							      <li><a href="#" target="_blank"><div class="circle"></div>日本防癌概念：8大饮食重点让你远离癌细胞</a></li>
							      <li><a href="#" target="_blank"><div class="circle"></div>日本防癌概念：8大饮食重点让你远离癌细胞</a></li>
							      <li><a href="#" target="_blank"><div class="circle"></div>日本防癌概念：8大饮食重点让你远离癌细胞</a></li>
							    </ul>
							</div>
						</div>
						<div class="mainBox2Left2">
							<div class="mainBox2Left2_title">
								<div class="title_li title_li_this" data-n="1"><span class="name">我的问题</span><span class="num">2</span></div>
								<div class="title_li" data-n="2"><span class="name">我的回答</span><span class="num">0</span></div>
								<div class="title_li" data-n="3"><span class="name">收藏</span><span class="num">0</span></div>
								<div class="title_li" data-n="4"><span class="name">关注</span><span class="num">0</span></div>
							</div>
							<div class="mainBox2Left2_Box mainBox2Left2_Box_1">
								<div class="title_content">
									<div class="title_content_question">怎么知道自己有没有肿瘤？</div>
									<div class="title_content_date"><span>2018-4-13</span><span>2回答</span></div>
								</div>
								<div class="title_content">
									<div class="title_content_question">怎么知道自己有没有肿瘤？</div>
									<div class="title_content_date"><span>2018-4-13</span><span>0回答</span></div>
									<div class="cl"></div>
								</div>
							</div>
							<div class="mainBox2Left2_Box mainBox2Left2_Box_2">
								<div class="title_content">
									<div class="title_content_question title_content_question2">怎么知道自己有没有肿瘤？</div>
									<div class="answerBox">
										<img src="__IMG__/20181001_3.png" alt="" class="fl">
										<div class="answerName fl">会员号8re793y0ug</div>
									</div>
									<div class="answerContent">
										<div class="answerContentBox">
										去权威的体检医院进行全方位的检查如果可以的话，去权威的体检医院进行全方位的检查如果可以的话，去权威的体检医院进行全方位的检查如果可以的话，去权威的体检医院进行全方位的检查如果可以的话，去权威的体检医院进行全方位的检查如果可以的话，
										</div>
										<div class="readAll">阅读全文<img src="__IMG__/20180316cjys3.png" alt=""></div>
										<div class="readClose">收起<img src="__IMG__/1511920180753.png" alt=""></div>
									</div>
									<div class="title_content_date">
										<span>2018-4-13</span>
										<span><img src="__IMG__/20181001_6.png" alt="">追加评论</span>
										<span><img src="__IMG__/20181001_4.png" alt="">收藏</span>
										<span><img src="__IMG__/20181001_5.png" alt="">分享</span>
										<div class="cl"></div>
									</div>
								</div>
							</div>
							<div class="mainBox2Left2_Box mainBox2Left2_Box_3">
								<div class="collection">
									<div class="collection_nav">
										<div class="collection_li collection_li_this" data-n="1"><span class="name">综合</span><span class="num">2</span></div>
										<div class="collection_li" data-n="2"><span class="name">疾病</span><span class="num">0</span></div>
										<div class="collection_li" data-n="3"><span class="name">咨询</span><span class="num">0</span></div>
										<div class="collection_li" data-n="4"><span class="name">问答</span><span class="num">0</span></div>
										<div class="collection_li" data-n="5"><span class="name">药物</span><span class="num">0</span></div>
									</div>
									<div class="collectionBox collectionBox_1">
										<div class="collection_content">
											<div class="title_content_question">癌症治疗费用，日本远比美国低</div>
											<div class="collectionContentBox">
											中国人出国看病的目的地国家主要是日本和美国。其中，日本有着强大的医疗科研和癌症治疗能力，是医疗水平全球唯一能与美国并驾齐驱的国家。此外，日本也是发达国家中医疗费用最低的国家。拿日本排名前列的癌症治疗中心癌研有明医院举例来说...，
											<span class="collection_detail">【详情】</span>
											</div>
											<div class="title_content_date">
												<span>2018-4-13</span>
												<span>2评论</span>
												<span>0收藏</span>
												<span>1分享</span>
												<div class="cl"></div>
											</div>
										</div>
										<div class="collection_content">
											<div class="title_content_question">鹤丸昌彦</div>
											<div class="collectionContentBox">
											鹤丸昌彦现任 顺天堂大学医学部附属顺天堂医院癌症治疗中心院长，日本消化学会会长，擅长癌症治疗、食道疾病的诊疗<br>
											擅长疾病：胃癌
											<span class="collection_detail">【详情】</span>
											</div>
											<div class="title_content_date">
												<span>2018-4-13</span>
												<span>3评论</span>
												<span>0收藏</span>
												<span>2分享</span>
												<div class="cl"></div>
											</div>
										</div>
									</div>
									<div class="collectionBox collectionBox_2">疾病</div>
									<div class="collectionBox collectionBox_3">咨询</div>
									<div class="collectionBox collectionBox_4">问答</div>
									<div class="collectionBox collectionBox_5">药物</div>
								</div>
							</div>
							<div class="mainBox2Left2_Box mainBox2Left2_Box_4">
								<div class="collection">
									<div class="collection_nav">
										<div class="collection_li collection_li_this" data-n="1"><span class="name">综合</span><span class="num">2</span></div>
										<div class="collection_li" data-n="2"><span class="name">医生</span><span class="num">0</span></div>
										<div class="collection_li" data-n="3"><span class="name">医院</span><span class="num">0</span></div>
									</div>
									<div class="collectionBox collectionBox_1">
										<div class="followBox">
											<div class="followList fl">
												<div class="follow doctor">
													<img src="__IMG__/20180406_4.png" alt="">
													<div class="name"><span>幕内雅敏</span>教授</div>
													<div class="title">
														(IASGO)主席<br>
														日本外科学会会长<br>
														日本红十字会总医院院长
													</div>
												</div>
												<div class="cancleFollow">取消关注</div>
											</div>
											<div class="followList fl">
												<div class="follow doctor">
													<img src="__IMG__/20180406_4.png" alt="">
													<div class="name"><span>幕内雅敏</span>教授</div>
													<div class="title">
														(IASGO)主席<br>
														日本外科学会会长<br>
														日本红十字会总医院院长
													</div>
												</div>
												<div class="cancleFollow">取消关注</div>
											</div>
											<div class="followList fl">
												<div class="follow doctor">
													<img src="__IMG__/20180406_4.png" alt="">
													<div class="name"><span>幕内雅敏</span>教授</div>
													<div class="title">
														(IASGO)主席<br>
														日本外科学会会长<br>
														日本红十字会总医院院长
													</div>
												</div>
												<div class="cancleFollow">取消关注</div>
											</div>
											<div class="followList fl">
												<div class="follow hospital">
													<img src="__IMG__/20180406_2.png" alt="">
													<div class="name"><span>日本顺天堂大学附属顺天堂医院</span></div>
													<div class="title">
														日本综合排名权威医院
													</div>
												</div>
												<div class="cancleFollow">取消关注</div>
											</div>
											<div class="followList fl">5</div>
											<div class="followList fl">6</div>
											<div class="cl"></div>
										</div>
									</div>
									<div class="collectionBox collectionBox_2">医生</div>
									<div class="collectionBox collectionBox_3">医院</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mainBox2Right fr">
						<div class="mainRight1">
							<div class="mainRight1_title">热门信息</div>
							<div class="moreHos">
								<div class="mainRight5Banner swiper-container">
									<div class="swiper-wrapper">
						                <div class="swiper-slide">
						                	<div class="caseBanner">
								                <img src="__IMG__/20180406_14.png" alt="">
								                <div class="caseBannerText"><span class="over2">胃癌Ⅳ期患者秦女士赴日就医得解答胃癌Ⅳ期患者秦女士赴日就医得解答</span></div>
							                </div>
						                </div>
						                <div class="swiper-slide">
						                 	<div class="caseBanner">
								                <img src="__IMG__/20180406_14.png" alt="">
								                <div class="caseBannerText"><span class="over2">胃癌Ⅳ期患者秦女士</span></div>
							                </div>
						                </div>
						                <div class="swiper-slide">
						                 	<div class="caseBanner">
								                <img src="__IMG__/20180406_14.png" alt="">
								                <div class="caseBannerText"><span class="over2">胃癌Ⅳ期患者秦女士赴日就医</span></div>
							                </div>
						                </div>
						            </div>
						            <div class="my-pagination2"></div>
								</div>
							    <script>
							        var mySwiper1 = new Swiper('.mainRight5Banner',{
							            loop: true,
							            autoplay: 5000,
							            pagination:'.my-pagination2',
						            	paginationClickable :true
							        });
							    </script>
							    <div class="caseList over2">肺癌早期患者赴癌研有明医院求医康复记</div>
							    <div class="caseList over2">肺癌早期患者赴癌研有明医院求医康复记</div>
							    <div class="caseList over2">肺癌早期患者赴癌研有明医院求医康复记</div>
							    <div class="caseList over2">肺癌早期患者赴癌研有明医院求医康复记肺癌早期患者赴</div>
							    <div class="caseList over2">肺癌早期患者赴癌研有明医院求医康复记</div>
							</div>
						</div>
						<div class="mainRight2">
							<div class="mainBox3Right1Tilte">我要提问</div>
							<div class="questions">
								<textarea name="" id="" onKeyUp="if(this.value.length > 30){this.value=this.value.substr(0,30)}">头疼，头晕，出虚汗怎么回事？</textarea>
								<div class="questionsTip">
									<span>字数限制5-30个字</span>
									<button>提交问题</button>
								</div>
							</div>
						</div>
					</div>
					<div class="cl"></div>
				</div>
				<img src="__IMG__/1511920180748.png" alt="" class="bannerImg">
			</div>
		</div>
		<!-- footer -->
		<include file="Public/cjysFooter" />
	</div>
	<script>
		// 最新公告
		function AutoScroll(obj) {
		    $(obj).find("ul:first").animate({
		        marginTop: "-42px"
		    },
		    500,
		    function() {
		        $(this).css({
		            marginTop: "0px"
		        }).find("li:first").appendTo(this);
		    });
		}
		$(document).ready(function() {
		    setInterval('AutoScroll(".newsList")', 3000)
		});
		// nav
		function navFunc(nav,bodyNav){
			$('body').on('click','.'+nav,function(){
				var n=$(this).data('n');
				$('.'+nav).removeClass(nav+'_this');
				$(this).addClass(nav+'_this');
				$('.'+bodyNav).hide();
				$('.'+bodyNav+'_'+n).show();
			});
		}
		// 我的回答
		navFunc("title_li","mainBox2Left2_Box");
		// 收藏
		navFunc("collection_li","collectionBox");
		// 阅读全文
		$('.answerContentBox').each(function(){
			var answerContentBoxHeight=parseInt($(this).css('height'));
			if(answerContentBoxHeight<=64){
				$(this).parent('.answerContent').find('.readAll,.readClose').hide();
			}
		});
		// 展开
		$('body').on('click','.readAll',function(){
			$(this).prev('.answerContentBox').css({'max-height':'1000px'});
			$(this).next('.readClose').show();
			$(this).hide();
		});
		// 收起
		$('body').on('click','.readClose',function(){
			$(this).prev().prev('.answerContentBox').css({'max-height':'65px'});
			$(this).hide();
			$(this).prev('.readAll').show();
		});
		// *******************************************
		// 收藏
		
	</script>
</body>
</html> 