<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>超级医生-注册</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" href="__CSS__/public.css">
	<link rel="stylesheet" href="__CSS__/idangerous.swiper.css">
	<link rel="stylesheet" href="__CSS__/register.css">
	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/idangerous.swiper.min.js"></script>
</head>
<body>
	<div class="box">
		<!-- header -->
		<include file="Public/cjysHeader" />
		<div class="mainBox">
			<div class="title">请输入手机号</div>
			<div class="register_box">
				<input type="text" class="inputBox input_phone" placeholder="手机号">
				<div class="wrong"><span>手机号为空</span></div>
			</div>
			<div class="title">验证码</div>
			<div class="register_box">
				<input type="text" class="inputBox input_phone" placeholder="验证码">
				<div class="yzm">获取验证码</div>
				<div class="wrong"><span>验证码有误</span></div>
			</div>
			<div class="title">密码</div>
			<div class="register_box">
				<input type="text" class="inputBox input_phone" placeholder="密码">
				<div class="wrong"><span>密码不符合</span></div>
			</div>
			<div class="title">确认密码</div>
			<div class="register_box">
				<input type="text" class="inputBox input_phone" placeholder="确认密码">
				<div class="wrong"><span>请再次输入</span></div>
			</div>
			<div class="speech_yzm">收不到短信验证码？点击获取 <span class="speech">语音验证码</span></div>
			<div class="agree">
				<img src="__IMG__/20180331_1.png" alt="" data-src="20180331_1">
				我已看过并同意<span>《超级医生用户服务协议》</span>
			</div>
			<div class="registerBtn">注册</div>
		</div>
		<!-- footer -->
		<include file="Public/cjysFooter" />
	</div>
	<script>
		var IMG='__IMG__/';
		$('body').on('click','.agree img',function(){
			var src=$(this).data('src');
			$(this).attr('src',IMG+src+'a.png');
		});

	</script>
</body>
</html> 