<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>超级医生-搜索问答</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" href="__CSS__/public.css">
	<link rel="stylesheet" href="__CSS__/pagination.css">
	<link rel="stylesheet" href="__CSS__/searchComprehensive.css">
	<link rel="stylesheet" href="__CSS__/searchQandA.css">
	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/pagination.min.js"></script>
</head>
<body>
	<div class="box">
		<!-- header -->
		<include file="Public/cjysHeaderSearch" />
		<div class="main">
			<div class="mainBox">
				<div class="mainBoxLeft fl">
					<div style="height:1050px">
						<div class="mainleft-list">
							<div class="mainleft-list-title">
								<span class="titlebox"><span class="title">慢性胃炎</span>能吃它吗？</span>
								<span class="fr">3回答</span>
							</div>
							<div class="mainleft-list-con">
								<span class="title">慢性胃炎</span>怀孕三个多月，得了胃炎，该吃什么药...<span class="tip">[详细]</span>
							</div>
						</div>
						<div class="mainleft-list">
							<div class="mainleft-list-title">
								<span class="titlebox"><span class="title">慢性胃炎</span>能吃它吗？</span>
								<span class="fr">3回答</span>
							</div>
							<div class="mainleft-list-con">
								<span class="title">慢性胃炎</span>怀孕三个多月，得了胃炎，该吃什么药...<span class="tip">[详细]</span>
							</div>
						</div>
						<div class="mainleft-list">
							<div class="mainleft-list-title">
								<span class="titlebox"><span class="title">慢性胃炎</span>能吃它吗？</span>
								<span class="fr">3回答</span>
							</div>
							<div class="mainleft-list-con">
								<span class="title">慢性胃炎</span>怀孕三个多月，得了胃炎，该吃什么药...<span class="tip">[详细]</span>
							</div>
						</div>
						........
					</div>
					<!-- 分页 -->
					<div id="pagination"></div>
				</div>
				<div class="mainBoxRight fr">
					<div class="mainBox3Right2">
						<div class="mainBox3Right1Tilte">优质问答</div>
						<div class="moreHos">
							<li class="main2TwoList">
								<span class="main2TwoList1 fl">肺癌骨转移后怎么治疗？</span>
								<span class="main2TwoList2 fr">2回答</span>
							</li>
							<li class="main2TwoList">
								<span class="main2TwoList1 fl">胃癌能治好吗？</span>
								<span class="main2TwoList2 fr">2回答</span>
							</li>
							<li class="main2TwoList">
								<span class="main2TwoList1 fl">胃癌能治好吗？</span>
								<span class="main2TwoList2 fr">2回答</span>
							</li>
							<li class="main2TwoList">
								<span class="main2TwoList1 fl">胃癌能治好吗？</span>
								<span class="main2TwoList2 fr">2回答</span>
							</li>
							<li class="main2TwoList">
								<span class="main2TwoList1 fl">胃癌能治好吗？</span>
								<span class="main2TwoList2 fr">2回答</span>
							</li>
							<li class="main2TwoList">
								<span class="main2TwoList1 fl">胃癌能治好吗？</span>
								<span class="main2TwoList2 fr">2回答</span>
							</li>
						</div>
					</div>
				</div>
				<div class="cl"></div>
			</div>
		</div>
		<!-- footer -->
		<include file="Public/cjysFooter" />
	</div>
	<script>
		// ***分页***
	    $("#pagination").whjPaging({
		  	//设为true时，ajax里的success函数必须调用setPage方法，否则分页插件显示保持不变
		  	// isResetPage: true,
		  	css: 'css-1',
	        //可选，展示页码数量6条
				showPageNum: 6,
				// 总共18页
	        totalPage: 18,
	        //可选，是否展示每页N条下拉框，默认true
			isShowPageSizeOpt: false,
			//可选，是否展示跳到指定页数，默认true
			isShowSkip: false,
			//可选，是否展示刷新，默认true
			isShowRefresh: false,
			//可选，是否展示共{}页，默认true
			isShowTotalPage: false,
			// 返回参数：第一个参数为页码，第二个参数为每页显示N条
	        callBack: function (currPage, pageSize) {
	            console.log('currPage:' + currPage + '     pageSize:' + pageSize);
	        }
		});
		/*
		function loadData(currPage, pageSize) {
			$.ajax({
			    //其它参数选项请自填
			    success: function(res) {
				    
			    }
			});
		}
		loadData(1, 8);
		*/
	</script>
</body>
</html> 