<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>超级医生-搜索医生</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" href="__CSS__/public.css">
	<link rel="stylesheet" href="__CSS__/pagination.css">
	<link rel="stylesheet" href="__CSS__/searchComprehensive.css">
	<link rel="stylesheet" href="__CSS__/searchDoctor.css">
	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/pagination.min.js"></script>
</head>
<body>
	<div class="box">
		<!-- header -->
		<include file="Public/cjysHeaderSearch" />
		<div class="main">
			<div class="mainBox">
				<div class="mainBoxLeft fl">
					<div style="height:924px">
						<div class="mainleft-list">
							<div class="mainleft-list-con">
								<img src="__IMG__/20180316cjys13.png" alt="" class="fl">
								<div class="mainleft-list-con mainleft-list-con-r fl">
									<div class="doctorName"><span class="doctorName-name">幕内雅敏</span>教授</div>
									<div class="doctorName-tip">
										<li>IASGO)主席</li>
										<li>日本外科学会会长</li>
										<li>日本红十字会总医院院长</li>
									</div>
									<div class="doctorName-good">擅长：肝胆疾病、肝胆胰移植</div>
								</div>
								<div class="doctorName-appoint">咨询预约</div>
							</div>
						</div>
						<div class="mainleft-list">
							<div class="mainleft-list-con">
								<img src="__IMG__/20180316cjys13.png" alt="" class="fl">
								<div class="mainleft-list-con mainleft-list-con-r fl">
									<div class="doctorName"><span class="doctorName-name">幕内雅敏</span>教授</div>
									<div class="doctorName-tip">
										<li>IASGO)主席</li>
										<li>日本外科学会会长</li>
										<li>日本红十字会总医院院长</li>
									</div>
									<div class="doctorName-good">擅长：肝胆疾病、肝胆胰移植</div>
								</div>
								<div class="doctorName-appoint">咨询预约</div>
							</div>
						</div>
						<div>...</div>
					</div>
					<!-- 分页 -->
					<div id="pagination"></div>
				</div>
				<div class="mainBoxRight fr">
					<div class="mainBox3Right2">
						<div class="mainBox3Right1Tilte">医生推荐</div>
						<div class="medicineImg">
							<img src="__IMG__/20180406_10.png" alt="" class="fl">
							<div class="fl medicine-name">
								墓内晴朗教授
								<div class="medicine-hos"><span>北京协和医院</span><span>内科主任</span></div>
							</div>
						</div>
						<div class="medicineImg">
							<img src="__IMG__/20180406_10.png" alt="" class="fl">
							<div class="fl medicine-name">
								墓内晴朗教授
								<div class="medicine-hos"><span>北京协和医院</span><span>内科主任</span></div>
							</div>
						</div>
						<div class="medicineImg">
							<img src="__IMG__/20180406_10.png" alt="" class="fl">
							<div class="fl medicine-name">
								墓内晴朗教授
								<div class="medicine-hos"><span>北京协和医院</span><span>内科主任</span></div>
							</div>
						</div>
					</div>
				</div>
				<div class="cl"></div>
			</div>
		</div>
		<!-- footer -->
		<include file="Public/cjysFooter" />
	</div>
	<script>
		// ***分页***
	    $("#pagination").whjPaging({
		  	//设为true时，ajax里的success函数必须调用setPage方法，否则分页插件显示保持不变
		  	// isResetPage: true,
		  	css: 'css-1',
	        //可选，展示页码数量6条
				showPageNum: 6,
				// 总共18页
	        totalPage: 18,
	        //可选，是否展示每页N条下拉框，默认true
			isShowPageSizeOpt: false,
			//可选，是否展示跳到指定页数，默认true
			isShowSkip: false,
			//可选，是否展示刷新，默认true
			isShowRefresh: false,
			//可选，是否展示共{}页，默认true
			isShowTotalPage: false,
			// 返回参数：第一个参数为页码，第二个参数为每页显示N条
	        callBack: function (currPage, pageSize) {
	            console.log('currPage:' + currPage + '     pageSize:' + pageSize);
	        }
		});
		/*
		function loadData(currPage, pageSize) {
			$.ajax({
			    //其它参数选项请自填
			    success: function(res) {
				    
			    }
			});
		}
		loadData(1, 8);
		*/
	</script>
</body>
</html> 