<include file="Public/publicHeader" />
	<style>
		/*主体部分开始*/
		.mainBox{
			width:102%;
			height:auto;
			margin-left:-0.8rem;
			background:#f0f0f0;
			position:absolute;
		}
		.diseaseSearch{
			width:100%;
			height:12rem;
			line-height:12rem;
			text-align:center;
			margin-top:14rem;
			background:#fff;
			padding-top:2rem;
		}
		.searchPublicBody{
			width:80%;
			margin-left:10%;
			height:8rem;
			line-height:8rem;
			border-radius:10rem;
			background:#f0f0f0;
		}
		.searchPublicIco{
			margin:-1rem 0 0 -5rem;
		}
		#diseaseKeyWords{
			width:80%;
			height:8rem;
			line-height:8rem;
			border-radius:10rem;
			border:0.1rem solid #f0f0f0;
			background:#f0f0f0;
			font-size:3.5rem;
			color:#666;
		}
		.swiperBanners{
			margin-top:2rem;
		}
		.autoBanner{
			width:100%;
		}
		.bannerText{
			width:100%;
			height:8rem;
			line-height:8rem;
			position:absolute;
			bottom:0;
			padding:2rem 2rem;
			background:rgba(0,0,0,0.4);
		}
		.bannerText1{
			margin-top:-1.5rem;
			font-size:4rem;
			color:#fff;
			overflow: hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
		}
		.doctorRecommend{
			margin-top:2rem;
			width:100%;
			height:auto;
		}
		.doctorRecommendOne{
			width:100%;
			height:9rem;
			background:#fff;
			border-bottom:0.2rem solid rgba(220,220,220,1);
		}
		.doctorRecommendLine{
			width:20rem;
			height:9rem;
			line-height:9rem;
			font-size:4rem;
			text-align:center;
			float:left;
		}
		.diseaseLink{
			width:100%;
			padding:0rem 2rem 2rem 2rem;
			height:auto;
			background:#fff;
		}
		.hotDisease{
			width:auto;
			height:6rem;
			line-height:6rem;
			text-align:center;
			border:0.2rem solid #f0f0f0;
			padding:0 1rem 0 1rem;
			float:left;
			font-size:3.5rem;
			color:#333;
			margin-right:2rem;
			margin-top:2rem;
		}
		.diseaseLinkInfo{
			width:100%;
			height:auto;
			padding:2rem;
			background:#fff;
		}
		.diseaseLinkInfo li{
			width:50%;
			height:5rem;
			line-height:5rem;
			font-size:4rem;
			float:left;
			padding-left:-2rem;
			margin-top:2rem;
		}
		.diseaseLinkInfo:after{
			content:'.';
			clear:both;
		}
	</style>
	<div class="mainBox">
		<div class="diseaseSearch">
			<div class="searchPublicBody">
			<img class="searchPublicIco" src="__IMG__/20180703searchico.png">
			<input type="text" name="keywords" value="" id="diseaseKeyWords" placeholder="请输入疾病"/>
			</div>
		</div> 
		<div class="swiperBanners"> 
			<div class="swiper-container disSwiperOne">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a href=""><img class="autoBanner" src="__IMG__/20180615banner1.jpg"></a>
						<div class="bannerText">
							<div class="bannerText1">5种食物竟然是防癌圣品</div>
						</div>
					</div>
					<div class="swiper-slide">
						<a href=""><img class="autoBanner" src="__IMG__/20180615banner2.jpg"></a>
						<div class="bannerText">
							<div class="bannerText1">5种食物竟然是防癌圣品</div>
						</div>
					</div>
					<div class="swiper-slide">
						<a href=""><img class="autoBanner" src="__IMG__/20180615banner3.jpg"></a>
						<div class="bannerText">
							<div class="bannerText1">5种食物竟然是防癌圣品</div>
						</div>
					</div>
				</div>
			</div>
		</div> 
		<div class="doctorRecommend">
			<div class="doctorRecommendOne">
				<div class="doctorRecommendLine" style="width:auto;margin-left:2rem;color:#009FA8;font-size:5rem;">当季高发重疾</div>
				<div class="doctorRecommendLine" style="float:right;color:#999;font-size:3.5rem;text-align:right;">更多<img style="position:relative;top:-0.3rem;margin-left:1rem;" src="__IMG__/20180615right.png"> &nbsp;&nbsp;</div>
			</div> 
			<div class="diseaseLink"> 
				<div class="hotDisease">肺癌</div>
				<div class="hotDisease">胃癌</div>
				<div class="hotDisease">卵巢癌</div>
				<div class="hotDisease">卵巢癌</div>
				<div class="hotDisease">呼吸道感染</div>
				<div class="hotDisease">小细胞肺癌</div>
				<div class="hotDisease">肠癌</div>
				<div class="hotDisease">呼吸道感染</div>
				<div class="hotDisease">卵巢癌</div>
				<div class="hotDisease">呼吸道感染</div>
				<div class="hotDisease">小细胞肺癌</div>
				<div class="hotDisease">肠癌</div>
				<div class="hotDisease">小细胞肺癌</div>
				<div class="hotDisease">肠癌</div>
				<div class="cl"></div>
			</div> 
		</div> 
		<div class="doctorRecommend">
			<div class="doctorRecommendOne">
				<div class="doctorRecommendLine" style="width:auto;margin-left:2rem;color:#009FA8;font-size:5rem;">更多疾病</div>
				<div class="doctorRecommendLine" style="float:right;color:#999;font-size:3.5rem;text-align:right;">更多<img style="position:relative;top:-0.3rem;margin-left:1rem;" src="__IMG__/20180615right.png"> &nbsp;&nbsp;</div>
						<div class="cl"></div>
			</div> 
			<div class="diseaseLink"> 
				<div class="swiper-container disSwiperTwo">
					<div class="swiper-wrapper">
						<div class="swiper-slide" data-history="slide1" data-n="1">头颈部</div>
						<div class="swiper-slide" data-history="slide2" data-n="2">胸腹部</div>
						<div class="swiper-slide" data-history="slide3" data-n="2">盆腔</div>
						<div class="swiper-slide" data-history="slide3" data-n="2">皮肤</div>
						<div class="swiper-slide" data-history="slide3" data-n="2">儿童肿瘤</div>
						<div class="swiper-slide" data-history="slide3" data-n="2">其他</div>
						<div class="cl"></div>
					</div>
				</div>
			</div>
			<div class="diseaseLinkInfo">
				<ul> 
					<li>脑瘤</li>
					<li>颊癌</li>
					<li>鼻咽癌</li>
					<li>垂体癌</li>
					<li>口腔癌</li>
					<li>脑膜瘤</li>
					<li>眼部肿瘤</li>
					<li>胶质瘤</li>
					<li>舌癌</li>
					<li>视网膜母细胞癌</li>
					<li>牙龈癌</li>
					<li>甲状腺癌</li>
					<li>胶质瘤</li>
					<li>喉癌</li>
				</ul> 
			</div> 
			<div style="width:100%;height:30rem;"> 
			</div> 
		</div> 
	</div>
	<script>
		//轮播图
		var disSwiperOne = new Swiper('.disSwiperOne',{
				autoplay: true,
			});
			
		var disSwiperTwo = new Swiper('.disSwiperTwo',{
				history: true,
			});
		//动态调整导航宽高
		$('.disSwiperTwo .swiper-slide').css({'width':'auto','font-size':'4rem','padding':'2rem'});
		$('.disSwiperTwo .swiper-slide').each(function(){
			var n = $(this).data('n');
			if(n==1){
				$(this).css({'border-bottom':'0.2rem solid #009FA8'});
			}
		});
		//动态改变导航栏信息
		$('.oneNavDiv').html('<img src="__IMG__/20180627reback.png">');
		$('.oneNavDiv').data('n',2);
		$('.twoNavDiv').html('疾病库');
	</script> 
<include file="Public/publicFooter"/>
	