<include file="Public/publicHeader" />
	<style>
		/*主体部分开始*/
		.mainBox{
			width:102%;
			height:auto;
			margin-left:-0.8rem;
			background:#f0f0f0;
			position:absolute;
		}
		.BreadcrumbTrail{
			width:100%;
			height:7rem;
			background:#fff;
			margin-top:12rem;
		}
		.breadLeftImg{
			width:12%;
			float:left;
			height:7rem;
			line-height:7rem;
			font-size:3.5rem;
			color:#999;
			text-align:center;
			margin-left:2rem;
		}
		.breadLeftText{
			width:85%;
			height:7rem;
			line-height:7rem;
			float:left;
			font-size:3.5rem;
			color:#999;
			text-align:left;
			overflow: hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
		}
		.questionInfo{
			margin-top:2rem;
			width:100%;
			height:auto;
			background:#fff;
			padding:0 0 3rem 0;
		}
		.questionInfoLine{
			width:100%;
			height:auto;
			padding-left:2rem;
		}
		.questionName{
			width:100%;
			height:7rem;
			line-height:7rem;
			font-size:4rem;
			overflow:hidden;
			text-overflow:ellipsis;
			white-space:nowrap;
		}
		.questionNameinfo span{
			color:#999;
			font-size:3.5rem;
			height:5rem;
			line-height:5rem;
		}
		.questionContent{	
			width:100%;
			line-height:5rem;
			font-size:3.5rem;
			padding:1rem 0 1rem 0;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
			overflow: hidden;
		}
		.questionTags{
			width:100%;
			height:7rem;
			padding:1rem 0 1rem 0;
			line-height:5rem;
		}
		.questionTagsL{
			width:77%;
			float:left;
		}
		.questionTagsR{
			width:23%;
			float:left;
			height:6rem;
			line-height:6rem;
			text-align:center;
			font-size:3.5rem;
			background:#009FA8;
			color:#fff;
			border-radius:6rem;
			padding:0 1rem 0 1rem;
		}
		.questionTagList{
			width:auto;
			height:6rem;
			line-height:6rem;
			font-size:3.5rem;
			background:rgba(249,249,249,1);
			border-radius:4rem;
			border:0.1rem solid #999;
			float:left;
			text-align:center;
			padding:0 1.5rem 0 1.5rem;
			margin-right:2rem;
		}
		.answersInfo{
			width:100%;
			height:auto;
			padding:2rem;
			margin-top:2rem;
			background:#fff;
		}
		.answersInfoTitle{
			width:auto;
			height:5rem;
			line-height:5rem;
		}
		.answerImgText{
			float:left;
			font-size:5rem;
		}
		.answerImgText img{
			margin-top:-1rem;
		}
		.answersInfoList{
			width:100%;
			height:auto;
			border-bottom:0.2rem solid #DCDCDC;
			margin-top:2rem;
		}
		.answersInfoPerson{
			width:100%;
			height:12rem;
		}
		.answersInfoPersonL{
			width:20%;
			height:12rem;
			line-height:12rem;
			text-align:center;
			float:left;
		}
		.answersInfoPersonL img{
			width:10rem;
		}
		.answersInfoPersonR{
			width:80%;
			height:12rem;
			float:left;
		}
		.answersInfoPersonRU{
			width:100%;
			height:5rem;
			line-height:5rem;
			margin-top:2rem;
			font-size:4rem;
		}
		.answersInfoPersonRD{
			width:100%;
			height:4rem;
			line-height:4rem;
			font-size:3.5rem;
			color:#999;
		}
		.answersInfoContent{
			width:100%;
			height:auto;
			line-height:4rem;
			font-size:3.5rem;
			margin-top:2rem;
		}
		.myAnswersInfo{
			width:100%;
			height:40rem;
			padding:2rem;
			margin-top:2rem;
			background:#fff;
			display:none;
		}
		.myanswersInfoTitle{
			width:auto;
			height:5rem;
			line-height:5rem;
		}
		.myanswerTextDiv{
			width:100%;
			height:30rem;
			border:0.1rem solid #999;
			margin-top:1rem;
		}
		.myanswerTextarea{
			width:100%;
			height:20rem;
			line-height:5rem;
			border:0rem solid #fff;
			font-size:4rem;
			text-indent:2rem;
		}
		.myanswerSubmit{
			width:15%;
			height:6rem;
			line-height:6rem;
			background:#009FA8;
			color:#fff;
			text-align:center;
			font-size:4rem;
			float:right;
			border-radius:6rem;
			margin:2rem 2rem 0 0;
		}
	</style>
	<div class="mainBox">
		<div class="BreadcrumbTrail">
			<div class="breadLeftImg"><img src="__IMG__/20180627backtoindex.png"> 首页</div>
			<div class="breadLeftText"> > 互动问答 > 肿瘤类 > 女生右腰部隐痛的原因是什么呢?</div>
		</div>
		<div class="questionInfo">
			<div class="questionInfoLine">
				<div class="fl" style="width:6%;height:7rem;line-height:7rem;"><img src="__IMG__/20180718questioninfo.png"></div>
				<div class="fl" style="width:90%;margin-left:1rem;">
					<div class="questionName">女生右腰部隐痛的原因是什么呢?</div>
					<div class="questionNameinfo"><span>女</span>&nbsp;<span>43岁</span>&nbsp;&nbsp;<span>发病时间：</span>&nbsp;<span>不清楚</span></div>
					<div class="questionContent">病情描述：右下腹隐痛，去医院做检查也没有查出什么问题，这个是什么原因呢，求医生解答。</div>
					<div class="questionNameinfo"><span>蘑菇爬过慢时光</span>&nbsp;|&nbsp;<span>2018-7-18</span></div>
					<div class="questionTags">
						<div class="questionTagsL">
							<div class="questionTagList">肺癌</div>
							<div class="questionTagList">胃癌</div>
							<div class="cl"></div>
						</div>
						<div class="questionTagsR">我要回答</div>
					</div>
				</div>
				<div class="cl"></div>
			</div>
		</div> 
		<div class="myAnswersInfo">
			<div class="myanswersInfoTitle">
				<div class="answerImgText"><img src="__IMG__/20180615changjianzhongji.png"></div>
				<div class="answerImgText" style="margin-left:1rem;">我要回答</div>
			</div>
			<div class="myanswerTextDiv">
				<textarea class="myanswerTextarea"></textarea>
				<div class="myanswerSubmit"> 提交 </div>
			</div>
		</div>
		<div class="answersInfo">
			<div class="answersInfoTitle">
				<div class="answerImgText"><img src="__IMG__/20180615changjianzhongji.png"></div>
				<div class="answerImgText" style="margin-left:1rem;">其他答案</div>
			</div>
			<div class="answersInfoList">
				<div class="answersInfoPerson">
					<div class="answersInfoPersonL"><img src="__IMG__/20180424head5.png"></div>
					<div class="answersInfoPersonR">
						<div class="answersInfoPersonRU">谁手落子应无悔</div>
						<div class="answersInfoPersonRD">2018-7-18 9:23</div>
					</div>
				</div>
				<div class="answersInfoContent"><p>我会粗鲁地报告它。 <br><br>没有双手和外表的残疾人很普通，但公司方有历史<br><br>确认后，突然确认<a href="http://www.superdoctor.cn/diseaseList/37" target="_blank">癫痫</a>状态。我报道。 <br><br>我的<a href="http://www.superdoctor.cn/diseaseList/37" target="_blank">癫痫</a>发生水平是每月1到2次，如果是每年一次，则是几十次<br><br>它是。产生这么多人的人回答说不可能雇用。 <br><br>如果是这样，你可以在多大程度上招募？如果你问和回答<br><br>没有它。 <br><br></p></div>
			</div>
			<div class="answersInfoList">
				<div class="answersInfoPerson">
					<div class="answersInfoPersonL"><img src="__IMG__/20180424head5.png"></div>
					<div class="answersInfoPersonR">
						<div class="answersInfoPersonRU">谁手落子应无悔</div>
						<div class="answersInfoPersonRD">2018-7-18 9:23</div>
					</div>
				</div>
				<div class="answersInfoContent"><p>我会粗鲁地报告它。 <br><br>没有双手和外表的残疾人很普通，但公司方有历史<br><br>确认后，突然确认<a href="http://www.superdoctor.cn/diseaseList/37" target="_blank">癫痫</a>状态。我报道。 <br><br>我的<a href="http://www.superdoctor.cn/diseaseList/37" target="_blank">癫痫</a>发生水平是每月1到2次，如果是每年一次，则是几十次<br><br>它是。产生这么多人的人回答说不可能雇用。 <br><br>如果是这样，你可以在多大程度上招募？如果你问和回答<br><br>没有它。 <br><br></p></div>
			</div>
			<div class="answersInfoList">
				<div class="answersInfoPerson">
					<div class="answersInfoPersonL"><img src="__IMG__/20180424head5.png"></div>
					<div class="answersInfoPersonR">
						<div class="answersInfoPersonRU">谁手落子应无悔</div>
						<div class="answersInfoPersonRD">2018-7-18 9:23</div>
					</div>
				</div>
				<div class="answersInfoContent"><p>我会粗鲁地报告它。 <br><br>没有双手和外表的残疾人很普通，但公司方有历史<br><br>确认后，突然确认<a href="http://www.superdoctor.cn/diseaseList/37" target="_blank">癫痫</a>状态。我报道。 <br><br>我的<a href="http://www.superdoctor.cn/diseaseList/37" target="_blank">癫痫</a>发生水平是每月1到2次，如果是每年一次，则是几十次<br><br>它是。产生这么多人的人回答说不可能雇用。 <br><br>如果是这样，你可以在多大程度上招募？如果你问和回答<br><br>没有它。 <br><br></p></div>
			</div>
		</div>
	</div>
	<script>
		//动态改变导航栏信息
		$('.oneNavDiv').html('<img src="__IMG__/20180627reback.png">');
		$('.oneNavDiv').data('n',2);
		$('.twoNavDiv').html('女生右腰部隐痛的原因');
		//我要回答
		$('.questionTagsR').click(function(){
			$(this).css({'background':'#999'});
			$('.myAnswersInfo').slideDown('fast');
		});
		//提交答案
		$('.myanswerSubmit').click(function(){
			var myAnswer = '';
			myAnswer += '<div class="answersInfoList">';
				myAnswer += '<div class="answersInfoPerson">';
					myAnswer += '<div class="answersInfoPersonL"><img src="__IMG__/20180424head5.png"></div>';
					myAnswer += '<div class="answersInfoPersonR">';
						myAnswer += '<div class="answersInfoPersonRU">谁手落子应无悔222</div>';
						myAnswer += '<div class="answersInfoPersonRD">2018-7-18 9:23</div>';
					myAnswer += '</div>';
				myAnswer += '</div>';
				myAnswer += '<div class="answersInfoContent"><p>我会粗鲁地报告它。 <br><br>没有双手和外表的残疾人很普通，但公司方有历史<br><br>确认后，突然确认<a href="http://www.superdoctor.cn/diseaseList/37" target="_blank">癫痫</a>状态。我报道。 <br><br>我的<a href="http://www.superdoctor.cn/diseaseList/37" target="_blank">癫痫</a>发生水平是每月1到2次，如果是每年一次，则是几十次<br><br>它是。产生这么多人的人回答说不可能雇用。 <br><br>如果是这样，你可以在多大程度上招募？如果你问和回答<br><br>没有它。 <br><br></p></div>';
			myAnswer += '</div>';
			$('.answersInfoTitle').after(myAnswer);
			$('.myAnswersInfo').slideUp('fast');
			$('.questionTagsR').css({'background':'#009FA8'});
		});
	</script> 
<include file="Public/publicFooter"/>
	