<include file="Public/publicHeader" />
<!--标准mui.css-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link href="__CSS__/mui.min.css" rel="stylesheet" />
<link href="__CSS__/app.css" rel="stylesheet" />
<link href="__CSS__/mui.picker.css" rel="stylesheet" />
<link href="__CSS__/mui.poppicker.css" rel="stylesheet" />
	<style>
		/***********头部修改**************/
			.mobilePublicNav{
				height:5rem;
				margin-left:0rem;
			}
			.navDiv{
				height:5rem;
				line-height:5rem;
				font-size:2rem;
			}
			.oneNavDiv img{
				height:2rem;
			}
			.threeNavDiv img{
				height:2rem;
			} 
		/***********头部修改**************/
		/***********面包屑修改**************/
		.mainBox{
			width:100%;
			margin-left:0rem;
		}
		/***********面包屑修改**************/
		/***********底部修改**************/
		.mobilePublicFot{
			height:6rem;
		}
		.fotDiv{
			height:6rem;
		}
		.fotDivFirst{
			height:3rem;
		}
		.fotDivFirst img{
			height:2rem;
		}
		.firstImg{
			margin-top:1rem;
			margin-left:3.3rem;
		}
		.fotDivTwo{
			height:3rem;
			line-height:3rem;
			font-size:1.5rem;
		}
		/***********底部修改**************/
		/*主体部分开始*/
		.mainBox{
			width:100%;
			height:auto;
			background:#f0f0f0;
			position:absolute;
		}
		.BreadcrumbTrail{
			width:100%;
			height:3rem;
			background:#fff;
			margin-top:5rem;
		}
		.breadLeftImg{
			width:20%;
			float:left;
			height:3rem;
			line-height:3rem;
			color:#999;
			text-align:center;
			font-size:1.5rem;
		}
		.breadLeftImg img{
			width:1.3rem;
		}
		.breadLeftText{
			width:80%;
			height:3rem;
			line-height:3rem;
			float:left;
			font-size:1.5rem;
			color:#999;
			text-align:left;
			overflow: hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
		}
		.questionListBox{
			width:100%;
			height:auto;
			margin-top:1rem;
			padding:1rem;
			background:#fff;
		}
		.questionListTitle{
			width:100%;
			height:auto;
		}
		.questionList{
			width: 50%;
			border: 0.1rem solid #009FA8;
			height: 4rem;
			line-height: 4rem;
			float: left;
			color: #009FA8;
			text-align: center;
			font-size: 1.5rem;
		}
		.questionListBoxWait{
			width:100%;
			height:auto;
			margin-top:1rem;
			display:none;
		}
		.questionLists{
			width:100%;
			height:3rem;
			line-height:3rem;
		}
		.questionListsL{
			width:88%;
			height:3rem;
			line-height:3rem;
			float:left;
			color:#666;
			font-size:1.5rem;
			overflow: hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
		}
		.questionListsR{
			width:12%;
			height:3rem;
			line-height:3rem;
			float:left;
			font-size:1.2rem;
			color:#666;
		}
		.questionListBoxNice{
			width:100%;
			height:auto;
			margin-top:1rem;
		}
		.questionListNices{
			width:100%;
			height:7rem;
			margin-top:1rem;
		}
		.questionListNiceU{
			width:100%;
			height:3rem;
			line-height:3rem;
			font-size:1.5rem;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
		}
		.questionListNiceD{
			width:100%;
			height:4rem;
		}
		.questionListNiceDL{
			width:15%;
			height:4rem;
			line-height:4rem;
			text-align:left;
			float:left;
		}
		.questionListNiceDL img{
			width:4rem;
		}
		.questionListNiceDR{
			width:85%;
			height:4rem;
			line-height:2rem;
			font-size:1.2rem;
			color:#666;
			float:left;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
		}
		.ScreeningConditions{
			width:100%;
			height:5rem;
		}
		.ScreeningConditionsList{
			width:100%;
			font-size:1.5rem;
			color:#666;
			background:#fff;
			border-top:0.1rem solid #f0f0f0;
		}
		
		.mui-pciker-list li{
			font-size:1.5rem;
			line-height:3rem;
		}
		.mui-pciker-list, .mui-pciker-rule{
			height:3rem;
			line-height:3rem;
		}
		.mui-poppicker-header .mui-btn{
			font-size:1.5rem;
		}
		
		.screenList span{
			width:auto;
			display:inline-block;
			text-align:center;
			padding-right:0.4rem;
			line-height:1.2rem;
		}
		.screenList img{
			position:absolute;
			right:0rem;
		}
		/**********公共底部**********/
		.mobilePublicFotNavTwo{
			bottom:6rem;
		}
		.fotNavList{
			height:4rem;
			line-height:4rem;
			font-size:1.5rem;
			border-bottom:0.1rem solid rgba(220,220,220,1);
		}
		.mobilePublicFotNav{
			top:4.2rem !important;
		}
		/**********公共底部**********/
	</style>
	<div class="mainBox">
		<div class="BreadcrumbTrail">
			<div class="breadLeftImg"><img src="__IMG__/20180627backtoindex.png"> 首页</div>
			<div class="breadLeftText"> > 互动问答 > 肿瘤类</div>
		</div>
		<div class="ScreeningConditions">
			<div id='showCityPicker' class="ScreeningConditionsList mui-btn mui-btn-block screenList" >
				<span id='cityResult' >选择癌种</span>>
			</div>
		</div>
		<div class="questionListBox">
			<div class="questionListTitle">
				<div class="questionList" data-n="1" data-t="1">优质问答</div>
				<div class="questionList" data-n="2" data-t="2">待解决</div>
				<div class="cl"></div>
			</div>
			<div class="questionListBoxWait">
				<a href="http://192.168.1.21/Mobile/index.php/Mobile/Index/questionDetails">
					<div class="questionLists">
						<div class="questionListsL">女性右腰部隐痛的原因是什么呢？</div>
						<div class="questionListsR">6 回答</div>
					</div>
				</a>
				<div class="questionLists">
					<div class="questionListsL">女性右腰部隐痛的原因是什么呢？</div>
					<div class="questionListsR">6 回答</div>
				</div>
				<div class="questionLists">
					<div class="questionListsL">女性右腰部隐痛的原因是什么呢？</div>
					<div class="questionListsR">6 回答</div>
				</div>
				<div class="questionLists">
					<div class="questionListsL">女性右腰部隐痛的原因是什么呢？</div>
					<div class="questionListsR">6 回答</div>
				</div>
				<div class="questionLists">
					<div class="questionListsL">女性右腰部隐痛的原因是什么呢？</div>
					<div class="questionListsR">6 回答</div>
				</div>
				<div class="questionLists">
					<div class="questionListsL">女性右腰部隐痛的原因是什么呢？</div>
					<div class="questionListsR">6 回答</div>
				</div>
				<div class="questionLists">
					<div class="questionListsL">女性右腰部隐痛的原因是什么呢？</div>
					<div class="questionListsR">6 回答</div>
				</div>
			</div>
			<div class="questionListBoxNice">
				<a href="http://192.168.1.21/Mobile/index.php/Mobile/Index/questionDetails">
					<div class="questionListNices">
						<div class="questionListNiceU">女性右腰部隐痛的原因是什么呢？</div>
						<div class="questionListNiceD">
							<div class="questionListNiceDL"><img src="__IMG__/20180626xinneike.png"></div>
							<div class="questionListNiceDR">很高兴为您解答，病因很多，目前不能确定决定的患病原因，就应该要面对现实，去专业的医</div>
						</div>
					</div>
				</a>
				<div class="questionListNices">
					<div class="questionListNiceU">女性右腰部隐痛的原因是什么呢？</div>
					<div class="questionListNiceD">
						<div class="questionListNiceDL"><img src="__IMG__/20180626xinneike.png"></div>
						<div class="questionListNiceDR">很高兴为您解答，病因很多，目前不能确定决定的患病原因，就应该要面对现实，去专业的医</div>
					</div>
				</div>
				<div class="questionListNices">
					<div class="questionListNiceU">女性右腰部隐痛的原因是什么呢？</div>
					<div class="questionListNiceD">
						<div class="questionListNiceDL"><img src="__IMG__/20180626xinneike.png"></div>
						<div class="questionListNiceDR">很高兴为您解答，病因很多，目前不能确定决定的患病原因，就应该要面对现实，去专业的医</div>
					</div>
				</div>
				<div class="questionListNices">
					<div class="questionListNiceU">女性右腰部隐痛的原因是什么呢？</div>
					<div class="questionListNiceD">
						<div class="questionListNiceDL"><img src="__IMG__/20180626xinneike.png"></div>
						<div class="questionListNiceDR">很高兴为您解答，病因很多，目前不能确定决定的患病原因，就应该要面对现实，去专业的医</div>
					</div>
				</div>
			</div>
			<div style="width:100%;height:20rem;"></div>
		</div>
	<div id="sssss" style="width:100px;height:100px;background:#333;display:none;">11111</div>
	</div>
	<script src="__JS__/zepto.min.js"></script>
	<script type="text/javascript" src="__JS__/mui.min.js"></script>
	<script type="text/javascript" src="__JS__/mui.picker.js"></script>
	<script type="text/javascript" src="__JS__/mui.poppicker.js"></script>
	<script>
		//动态改变导航栏信息
		$('.oneNavDiv').html('<img src="__IMG__/20180627reback.png">');
		$('.oneNavDiv').data('n',2);
		$('.twoNavDiv').html('肿瘤类问答');
		//遍历切换问题
		$('.questionList').each(function(){
			var n = $(this).data('n');
			if(n == 1){
				$(this).css({'background':'#009FA8','color':'#fff'});
			}
		});
		//问答列表点击切换
		$('.questionList').on('click',function(){
			var n = $(this).data('n');
			var t = $(this).data('t');
			if(n == 2){
				$('.questionList').css({'background':'#fff','color':'#009FA8'});
				$('.questionList').data('n',2);
				$(this).css({'background':'#009FA8','color':'#fff'});
				$(this).data('n',1);
			}
			if(t==1){
				$('.questionListBoxWait').hide('fast');
				$('.questionListBoxNice').show('fast');
			}else if(t==2){
				$('.questionListBoxNice').hide('fast');
				$('.questionListBoxWait').show('fast');
			}
		});
		//------------------行业筛选开始-----------------------
		//定义疾病分类Json数组
		

		eval('var diseaseJson = {$diseaseArr}');

		var diseaseid = null;
		//行业联动
		(function(mui, doc) {
			mui.init();
			mui.ready(function() {
				//级联示例
				var cityPicker = new mui.PopPicker({
					layer: 2
				}); 
				cityPicker.setData(diseaseJson);
				var showCityPickerButton = doc.getElementById('showCityPicker');
				var cityResult = doc.getElementById('cityResult');
				showCityPickerButton.addEventListener('tap', function(event) {
					cityPicker.show(function(items){
						//获取疾病列表选中的数据
						cityResult.innerHTML = items[1].text;
						diseaseid = items[1].id;
						//返回 false 可以阻止选择框的关闭
						//return false;
					});
					
				}, false); 

			});
		})(mui, document); 
		//点击弹框的确定按钮
		$('body').on('tap','.mui-poppicker-btn-ok',function(){
			alert(diseaseid);
		});

		//------------------行业筛选结束-----------------------


				
	
	</script> 
<include file="Public/publicFooter"/>
	