<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>超级医生-专家详情页</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" href="__CSS__/public.css">
	<link rel="stylesheet" href="__CSS__/idangerous.swiper.css">
	<link rel="stylesheet" href="__CSS__/expertDetails.css">
	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/idangerous.swiper.min.js"></script>
</head>
<body>
	<div class="box">
		<a name="top" id="top"></a>
		<!-- header -->
		<include file="Public/cjysHeader" />
		<div class="main">
			<div class="mainBox">
				<div class="mainBox1">
					<div class="mainBox1Intro fl">
						<div class="introName">墓内雅敏</div>
						<div class="introText">
							<li>世界肝胆胰外科第一人，被多为业内人士评为肝胆胰外科之王。所领导的东京大学第二外科一直走在世界肝脏外科的最前沿。</li>
							<li>近代肝胆胰外科的奠基人之一，所著作的《幕内肝脏外科学》被翻译为多个版本并作为肝部外科手术临床教学书籍。</li>
							<li>幕内教授现任IASGO（国际外科、消化科、肿瘤科医师协会）主席，是欧洲医学会等多个学会的名誉会员，并曾担任日本外科学会会长，是《Lancet》、《Hepatology》等多个杂志的编委或审稿人。目前为止，发表英文论文850余篇，主编英文专著7部，参予编写英文专著66部。</li>
						</div>
						<div class="introCatalogTable">
							<table cellpadding="3" cellspacing="0">
								<tr>
									<td rowspan="2" id="introCatalog">目<br>录</td>
									<td class="talogThis"><a href="#brief1" target="_self">简介</a></td>
									<td class="talogThis"><a href="#brief2" target="_self">职务</a></td>
									<td class="talogThis"><a href="#brief3" target="_self">成就</a></td>
								</tr>
								<tr>
									<td class="talogThis"><a href="#brief4" target="_self">履历</a></td>
									<td class="talogThis"><a href="#brief5" target="_self">参与活动</a></td>
									<td class="talogThis"><a href="#brief6" target="_self">擅长疾病</a></td>
								</tr>
							</table>
						</div>
					</div>
					<div class="mainBox1Pic fr">
						<img src="__IMG__/20180316cjys59.png" alt="">
						<div class="mainBox1Pic_Con">咨询预约</div>
					</div>
				</div>
				<div class="mainBox2">
					<div class="mainBox2Left fl">
						<div class="mainBox2LeftCon">
							<div class="mainBox2Title">
								<a name="brief1" id="brief1"></a>
								<div class="mainBox2TitleCon">简介</div>
								<div class="mainBox2TitleLine"></div>
							</div>
							<div class="docIntro">
								<div class="docIntroLi">
									<span class="docIntroLiSpan">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</span>
									墓内雅敏
								</div>
								<div class="docIntroLi">
									<span class="docIntroLiSpan">国&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;家：</span>
									日本
								</div>
								<div class="docIntroLi">
									<span class="docIntroLiSpan">就职医院：</span>
									日本红十字会总医院
								</div>
								<div class="docIntroLi">
									<span class="docIntroLiSpan">职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;务：</span>
									日本劳灾病院院长
								</div>
								<div class="docIntroLi">
									<span class="docIntroLiSpan">职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</span>
									主治医生  教授
								</div>
								<div class="docIntroLi">
									<span class="docIntroLiSpan">就诊时间：</span>
									每周二下午
								</div>
							</div>
						</div>
						<div class="mainBox2LeftCon">
							<div class="mainBox2Title">
								<a name="brief2" id="brief2"></a>
								<div class="mainBox2TitleCon">职务</div>
								<div class="mainBox2TitleLine"></div>
							</div>
							<div class="mainBox2LeftConInner">
								<li>-日本劳灾病院院长</li>
								<li>-国际外科、消化科和肿瘤科医师协会(IASGO)主席</li>
								<li>-日本外科学主席</li>
								<li>-《Lancet》、《Hepatology》等多个杂志的编委或审稿人</li>
							</div>
						</div>
						<div class="mainBox2LeftCon">
							<div class="mainBox2Title">
								<a name="brief6" id="brief6"></a>
								<div class="mainBox2TitleCon">擅长疾病</div>
								<div class="mainBox2TitleLine"></div>
							</div>
							<div class="mainBox2LeftConInner">
								<span class="disease">肝癌</span>
								<span class="disease">肝移植</span>
								<span class="disease">胰腺癌</span>
								<span class="disease">胆囊癌</span>      
							</div>
						</div>
						<div class="mainBox2LeftCon">
							<div class="mainBox2Title">
								<a name="brief3" id="brief3"></a>
								<div class="mainBox2TitleCon">成就</div>
								<div class="mainBox2TitleLine"></div>
							</div>
							<div class="mainBox2LeftConInner achievement">
								<li>世界首次成功进行小儿活体肝移植手术</li>
								<li>世界第一例采用左半肝供肝的成人间活体肝移植术</li>
								<div class="ConInnerImg">
									<img src="__IMG__/20180316cjys55.png" alt="">
									<div class="ConInnerImgTip">幕内雅敏手术中</div>
								</div>
								<li>世界第一例将术中超声融入手术并建立肝胆胰外科标准</li>
								<li>世界第一例实施门静脉栓赛术大幅度提高肝脏切除术后的安全性</li>
								<li>世界首先提出了在肝切除术中采用选择性半肝阻断</li>
								<div class="ConInnerPic fl">
									<img src="__IMG__/20180316cjys57.png" alt="">
									<span>幕内雅敏看望患者</span>
								</div>
								<div class="ConInnerPic fl">
									<img src="__IMG__/20180316cjys56.png" alt="">
									<span>幕内雅敏著作</span>
								</div>
								<div class="cl"></div>
							</div>
						</div>
						<div class="mainBox2LeftCon">
							<div class="mainBox2Title">
								<a name="brief4" id="brief4"></a>
								<div class="mainBox2TitleCon">履历</div>
								<div class="mainBox2TitleLine"></div>
							</div>
							<div class="mainBox2LeftConInner resume">
								<li>1946年 生于日本东京；</li>
								<li>1973年 毕业于东京大学医学部；</li>
								<li>1979年 完成6年基层医院轮转，进入日本国立癌症中心外科工作，主攻肝胆胰外科；</li>
								<li>1988年 担任肝胆科主任；</li>
								<li>1989年 任外科主任；10月，前往信州大学第一外科担任主任教授；</li>
								<li>1994年 回到东京大学第二外科担任主任教授(第二外科，现称肝胆胰外科及人工脏器移植外科)；</li>
								<li>2007年4月前往日本红十字医院担任院长至今。</li>
							</div>
						</div>
						<div class="mainLeftShare">
							<span class="mainLeftShareText fl">分享到</span>
							<img src="__IMG__/20180316cjys43.png" alt="微信" class="fl" data-src="20180316cjys43" title="微信">
							<img src="__IMG__/20180316cjys41.png" alt="微博" class="fl" data-src="20180316cjys41" title="微博">
							<img src="__IMG__/20180316cjys26.png" alt="QQ" class="fl" data-src="20180316cjys26" title="QQ">
							<div class="cl"></div>
						</div>
						<div class="WeChat">
							<div class="WeChatLogo fl"><img src="__IMG__/20180316cjys30.png" alt=""></div>
							<div class="WeChatText fr">关注微信公众号，了解更多医疗信息</div>
						</div>
					</div>
					<div class="mainBox2Right fr">
						<div class="mainRight1">
							<div class="mainRight1_title">专家问答</div>
							<div class="moreHos">
								<li class="main2TwoList">
									<span class="main2TwoList1 fl over2">墓内亚敏教授可以在国内手术吗?</span>
									<span class="main2TwoList2 fr">2回答</span>
								</li>
								<li class="main2TwoList">
									<span class="main2TwoList1 fl over2">肝癌手术幕内教授治疗药多少钱?</span>
									<span class="main2TwoList2 fr">2回答</span>
								</li>
								<li class="main2TwoList">
									<span class="main2TwoList1 fl over2">厚朴方舟独家签约墓内亚敏是真实?</span>
									<span class="main2TwoList2 fr">2回答</span>
								</li>
								<li class="main2TwoList">
									<span class="main2TwoList1 fl over2">胃癌能治好吗？胃癌能治好吗？胃癌能治好吗？</span>
									<span class="main2TwoList2 fr">2回答</span>
								</li>
							</div>
						</div>
						<div class="mainRight2">
							<div class="mainRight1_title">专家相关报告</div>
							<div class="moreHos">
								<div class="mainRight5Banner swiper-container">
									<div class="swiper-wrapper">
						                <div class="swiper-slide">
						                	<div class="caseBanner">
								                <img src="__IMG__/20180316cjys27.png" alt="">
								                <div class="caseBannerText">胃癌Ⅳ期患者秦女士赴日就医得解答</div>
							                </div>
						                </div>
						                <div class="swiper-slide">
						                 	<div class="caseBanner">
								                <img src="__IMG__/20180316cjys27.png" alt="">
								                <div class="caseBannerText">胃癌Ⅳ期患者秦女士赴日就医得解答</div>
							                </div>
						                </div>
						            </div>
								</div>
								<div class="lbcon">
								    <span class="lb_left"><img src="__IMG__/20180316cjys23.png" alt=""></span>
								    <span class="lb_right"><img src="__IMG__/20180316cjys24.png" alt=""></span>
							    </div>
							    <script>
							        var mySwiper1 = new Swiper('.mainRight5Banner',{
							            loop: true,
							            autoplay: 5000,
							        });
							        $('body').on('click','.lb_left',function(){
								      mySwiper1.swipePrev();
								      
								    })
								    $('body').on('click','.lb_right',function(){
								      mySwiper1.swipeNext();
								    })
							    </script>
							</div>
						</div>
						<div class="mainRight3">
							<div class="mainRight1_title" style="border:none">其他专家推荐</div>
							<div class="mainRight3Con">
								<img src="__IMG__/20180316cjys60.png" alt="" class="fl">
								<div class="mainRight3Con_right fl">
									<li class="mainRight3Con_rightName">铃木建司 教授</li>
									<li class="mainRight3Con_rightTip">肺癌治疗第一人</li>
								</div>
							</div>
							<div class="mainRight3Con">
								<img src="__IMG__/20180316cjys60.png" alt="" class="fl">
								<div class="mainRight3Con_right fl">
									<li class="mainRight3Con_rightName">铃木建司 教授</li>
									<li class="mainRight3Con_rightTip">肺癌治疗第一人</li>
								</div>
							</div>
							<div class="mainRight3Con">
								<img src="__IMG__/20180316cjys60.png" alt="" class="fl">
								<div class="mainRight3Con_right fl">
									<li class="mainRight3Con_rightName">铃木建司 教授</li>
									<li class="mainRight3Con_rightTip">肺癌治疗第一人</li>
								</div>
							</div>
						</div>
						<div class="mainRight4">
							<div class="mainRight1_title" style="border:none">向此专家提问</div>
							<div class="questions">
								<textarea name="" id="" onKeyUp="if(this.value.length > 30){this.value=this.value.substr(0,30)}">头疼，头晕，出虚汗怎么回事？</textarea>
								<div class="questionsTip">
									<span>字数限制5-30个字</span>
									<button>提交问题</button>
								</div>
							</div>
						</div>
						<div style="margin-top:180px">
							<a href="#top" target="_self">
								<img src="__IMG__/20180316cjys48.png" alt="" class="mainRight7Top" title="返回顶部">
							</a>
						</div>
					</div>
					<div class="cl"></div>
				</div>
			</div>
		</div>
		<!-- footer -->
		<include file="Public/cjysFooter" />
	</div>
	<script>
		var IMG='__IMG__/';
		// 分享
		$('.mainLeftShare img').hover(function(){
			var src=$(this).data('src');
			$(this).attr('src',IMG+src+'a.png');
		},function(){
			var src=$(this).data('src');
			$(this).attr('src',IMG+src+'.png');
		});
	</script>
</body>
</html> 