<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>超级医生-专家列表</title>
	<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	<link rel="stylesheet" href="__CSS__/public.css">
	<link rel="stylesheet" href="__CSS__/idangerous.swiper.css">
	<link rel="stylesheet" href="__CSS__/expertList.css">
	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/idangerous.swiper.min.js"></script>
</head>
<body>
	<div class="box">
		<!-- header -->
		<include file="Public/cjysHeader" />
		<div class="main">
			<div class="mainBoxLeft fl">
				<div class="mainBox1Banner swiper-container">
		            <div class="swiper-wrapper">
		                <div class="swiper-slide">
		                 	<img src="__IMG__/1511920180749.png" alt="" class="mainBox1BannerImg">
		                </div>
		                <div class="swiper-slide">
		                 	<img src="__IMG__/1511920180749.png" alt="" class="mainBox1BannerImg">
		                </div>
		                <div class="swiper-slide">
		                 	<img src="__IMG__/1511920180749.png" alt="" class="mainBox1BannerImg">
		                </div>
		            </div>
		            <div class="my-pagination"></div>
				</div>
				<script>
			        var mySwiper1 = new Swiper('.mainBox1Banner',{
			            loop: true,
			            autoplay: 5000,
			            pagination:'.my-pagination',
			            paginationClickable :true
			        });
			    </script>
			    <div class="mainBoxLeft2">
			    	<div class="mainBoxLeft2_title">找医院</div>
			    	<div class="mainBoxLeft2_content">
			    		<div class="hospitals">
			    			<div class="hospitals_name fl">国家</div>
			    			<span class="hospitalsAll">不限</span>
			    			<span class="hospitalsLi">日本</span>
			    			<span class="hospitalsLi">美国</span>
			    			<span class="hospitalsLi">中国</span>
			    		</div>
			    		<div class="hospitals">
			    			<div class="hospitals_name fl">科室</div>
			    			<span class="hospitalsAll">不限</span>
			    			<span class="hospitalsLi">肿瘤科</span>
			    			<span class="hospitalsLi">肿瘤科</span>
			    			<span class="hospitalsLi">肿瘤科</span>
			    		</div>
			    		<div class="hospitals">
			    			<div class="hospitals_name fl">职称</div>
			    			<span class="hospitalsAll">不限</span>
			    			<span class="hospitalsLi">主任医师</span>
			    			<span class="hospitalsLi">主任医师</span>
			    			<span class="hospitalsLi">主任医师</span>
			    		</div>
			    		<div class="hospitals">
			    			<div class="hospitals_name fl">部位</div>
			    			<span class="hospitalsAll">不限</span>
			    			<span class="hospitalsLi">头颈部</span>
			    			<span class="hospitalsLi">头颈部</span>
			    			<span class="hospitalsLi">头颈部</span>
			    		</div>
			    		<div class="hospitals">
			    			<div class="hospitals_name fl">性别</div>
			    			<span class="hospitalsAll">不限</span>
			    			<span class="hospitalsLi">男</span>
			    			<span class="hospitalsLi">女</span>
			    		</div>
			    	</div>
			    </div>
			    <div class="mainBoxLeft3">
			    	<div class="mainBoxLeft3_title">日本>肿瘤科>主任医师>头颈部</div>
			    	<div class="mainBoxLeft3DocBox">
				    	<div class="mainBoxLeft3_doc fl">
				    		<img src="__IMG__/20180316cjys13.png" alt="" class="mainBoxLeft3_docImg fl">
				    		<div class="mainBoxLeft3_docName fl">
				    			<li class="docName_con"><span class="docName">幕内雅敏</span>教授</li>
				    			<div class="docName_cons">
					    			<li class="docName_con">IASGO)主席</li>
									<li class="docName_con">日本外科学会会长</li>
									<li class="docName_con">日本红十字会总医院院长</li>
								</div>
								<li class="docName_con1">擅长：肝胆疾病、肝胆胰移植</li>
				    		</div>
				    	</div>
				    	<div class="mainBoxLeft3_doc fl">
				    		<img src="__IMG__/20180316cjys13.png" alt="" class="mainBoxLeft3_docImg fl">
				    		<div class="mainBoxLeft3_docName fl">
				    			<li class="docName_con"><span class="docName">幕内雅敏</span>教授</li>
				    			<div class="docName_cons">
					    			<li class="docName_con">IASGO)主席</li>
									<li class="docName_con">日本外科学会会长</li>
									<li class="docName_con">日本红十字会总医院院长</li>
								</div>
								<li class="docName_con1">擅长：肝胆疾病、肝胆胰移植</li>
				    		</div>
				    	</div>
				    	<div class="mainBoxLeft3_doc fl">
				    		<img src="__IMG__/20180316cjys13.png" alt="" class="mainBoxLeft3_docImg fl">
				    		<div class="mainBoxLeft3_docName fl">
				    			<li class="docName_con"><span class="docName">幕内雅敏</span>教授</li>
				    			<div class="docName_cons">
					    			<li class="docName_con">IASGO)主席</li>
									<li class="docName_con">日本外科学会会长</li>
									<li class="docName_con">日本红十字会总医院院长</li>
								</div>
								<li class="docName_con1">擅长：肝胆疾病、肝胆胰移植</li>
				    		</div>
				    	</div>
				    	<div class="mainBoxLeft3_doc fl">
				    		<img src="__IMG__/20180316cjys13.png" alt="" class="mainBoxLeft3_docImg fl">
				    		<div class="mainBoxLeft3_docName fl">
				    			<li class="docName_con"><span class="docName">幕内雅敏</span>教授</li>
				    			<div class="docName_cons">
					    			<li class="docName_con">IASGO)主席</li>
									<li class="docName_con">日本外科学会会长</li>
									<li class="docName_con">日本红十字会总医院院长</li>
								</div>
								<li class="docName_con1">擅长：肝胆疾病、肝胆胰移植</li>
				    		</div>
				    	</div>
				    	<div class="mainBoxLeft3_doc fl">
				    		<img src="__IMG__/20180316cjys13.png" alt="" class="mainBoxLeft3_docImg fl">
				    		<div class="mainBoxLeft3_docName fl">
				    			<li class="docName_con"><span class="docName">幕内雅敏</span>教授</li>
				    			<div class="docName_cons">
					    			<li class="docName_con">IASGO)主席</li>
									<li class="docName_con">日本外科学会会长</li>
									<li class="docName_con">日本红十字会总医院院长</li>
								</div>
								<li class="docName_con1">擅长：肝胆疾病、肝胆胰移植</li>
				    		</div>
				    	</div>
				    	<div class="mainBoxLeft3_doc fl">
				    		<img src="__IMG__/20180316cjys13.png" alt="" class="mainBoxLeft3_docImg fl">
				    		<div class="mainBoxLeft3_docName fl">
				    			<li class="docName_con"><span class="docName">幕内雅敏</span>教授</li>
				    			<div class="docName_cons">
					    			<li class="docName_con">IASGO)主席</li>
									<li class="docName_con">日本外科学会会长</li>
									<li class="docName_con">日本红十字会总医院院长</li>
								</div>
								<li class="docName_con1">擅长：肝胆疾病、肝胆胰移植</li>
				    		</div>
				    	</div>
				    	<div class="mainBoxLeft3_doc fl">
				    		<img src="__IMG__/20180316cjys13.png" alt="" class="mainBoxLeft3_docImg fl">
				    		<div class="mainBoxLeft3_docName fl">
				    			<li class="docName_con"><span class="docName">幕内雅敏</span>教授</li>
				    			<div class="docName_cons">
					    			<li class="docName_con">IASGO)主席</li>
									<li class="docName_con">日本外科学会会长</li>
									<li class="docName_con">日本红十字会总医院院长</li>
								</div>
								<li class="docName_con1">擅长：肝胆疾病、肝胆胰移植</li>
				    		</div>
				    	</div>
				    	<div class="mainBoxLeft3_doc fl">
				    		<img src="__IMG__/20180316cjys13.png" alt="" class="mainBoxLeft3_docImg fl">
				    		<div class="mainBoxLeft3_docName fl">
				    			<li class="docName_con"><span class="docName">幕内雅敏</span>教授</li>
				    			<div class="docName_cons">
					    			<li class="docName_con">IASGO)主席</li>
									<li class="docName_con">日本外科学会会长</li>
									<li class="docName_con">日本红十字会总医院院长</li>
								</div>
								<li class="docName_con1">擅长：肝胆疾病、肝胆胰移植</li>
				    		</div>
				    	</div>
				    	<div class="mainBoxLeft3_doc fl">
				    		<img src="__IMG__/20180316cjys13.png" alt="" class="mainBoxLeft3_docImg fl">
				    		<div class="mainBoxLeft3_docName fl">
				    			<li class="docName_con"><span class="docName">幕内雅敏</span>教授</li>
				    			<div class="docName_cons">
					    			<li class="docName_con">IASGO)主席</li>
									<li class="docName_con">日本外科学会会长</li>
									<li class="docName_con">日本红十字会总医院院长</li>
								</div>
								<li class="docName_con1">擅长：肝胆疾病、肝胆胰移植</li>
				    		</div>
				    	</div>
				    </div>
			    	<div class="cl"></div>
			    	<div class="moreDoc">
			    		<span data-n="1">更多专家<img src="__IMG__/1511920180752.png" alt=""></span>
			    	</div>
			    </div>
			</div>
			<div class="mainBoxRight fr">
				<div class="mainBoxRight1">
					<div class="mainBoxRight1_title">
						<li class="masterDoctor masterDoctorThis" data-n="1">主推医生</li>
						<li class="masterDoctor" data-n="2">最新加入专家</li>
					</div>
					<div class="masterDoctorBox masterDoctorBox_1">
						<div class="masterDoctorBoxLi">
							<img src="__IMG__/1511920180754.png" alt="" class="fl">
							<div class="masterDoctorBoxLiR fl">
								<li class="masterDoctorName">墓内晴朗教授</li>
								<li class="masterDoctorTitle">
									<span>北京协和医院</span>
									<span>内科主任</span>
								</li>
							</div>
						</div>
						<div class="masterDoctorBoxLi">
							<img src="__IMG__/1511920180754.png" alt="" class="fl">
							<div class="masterDoctorBoxLiR fl">
								<li class="masterDoctorName">墓内晴朗教授</li>
								<li class="masterDoctorTitle">
									<span>北京协和医院</span>
									<span>内科主任</span>
								</li>
							</div>
						</div>
						<div class="masterDoctorBoxLi">
							<img src="__IMG__/1511920180754.png" alt="" class="fl">
							<div class="masterDoctorBoxLiR fl">
								<li class="masterDoctorName">墓内晴朗教授</li>
								<li class="masterDoctorTitle">
									<span>北京协和医院</span>
									<span>内科主任</span>
								</li>
							</div>
						</div>
					</div>
					<div class="masterDoctorBox masterDoctorBox_2">
						222
					</div>
				</div>
				<div class="mainBoxRight2">
					<div class="mainBoxRight2_title">
						<span class="mainBoxRight2_title1">医生临床信息</span>
						<span class="mainBoxRight2_more fr">更多></span>
					</div>
					<div class="mainBoxRight2_con">
						<div class="mainBoxRight2_conTitle">
							<img src="__IMG__/1511920180756.png" alt="" class="fl">美国丹娜法伯非小细胞肺癌受试者招募？
						</div>
						<div class="mainBoxRight2_conInner">
							美国丹娜法伯非小细胞肺癌受试者招募美国丹娜法伯非小细胞肺癌受试者招募...
						</div>
					</div>
					<div class="mainBoxRight2_con">
						<div class="mainBoxRight2_conTitle">
							<img src="__IMG__/1511920180756.png" alt="" class="fl">美国丹娜法伯非小细胞肺癌受试者招募？
						</div>
						<div class="mainBoxRight2_conInner">
							美国丹娜法伯非小细胞肺癌受试者招募美国丹娜法伯非小细胞肺癌受试者招募...
						</div>
					</div>
					<div class="mainBoxRight2_con">
						<div class="mainBoxRight2_conTitle">
							<img src="__IMG__/1511920180756.png" alt="" class="fl">美国丹娜法伯非小细胞肺癌受试者招募？
						</div>
						<div class="mainBoxRight2_conInner">
							美国丹娜法伯非小细胞肺癌受试者招募美国丹娜法伯非小细胞肺癌受试者招募...
						</div>
					</div>
				</div>
				<div class="mainBoxRight3">
					<div class="mainBoxRight2_title">
						<span class="mainBoxRight2_title1">医生报道</span>
						<span class="mainBoxRight2_more fr">更多></span>
					</div>
					<div class="mainBoxRight2_con">
						<img src="__IMG__/1511920180755.png" alt="" class="mainBoxRight3Img fl">
						<div class="mainBoxRight3Con fl">
							<div class="mainBoxRight2_conTitle over2">美国丹娜法伯非小细胞肺癌受试者招募？
							</div>
							<div class="mainBoxRight2_conInner">
								美国丹娜法伯非小细胞肺癌受试者招募美国丹娜法伯非小细胞肺癌受试者招募...
							</div>
						</div>
					</div>
					<div class="mainBoxRight2_con">
						<img src="__IMG__/1511920180755.png" alt="" class="mainBoxRight3Img fl">
						<div class="mainBoxRight3Con fl">
							<div class="mainBoxRight2_conTitle over2">美国丹娜法伯非小细胞肺癌受试者招募？
							</div>
							<div class="mainBoxRight2_conInner">
								美国丹娜法伯非小细胞肺癌受试者招募美国丹娜法伯非小细胞肺癌受试者招募...
							</div>
						</div>
					</div>
					<div class="mainBoxRight2_con">
						<img src="__IMG__/1511920180755.png" alt="" class="mainBoxRight3Img fl">
						<div class="mainBoxRight3Con fl">
							<div class="mainBoxRight2_conTitle over2">美国丹娜法伯非小细胞肺癌受试者招募？
							</div>
							<div class="mainBoxRight2_conInner">
								美国丹娜法伯非小细胞肺癌受试者招募美国丹娜法伯非小细胞肺癌受试者招募...
							</div>
						</div>
					</div>
				</div>
				<div class="mainBoxRight4">
					<div class="mainBoxRight2_title">
						<span class="mainBoxRight2_title1">顶级医院</span>
						<span class="mainBoxRight2_more fr">更多></span>
					</div>
					<div class="moreHos">
						<div class="moreHosList fl">
							<img src="__IMG__/20180316cjys19.png" alt="">
							<li>北京协和医院</li>
						</div>
						<div class="moreHosList fl">
							<img src="__IMG__/20180316cjys19.png" alt="">
							<li>北京协和医院</li>
						</div>
						<div class="moreHosList fl">
							<img src="__IMG__/20180316cjys19.png" alt="">
							<li>北京协和医院</li>
						</div>
						<div class="moreHosList fl">
							<img src="__IMG__/20180316cjys19.png" alt="">
							<li>北京协和医院</li>
						</div>
						<div class="cl"></div>
					</div>
				</div>
			</div>
			<div class="cl"></div>
			<div class="mainBoxImg">
				<img src="__IMG__/1511920180748.png" alt="">
			</div>
		</div>
		<!-- footer -->
		<include file="Public/cjysFooter" />
	</div>
	<script>
		var IMG='__IMG__/';
		// 主推医生
		$('body').on('click','.masterDoctor',function(){
			var n=$(this).data('n');
			$('.masterDoctor').removeClass('masterDoctorThis');
			$(this).addClass('masterDoctorThis');
			$('.masterDoctorBox').hide();
			$('.masterDoctorBox_'+n).show();
		});
		// 更多专家
		$('body').on('click','.moreDoc span',function(){
			var n=$(this).data('n');
			if(n==1){
				$('.mainBoxLeft3DocBox').css('height','auto');
				$(this).html('收起<img src="'+IMG+'1511920180753.png" alt="">');
				$(this).data('n','2');
			}else{
				$('.mainBoxLeft3DocBox').css('height','760px');
				$(this).html('更多专家<img src="'+IMG+'1511920180752.png" alt="">');
				$(this).data('n','1');
			}
			
		});
	</script>
</body>
</html> 