<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>户型详情</title>
<link href="__CSS__/xiangmuhuxing.css" typex="text/css" rel="stylesheet" />
<link href="__CSS__/reset.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="__CSS__/footer.css">
</head>

<body>
    <div class="hdyx_wrap">
          <div class="hdyx_logo">
             <img src="__ACC__/{$roomInfo.tlogo}" />
          </div> 
    </div>
	<div class="img">
    	<p><img src="__ACC__/{$roomInfo.cover}" /></p>
    </div>
    <div class="img_bottom">
    	<p><img src="__IMG__/tp_3.png" /></p>
    </div>
    <div class="content">
    	<div class="tittle">
        	<dl>
            	<dt>{$roomInfo.auxiliaryname}</dt>
                <dd>{$roomInfo.name}<span>{$roomInfo.area}㎡</span></dd>
            </dl>
        </div>
        <div class="btn">
        	<ul>
				<foreach name="roomInfo.tags" item="tag"  key="k">
					<if condition="$k eq 0 ">
            	<li class="li1"><a href="#">{$tag.name}</a></li>
					<else />
				<li class="li2"><a href="#">{$tag.name}</a></li>	
					</if>
				</foreach>
            </ul>
        </div>
        <div class="c_img">
        	<p><img src="__IMG__/tp_4.png" /></p>
        </div>
        <div class="text">
        	{$roomInfo.desc}
        </div>
    </div>
	<div class="fot_bottom">
		<div class="fot_box">
			<ul class="ul1">
				<li>
					<a href="__MODULE__/Index/houseShow/id/{$roomInfo.houseid}"><p><img src="__IMG__/icon_fot.png"></p><span>首页</span></a>
				</li>
				<li style="background:#a68068;">
					<a href="__MODULE__/Index/info/id/{$roomInfo.houseid}"><p><img src="__IMG__/icon_fot_2.png"></p><span>基本信息</span></a>
				</li>
				<li>
					<a href="__MODULE__/Index/trends/id/{$roomInfo.houseid}"><p><img src="__IMG__/icon_fot_3.png"></p><span>最新动态</span></a>
				</li>
				<li>
					<a href="#"><p><img src="__IMG__/icon_fot_4.png"></p><span>客户推荐</span></a>
				</li>
				<li>
					<a href="__MODULE__/Index/reserve/id/{$roomInfo.houseid}"><p><img src="__IMG__/icon_fot_5.png"></p><span>预约购房</span></a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
<SCRIPT Language=VBScript><!--

//--></SCRIPT>