<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>最新活动</title>
<link href="__CSS__/zuixinhuodong.css" type="text/css" rel="stylesheet" />
<link href="__CSS__/reset.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="__CSS__/footer.css">
</head>
<body>
    <div class="hdyx_wrap">
          <a href="javascript:history.go(-1);"><img src="__IMG__/return.png" /></a>
          <div class="hdyx_logo">
             <img src="__ACC__/{$houseInfo.tlogo}" />
          </div> 
          <a href="#"><img src="__IMG__/gps.png"/ style="float:right;"></a>
    </div>
   <div class="activity">
   		<div class="new">
        	<a href="__MODULE__/Index/activityShow/id/{$houseInfo.id}"><h2>最新活动<span><img src="__IMG__/icon_zx.png" /></span></h2></a>
            <div class="dl1">
            	<div class="n_content">
                   <p><a href="__MODULE__/Index/trendsShow/id/{$activityListO.id}/hid/{$houseInfo.id}"><img src="__ACC__/{$activityListO.cover}" /></a></p>                   
                   <ul>
                       <li class="li1"><a href="__MODULE__/Index/trendsShow/id/{$activityListO.id}/hid/{$houseInfo.id}">{$activityListO.title}</a></li>
                       <li class="li2">{$activityListO.content}</li>
                   </ul>
                   <div class="clear" style="clear:both"></div>
               </div>
            </div>
            <div class="list">
            	<ul>
				<foreach name="activityList" item="activity" key="k" >
					<if condition="$k neq 0 ">
                	<li><a href="__MODULE__/Index/trendsShow/id/{$activity.id}/hid/{$houseInfo.id}">{$activity.title}</a></li>
					</if>
				</foreach>
                </ul>
            </div> 
        </div>
   </div>
   <div class="time">
   		<div class="new">
        	<a href="__MODULE__/Index/newsShow/id/{$houseInfo.id}"><h2>新闻动态<span><img src="__IMG__/icon_zx.png" /></span></h2></a>
             <div class="dl1">
            	<div class="n_content">
                   <p><a href="__MODULE__/Index/trendsShow/id/{$newsListO.id}/hid/{$houseInfo.id}"><img src="__ACC__/{$newsListO.cover}" /></a></p>                   
                   <ul>
                       <li class="li1"><a href="__MODULE__/Index/trendsShow/id/{$newsListO.id}/hid/{$houseInfo.id}">{$newsListO.title}</a></li>
                       <li class="li2">{$newsListO.content}</li>
                   </ul>
                   <div class="clear" style="clear:both"></div>
               </div>
            </div>
            <div class="list">
				<ul>
				<foreach name="newsList" item="news" key="k" >
					<if condition="$k neq 0 ">
                	<li><a href="__MODULE__/Index/trendsShow/id/{$news.id}/hid/{$houseInfo.id}">{$news.title}</a></li>
					</if>
				</foreach>
                </ul>
            </div> 
        </div>
   </div>
   <div class="fot_bottom">
		<div class="fot_box">
			<ul class="ul1">
				<li>
					<a href="__MODULE__/Index/houseShow/id/{$houseInfo.id}"><p><img src="__IMG__/icon_fot.png"></p><span>首页</span></a>
				</li>
				<li>
					<a href="__MODULE__/Index/info/id/{$houseInfo.id}"><p><img src="__IMG__/icon_fot_2.png"></p><span>基本信息</span></a>
				</li>
				<li style="background:#a68068;">
					<a href="__MODULE__/Index/trends/id/{$houseInfo.id}"><p><img src="__IMG__/icon_fot_3.png"></p><span>最新动态</span></a>
				</li>
				<li>
					<a href="#"><p><img src="__IMG__/icon_fot_4.png"></p><span>客户推荐</span></a>
				</li>
				<li>
					<a href="__MODULE__/Index/reserve/id/{$houseInfo.id}"><p><img src="__IMG__/icon_fot_5.png"></p><span>预约购房</span></a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
<SCRIPT Language=VBScript><!--

//--></SCRIPT>